<div class="empty text-center">
    <div class="title">
        "Kamu calon konglomerat ya, Kamu harus rajin belajar dan membaca, jangan ditelan sendiri. Berbagilah dengan teman-teman yang tak mendapat pendidikan." 
        <br/><br/>
        ― Wiji Thukul
    </div>
</div>