<div>
    <b>B. Jawablah dengan benar pertanyaan berikut!</b>
</div>

<div class="form-group">
    <label>1. Perhatikan gambar berikut ini!</label>
    <p>
        <img style="width:50%;" src="content/img/page102/1.png" alt="">
        <br/>
        <p>Termasuk pengungkit jenis berapakah gambar tersebut? Mengapa demikian? Sebutkan dua contoh benda yang ada di sekitar kamu
        yang menggunakan prinsip kerja pengungkit tersebut!</p>
    </p>
    <textarea class="form-control" name="" id="" row="3"></textarea>
</div>

<div class="form-group">
    <label>2. Perhatikan gambar di bawah ini!</label>
    <p>
        <img style="width:50%;" src="content/img/page102/2.png" alt="">
        <br/>
        <p>Hitunglah:<br/>
        <ol type="a">
            <li>Besar usaha yang dikerjakan oleh balok</li>
            <li>Besar daya yang dilakukan oleh balok dalam waktu 10 detik.</li>
        </ol>
    </p>
    <textarea class="form-control" name="" id="" row="3"></textarea>
</div>

<div class="form-group">
    <label>3. Perhatikan dua gambar pengungkit di bawah ini!</label>
    <p>
        <img style="width:80%;" src="content/img/page102/3.png" alt="">
        <br/>
        <p>Pengungkit manakah yang lebih membutuhkan sedikit energi jika digunakan?</p>
        <textarea class="form-control" name="" id="" row="3"></textarea>
</div>