<div class="form-group">
    <label>4. Perhatikan gambar berikut!</label>
    <p>
        <img style="width:20%;" src="content/img/page103/1.png" alt="">
        <br/>
        <p>Berapakah besar beban yang ditarik oleh katrol majemuk di atas?</p>
    </p>
    <textarea class="form-control" name="" id="" row="3"></textarea>
</div>

<div class="form-group">
    <label>5. Perhatikan gambar berikut!</label>
    <p>
        <img style="width:60%;" src="content/img/page103/2.png" alt="">
        <br/>
        <p>Berapakah besar keuntungan mekanis bidang miring tersebut?</p>
    <textarea class="form-control" name="" id="" row="3"></textarea>
</div>