<div class="box">
    <center>
        <h3>Ayo, Kita Kerjakan Proyek</h3>
        <h6>Mengidentifikasi Permasalahan Terkait Pesawat Sederhana di Lingkungan Sekitar</h6>
    </center>
    <p>
        <ul>
            <li>
                <b>Permasalahan</b><br/>
                <p>Pesawat sederhana banyak dimanfaatkan untuk memudahkan pekerjaan manusia. Permasalahan apa sajakah di lingkungan sekitarmu
                yang seharusnya diatasi dengan menggunakan prinsip pesawat sederhana, tetapi belum dipecahkan dengan menggunakan prinsip
                pesawat sederhana?</p>
            </li>
            <li>
                <b>Perencanaan</b>
                <br/>
                <p>Rancanglah kegiatan penyelidikan untuk mengidentifikasi permasalahan yang ada di lingkungan sekitar yang seharusnya diatasi
                dengan menggunakan prinsip pesawat sederhana, tetapi belum dipecahkan dengan menggunakan prinsip pesawat sederhana. Lakukan
                kegiatan ini dalam kelompok (2 orang per kelompok). Konsultasikan kepada guru perencanaan yang akan kamu lakukan.</p>
            </li>
            <li>
                <b>Pelaksanaan</b>
                <br/>
                <p>Lakukan kegiatan yang sudah kamu rancang. Catat permasalahan yang kamu dapatkan dari hasil identifikasi dan tentukan prinsip
                pesawat sederhana apa yang dapat kamu sarankan untuk mengatasi permasalahan tersebut.</p>
                
                <div class="mb-3" style="background:lightyellow;border:2px dotted red;padding:10px;">
                    Lakukan kegiatan ini dengan sungguh-sungguh. Jika kalian mengalami kesulitan mintalah bantuan pada guru atau orangtuamu.
                </div>

            </li>
            <li>
                <b>Penilaian</b>
                <br/>
                <p>Penilaian dilakukan berdasarkan produk berupa laporan tertulis hasil penyelidikan tentang permasalahan yang kamu temukan
                serta saran penggunaan pesawat sederhana yang dapat kamu berikan untuk mengatasi permasalahan tersebut.</p>
            </li>
            
        </ul>
    </p>
</div>