<p class="justify">Masih banyak struktur dan fungsi jaringan tumbuhan yang
menginspirasi manusia dalam mengembangkan teknologi. Kamu
tertarik untuk mengetahuinya bukan? Ayo, kita pelajari materi ini
dengan semangat!</p>

<h3><span>A</span>Struktur dan Fungsi Akar, Batang, Daun, dan Bunga</h3>
<div class="mb-4 text-center">
    <img style="width:80%;" src="content/img/page107/1.png">
    
</div>
<p class="justify">Masih ingatkah kamu bahwa tumbuhan dapat diklasifikasikan
menjadi kelompok tumbuhan tidak berpembuluh (<i>Thallophyta</i>)
dan tumbuhan berpembuluh (<i>Tracheophyta</i>)? Tumbuhan tidak
berpembuluh (<i>Thallophyta</i>) meliputi tumbuhan lumut (<i>Bryophyta</i>).
Tumbuhan berpembuluh (<i>Tracheophyta</i>) meliputi tumbuhan paku
(<i>Pteridophyta</i>) dan tumbuhan berbiji (<i>Spermatophyta</i>). Tumbuhan
berbiji dapat dikelompokkan lagi menjadi tumbuhan berbiji terbuka
(<i>Gymnospermae</i>) dan tumbuhan berbiji tertutup (<i>Angiospermae</i>).
Pada bagian ini kamu akan mempelajari lebih dalam tentang tumbuhan
berpembuluh.</p>
<p class="justify">Masih ingatkah kamu apa itu organ? Organ merupakan kumpulan
dari beberapa macam jaringan yang berbeda dan membentuk satu
kesatuan untuk melakukan fungsi tertentu. Tahukah kamu organ
penyusun tumbuhan berpembuluh? Tubuh tumbuhan berpembuluh
tersusun atas beberapa organ. Secara umum, organ penyusun
tumbuhan berpembuluh dapat dikelompokkan menjadi organ vegetatif
dan organ generatif.</p>
<p class="justify">Apakah organ vegetatif itu? Organ vegetatif merupakan organ
tumbuhan yang berfungsi untuk mendukung pertumbuhan dan
perkembangan tumbuhan, terutama berguna untuk penyerapan,</p>