<p class="justify no-indent">pengolahan, pengangkutan, dan penimbunan zat-zat makanan. Organ
vegetatif tumbuhan berpembuluh terdiri atas akar, batang, dan daun.
Organ generatif merupakan organ tumbuhan yang berfungsi dalam
proses perkembangbiakan secara generatif atau seksual (didahului
lieh peristiwa perkawinan). Pada tumbuhan berbiji tertutup
(Angiospermae) organ generatif terdiri atas bunga, buah, dan biji.
Sebelum kita mempelajari lebih dalam tentang organ vegetatif pada
tumbuhan berpembuluh, ayo kita lakukan aktivitas berikut!</p>

<div class="box">
    <center>
        <h3>Ayo, Kita Lakukan</h3>
        <h6>Aktivitas 3.1 Mengidentifikasi Organ Penyusun Tumbuhan beserta Fungsinya</h6>
    </center>
    <p><b>Apa yang kamu perlukan?</b></p>
    <ol>
        <li>Tumbuhan bayam (<i>Amaranthus sp.</i>), tumbuhan pacar air
        (<i>Impatiens balsamina</i>), kangkung (<i>Ipomoea reptans</i>), atau
        tanaman lainnya lengkap dengan akar, batang, dan daun.
        </li>
        <li>Jahe/kunyit/lengkuas</li>
        <li>Kentang</li>
        <li>Wortel</li>
        <li>Singkong</li>
        <li>Tumbuhan kaktus/tumbuhan buah naga</li>
    </ol>
    <p><b>Apa yang harus kamu lakukan?</b></p>
    <ol>
        <li>Bersama kelompokmu, amati dan deskripsikan ciri-ciri umum
            dari akar, batang, dan daun dari tumbuhan bayam, pacar air,
            atau kangkung.
        </li>
        <li> Jelaskan fungsi dari masing-masing organ yang telah kamu
        amati!</li>
    </ol>
    <p><b>Apa yang harus kamu lakukan?</b></p>
    <ol>
        <li>Bersama kelompokmu amatilah rimpang jahe/kunyit/lengkuas,
            kentang, wortel, dan singkong! Apakah termasuk batang, akar,
            atau daun? Kemukakan alasanmu!
        </li>
        <li> Bersama kelompokmu amatilah tanaman kaktus/buah naga.
        Apakah tanaman kaktus/buah naga memiliki daun? Di manakah
        tempat fotosintesis tanaman kaktus?</li>
    </ol>
</div>