<div class="box">
    <p><b>Apa yang dapat kamu simpulkan?</b></p>
    <p>Berdasarkan pengamatan dan diskusi yang telah kamu lakukan,
    apa yang dapat kamu simpulkan?</p>
</div>

<p class="justify">Setelah kamu melakukan Aktivitas 3.1, dapatkah kamu
membedakan antara akar dan batang? Menurutmu rimpang jahe,
kunyit, dan lengkuas termasuk akar atau batang? Agar kamu dapat
membedakannya, pelajarilah struktur akar dan batang berikut ini.</p>

<h4><span>1</span>Struktur dan Fungsi Akar</h4>

<p class="justify">Akar merupakan organ tumbuhan yang umumnya berada di
bawah permukaan tanah, tidak memiliki buku-buku, tumbuh ke
pusat bumi atau menuju air, warna tidak hijau (keputih-putihan atau
kekuning-kuningan), dan memiliki bentuk meruncing. Pernahkah
kamu mendengar sistem perakaran? Coba perhatikan Gambar 3.2.
Terdapat dua jenis sistem perakaran pada tumbuhan, yaitu serabut
dan tunggang. Tumbuhan monokotil seperti padi, jagung, dan rumput
memiliki sistem perakaran serabut. Sebaliknya pada tumbuhan dikotil
seperti kacang tanah dan mangga memiliki sistem perakaran tunggang.</p> 

<div style="width:60%;margin:auto;">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 " src="content/img/page109/2.png" alt="Akar Serabut" >
            <div class="carousel-caption d-none d-md-block">
            <h5>Akar Serabut</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100"  src="content/img/page109/3.png"  alt="Akar Tunggang">
            <div class="carousel-caption d-none d-md-block">
            <h5>Akar Tunggang</h5>
            </div>
        </div>
        
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a>
    </div>
    <div class=" mb-4 text-center ">
        <small>Sumber: Dok. Kemdikbud
        <br/>
        <b>Gambar 3.2</b> Sistem Perakaran Tumbuhan (a) Akar Serabut, (b) Akar Tunggang</small>
    </div>
</div>

<p class="justify">Akar memiliki fungsi untuk menambatkan tubuh tumbuhan pada
tanah atau medium tumbuhnya, menyerap air dan mineral dalam
tanah atau pada medium tumbuhnya. Pada beberapa tumbuhan,
akar mengalami modifikasi sehingga dapat memiliki fungsi untuk
menyimpan cadangan makanan misalnya pada singkong dan
bengkuang serta berfungsi juga untuk menyerap oksigen atau untuk
bernapas, misalnya pada tumbuhan bakau.</p>