<div class="mb-4 text-center">
    <a data-fancybox="gallery" href="content/img/page11/1.png"><img style="width:20%; height:150px; " src="content/img/page11/1.png"></a> 
    <a data-fancybox="gallery" href="content/img/page11/2.png"><img style="width:30%;" src="content/img/page11/2.png"></a>
    <div>
        <small>Sumber: Dok. Kemdikbud<br/>
        <b>Gambar 1.7</b> Contoh (a) Seseorang Hendak Memanah, (b) Peserta Didik sedang
        Mendorong Meja <br>Mendekati Lampu Merah</small>
    </div>
</div>

<p>Gaya tak sentuh adalah gaya yang tidak membutuhkan sentuhan
langsung dengan benda yang dikenai. Contohnya seperti saat kita
mendekatkan ujung magnet batang dengan sebuah paku besi. Seketika
paku besi akan tertarik dan menempel pada magnet batang. Hal tersebut
disebabkan oleh adanya pengaruh gaya magnet yang ditimbulkan
magnet batang. Selain gaya magnet, gaya gravitasi pada orang yang
sedang terjun payung juga merupakan contoh gaya tak sentuh. Lebih
lanjut tentang gaya dan interaksinya terhadap gerak benda akan
dibahas pada pembahasan tentang Hukum Newton tentang gerak.</p>

<h4><span>3.</span>Hukum Newton</h4>

<h5><span>a.</span> Hukum I Newton</h5>

<p>Coba pikirkan, mengapa saat berada di dalam bus yang sedang
melaju kencang dan tiba-tiba bus direm badan kita akan terdorong
ke depan? Mengapa pada saat berada di dalam mobil kita perlu
mengenakan sabuk pengaman? Sebelum mempelajari Hukum I
Newton, lakukanlah aktivitas berikut ini!</p>