<h4><span>2</span>Struktur dan Fungsi Batang</h4>

<p class="justify">Pada umumnya tumbuhan yang kamu lihat memiliki batang yang
berdiri tegak di atas tanah serta mendukung cabang, daun, dan bunga.
Batang umumnya berbentuk panjang bulat seperti silinder, memiliki
ruas-ruas (internodus) yang masing-masing dibatasi oleh bukubuku
(nodus). Pada nodus inilah tempat melekatnya daun dan tunas.
Batang memiliki banyak fungsi antara lain menyokong bagian-bagian
tumbuhan yang berada di atas tanah, dan sebagai jalan pengangkutan
air dan mineral dari akar menuju daun dan jalan pengangkutan
makanan dari daun ke seluruh tubuh tumbuhan.</p> 
<p class="justify">Tahukah kamu apa perbedaan struktur luar batang tumbuhan
monokotil dan dikotil? Perhatikan Gambar 3.4 berikut.</p>

<div style="margin:auto;width:50%;" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
    <div class="carousel-item active">
        <img class="d-block w-100 " src="content/img/page111/2.png" alt="Akar Serabut" >
        <div class="carousel-caption d-none d-md-block">
        <h5>Batang Bambu</h5>
        </div>
    </div>
    <div class="carousel-item">
        <img class="d-block w-100"  src="content/img/page111/3.png"  alt="Akar Tunggang">
        <div class="carousel-caption d-none d-md-block">
        <h5>Batang Pohon Srikaya</h5>
        </div>
    </div>
    
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
    </a>
</div>
<div class=" mb-4 text-center ">
    <small>Sumber: Dok. Kemdikbud
        <br/>
        <b>Gambar 3.4</b> Perbedaan Struktur Luar Batang Monokotil dan Dikotil, (a) Batang Bambu, (b) Batang Pohon Srikaya
    </small>
    
</div>

<p class="justify">Apa yang kamu amati dari batang tumbuhan monokotil dan batang
tumbuhan dikotil? Batang tumbuhan monokotil memiliki ruas-ruas
batang terlihat jelas (Gambar 3.4a), sedangkan batang tumbuhan
dikotil ruas-ruas batang tidak terlihat jelas (Gambar 3.4b).</p>
<p class="justify">Pada beberapa tumbuhan, batang dapat mengalami modifikasi dan
berfungsi sebagai tempat menyimpan cadangan makanan, misalnya
pada tumbuhan tebu dan kentang dan rimpang kunyit. Sebagai bukti
bahwa rimpang kunyit dan umbi kentang adalah batang, perhatikan
Gambar 3.5! Coba jelaskan dengan kalimatmu sendiri!</p>