<div style="width:50%;margin:auto;" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 " src="content/img/page112/1.png" alt="Tebu" >
            <div class="carousel-caption d-none d-md-block">
            <h5>Tebu</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100"  src="content/img/page112/2.png"  alt="Kentang">
            <div class="carousel-caption d-none d-md-block">
            <h5>Kentang</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100"  src="content/img/page112/3.png"  alt="Rimpang Kunyit">
            <div class="carousel-caption d-none d-md-block">
            <h5>Rimpang Kunyit</h5>
            </div>
        </div>
        
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class=" mb-4 text-center">
    <small>
        Sumber: Dok. Kemdikbud Buku Tunas
        <br/>
        <b>Gambar 3.5</b> Tumbuhan yang Menyimpan Cadangan Makanan di Batang, (a) Tebu
        (b) Kentang, (c) Rimpang Kunyit
    </small>
</div>

<div class="box">
    <center>
        <h3>Ayo, Kita Cari Tahu</h3>
    </center>
    <p class="justify">Lakukan pengamatan terhadap tumbuhan di sekitarmu
    atau carilah berbagai informasi (informasi didapat dari buku,
    pengamatan tumbuhan di sekitar, internet, majalah atau koran)
    batang yang mengalami modifikasi struktur dan fungsinya sehingga
    memiliki fungsi tambahan bagi tumbuhan. Catatlah setiap informasi
    yang kamu dapat pada Tabel 3.2!</p>
    <div class=" mb-4 text-center ">
        <small>
            <b>Tabel 3.2</b> Tumbuhan yang Batangnya Mengalami Modifikasi Struktur dan Fungsi
        </small>
        <img style="width:80%" src="content/img/page112/5.png">
    </div>
</div>