<h4><span>3</span>Struktur dan Fungsi Daun</h4>

<p class="justify">Daun merupakan organ tumbuhan yang menempel pada batang,
biasanya berbentuk tipis lebar dan banyak mengandung zat warna
hijau yang dinamakan klorofil. Daun memiliki beberapa fungsi, antara
lain sebagai alat untuk mengambil gas karbon dioksida (CO2) yang
digunakan sebagai sumber (bahan baku) dalam fotosintesis, mengatur
penguapan air (transpirasi), dan pernapasan (respirasi) tumbuhan.</p> 
<p class="justify">Pada bagian sebelumnya kamu telah mempelajari bahwa sistem
perakaran dan batang antara tumbuhan monokotil dan dikotil
berbeda. Demikian pula dengan daun, setiap tumbuhan memiliki
bentuk, ukuran, dan warna daun yang berbeda untuk mencirikan
tumbuhan tersebut. Apakah struktur luar daun monokotil dengan
daun dikotil berbeda? Ada perbedaan struktur luar daun monokotil
dan daun dikotil. Peruratan daun merupakan ciri untuk mengetahui
suatu tumbuhan termasuk monokotil maupun dikotil. Daun monokotil
memiliki peruratan daun yang sejajar, sedangkan tumbuhan dikotil
memiliki peruratan daun menjala. Perhatikan Gambar 3.6!</p>

<div style="width:50%;margin:auto;" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
    <div class="carousel-item active">
        <img class="d-block w-100 " src="content/img/page113/2.png" alt="Daun Pepaya (Peruratan Menjala)" >
        <div class="carousel-caption d-none d-md-block">
        <h5>Daun Pepaya (Peruratan Menjala)</h5>
        </div>
    </div>
    <div class="carousel-item">
        <img class="d-block w-100"  src="content/img/page113/3.png"  alt="Daun Jagung (Peruratan Sejajar)">
        <div class="carousel-caption d-none d-md-block">
        <h5>Daun Jagung (Peruratan Sejajar)</h5>
        </div>
    </div>
    
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
    </a>
</div>
<div class=" mb-4 text-center ">
    <small>Sumber: Dok. Kemdikbud
        <br/>
        <b>Gambar 3.6</b> Perbedaan Struktur Luar Daun Monokotil dan Dikotil, (a) Daun
        Pepaya (Peruratan Menjala), (b) Daun Jagung (Peruratan Sejajar)
    </small>
</div>

<div class="box">
    <center>
        <h3>Ayo, Kita Diskusikan</h3>
    </center>
    <p class="justify">Berdasarkan karakteristik daun, pisang dan rumput termasuk
    kelompok tumbuhan monokotil atau dikotil?</p>
</div>

<p class="justify">Pada proses fotosintesis dibutuhkan cahaya sebagai sumber
energi. Energi tersebut ditangkap oleh zat hijau daun yang disebut
klorofil. Gas karbon dioksida (CO2) dan air (H2O) digunakan sebagai</p>