<p class="justify no-indent">bahan baku untuk menghasilkan glukosa (C<sub>6</sub>H<sub>12</sub>O<sub>6</sub>) dan oksigen (O<sub>2</sub>).
Perhatikan reaksi berikut!</p> 
<div class=" mb-4 text-center">
    <img style="width:80%" src="content/img/page114/1.png">
</div> 
<p class="justify">Glukosa selanjutnya akan disusun menjadi zat pati/amilum
((C<sub>6</sub>H<sub>10</sub>O<sub>5</sub>))n melalui reaksi polimerisasi. Amilum tersebut kemudian
disimpan dalam akar (misalnya pada singkong), batang (misalnya pada
sagu), dan buah (misalnya pada padi). Bagaimana kita membuktikan
bahwa fotosintesis terjadi dalam daun? Bagaimana membuktikan
bahwa fotosintesis menghasilkan amilum? Untuk mengetahuinya, ayo
lakukan aktivitas berikut!</p>

<div class="box">
    <center>
        <h3>Ayo, Kita Lakukan</h3>
        <h6>Aktivitas 3.2 Menyelidiki Adanya Amilum sebagai Hasil Fotosintesis</h6>
    </center>
    <p><b>Apa yang perlu kamu siapkan?</b></p>
    <ol>
        <li>1 buah gelas kimia besar</li>
        <li>1 buah gelas kimia kecil atau tabung reaksi</li>
        <li> Daun lamtoro/petai cina (Sesbania grandiflora) atau daun
        tumbuhan lainnya yang terdapat di lingkungan sekitarmu.</li>
        <li>Iodium (Iod KI) secukupnya</li>
        <li>Aluminium foil</li>
        <li>Cawan petri</li>
        <li>Alkohol secukupnya</li>
        <li>Air secukupnya</li>
        <li>1 buah pembakar spiritus</li>
        <li>Kaki tiga</li>
        <li>Penjepit</li>
    </ol>
    <p><b>Apa yang harus kamu lakukan?</b></p>
    <ol>
        <li>Siapkan alat dan bahan yang diperlukan!</li>
        <li>Pada sore hari tutuplah sebagian daun lamtoro dengan
        menggunakan aluminium foil atau kertas timah. Perhatikan
        Gambar 3.7a! Petiklah daun setelah ditutup selama 6 - 12 jam.</li>  
    </ol>
</div>