<div class="box">
<ol start="3">
    <li>
        Bukalah aluminium foil yang menutupi daun.
        <div style="margin:auto;width:50%;" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="content/img/page115/1.png" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="content/img/page115/2.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="content/img/page115/3.png" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="content/img/page115/4.png" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class=" mb-4 text-center ">
            <small>Sumber: Dok. Kemdikbud
            <br/>
                <b>Gambar 3.7</b> Percobaan Sachs: (a) Daun yang Ditutup Aluminium Foil, (b) Daun
                yang Dilayukan pada Air Mendidih, (c) Klorofil yang Dilarutkan dalam Alkohol, (d)
                Daun yang Sudah Ditetesi Larutan Iodium (Iod KI)
            </small>
        </div>
    </li>
    <li>Rebuslah air pada gelas kimia terlebih dahulu, ketika sudah
    mendidih masukkan daun sampai layu lebih kurang 13 menit
    (perebusan dilakukan untuk mematikan sel-sel pada daun).
    Perhatikan Gambar 3.7b. Berhati-hatilah dalam merebus daun!</li>
    <li>Tiriskan dan masukkan daun tersebut ke dalam gelas kimia
    kecil atau tabung reaksi yang sudah diberi alkohol. Pencelupan
    ke dalam alkohol bertujuan untuk melarutkan klorofil sehingga
    daun berwarna pucat.</li>
    <li>Letakkan alkohol pada meja yang berbeda dengan meja
    praktikum, agar jauh dari sumber api. Pada waktu akan
    mematikan pembakar spiritus jangan ditiup, tetapi dilakukan
    dengan menutupkan spiritus dengan penutupnya.</li>
    <li>Masukkan gelas kimia kecil atau tabung reaksi yang berisi
    alkohol tersebut ke dalam gelas kimia besar yang berisi air yang
    sudah dipanaskan! Perhatikan Gambar 3.7c.</li>
    <li> Tunggu sampai warna alkohol menjadi hijau tua dan warna
    daun menjadi hijau muda!</li> 
    <li>Setelah itu, angkat daun dari gelas kimia kecil atau tabung
    reaksi yang berisi alkohol, kemudian letakkan daun di wadah,
    dan teteskan iodium pada daun tersebut!</li>
    <li> Amatilah perbedaan yang tampak pada daun yang ditutup dan
    terbuka tersebut!</li>
    <li> Lakukan setiap langkah kerja dengan cermat dan hati-hati!
    Apa yang perlu kamu diskusikan?</li>
</ol>
<p><b>Apa yang perlu kamu diskusikan?</b></p>
<ol>
    <li>Bagaimanakah warna daun yang ditutup (tidak mengalami
    fotosintesis) setelah ditetesi iodium? Bandingkan dengan warna
    daun yang tidak ditutup!</li>
</ol>