<div class="box">
    <ol start="2">
        <li> Daun yang ditetesi Iodium menjadi berwarna hitam, hal
        ini menunjukkan adanya amilum. Daun manakah yang
        mengandung amilum?</li>
        <li>Tulislah laporan hasil percobaanmu pada kertas folio, lalu
        kumpulkan kepada guru untuk diperiksa!.</li>
        <li>Coba bayangkan betapa hebatnya Tuhan menciptakan
        tumbuhan, sinar matahari, air, udara, dan merancang segala
        proses yang terjadi yang sangat bermanfaat bagi kehidupanmu.</li>
    </ol>
    <p><b>Apa yang dapat kamu simpulkan?</b></p>
    <p class="justify">Berdasarkan percobaan dan diskusi yang telah kamu lakukan,
    apa yang dapat kamu simpulkan?</p>
</div>

<div class="box">
    <center>
        <h3>Ayo, Kita Pikirkan!</h3>
    </center>
    <p>Tahukah kamu tumbuhan kaktus? Jika kamu belum pernah
    melihatnya perhatikan Gambar 3.8! Coba perhatikan struktur
    tubuh kaktus, apakah kaktus memiliki daun? Di manakah tempat
    terjadinya fotosintesis pada tumbuhan kaktus?
    Sumber:www.devianart.net
    Gambar 3.8></p>
    <div class="mb-4 text-center">
        <img style="width:80%;" src="content/img/page116/2.png" >
            <div>
                <small>
                    Sumber: Dok. Kemdikbud 
                    <br/>
                    <b>Gambar 3.7</b> Percobaan Sachs: (a) Daun yang Ditutup Aluminium Foil, (b) Daun yang Dilayukan pada Air Mendidih, (c) Klorofil yang Dilarutkan dalam Alkohol, (d) Daun yang Sudah Ditetesi Larutan Iodium (Iod KI)
                </small>
            </div>
    </div>
</div>