<h4><span>4</span>Struktur dan Fungsi Bunga</h4>

<p class="justify">Kamu tentu pernah melihat bunga bukan? Bunga merupakan
alat reproduksi generatif pada tumbuhan. Bunga biasanya memiliki
warna yang menarik dan berfungsi untuk menarik serangga atau
hewan lain yang dapat membantu proses penyerbukan. Secara umum,
bunga tersusun atas dua bagian utama, yaitu perhiasan bunga dan alat
reproduksi bunga. Perhiasan bunga meliputi tangkai, kelopak (kaliks),
dan mahkota (korola). Sedangkan alat reproduksi berupa benang sari
(alat kelamin jantan) dan putik (alat kelamin betina). Bunga yang
memiliki bagian-bagian tersebut disebut bunga lengkap. Sedangkan
bunga yang tidak memiliki salah satunya disebut bunga tidak lengkap.</p>
            
<div class="mb-4 text-center">
    <img style="width:80%;" src="content/img/page117/2.png" >
    <div>
        <small>
            Sumber: Campbell et al. 2008 
            <br/>
            <b>Gambar 3.9</b> Struktur Bunga<br/>
            <u>Gambar ini didukung augmented reality, scan dengan aplikasi Puskurbuk untuk memainkan.</u>
        </small>
    </div>
</div>

<p class="justify">Berdasarkan keberadaan alat reproduksi dalam satu bunga, ada
bunga yang memiliki benang sari dan putik dalam satu bunga. Bunga
yang demikian disebut dengan bunga sempurna. Namun, ada juga
bunga yang hanya memiliki satu alat kelamin saja dalam satu bunga,
benang sari saja atau putik saja. Bunga yang demikian disebut bunga
tidak sempurna.</p>