<h3><span>B</span>Struktur dan Fungsi Jaringan Tumbuhan</h3>
<div class="mb-4 text-center">
    <img style="width:80%;" src="content/img/page119/1.png" >
</div>  
<p class="justify">Pada bagian sebelumnya, kamu telah belajar tentang organ
tumbuhan bukan? Organ tumbuhan tersusun atas berbagai jenis
jaringan. Masih ingatkah kamu apa itu jaringan? Jaringan adalah
sekumpulan sel yang memiliki struktur yang sama yang membentuk
suatu kesatuan untuk memberikan fungsi tertentu. Sel-sel pada
tumbuhan yang memiliki struktur yang sama akan terintegrasi
menjadi suatu jaringan dan memberikan fungsi tertentu pada tubuh
tumbuhan. Berdasarkan aktivitas pembelahan sel penyusun jaringan
selama masa pertumbuhan dan perkembangan, jaringan tumbuhan
dapat dikelompokkan menjadi jaringan meristem (jaringan embrional)
dan jaringan permanen (jaringan dewasa).</p>   
<h4><span>1</span>Jaringan Meristem</h4>
<p class="justify">Jaringan meristem atau disebut juga jaringan embrional adalah
jaringan yang sel-selnya aktif membelah diri secara mitosis. Hal ini
menyebabkan sel-sel tumbuhan semakin bertambah dan menyebabkan
tumbuhan mengalami pertambahan tinggi dan volume. Berdasarkan
asal terbentuknya, jaringan meristem dapat dikelompokkan menjadi
dua macam, yaitu meristem primer dan meristem sekunder.</p>
<h5><span>a.</span>Meristem Primer</h5>
<p class="justify">Meristem primer adalah jaringan meristem pada tumbuhan yang
sel-selnya aktif membelah. Meristem primer pada umumnya terdapat
pada ujung batang dan ujung akar oleh karena itu meristem primer
menyebabkan pertumbuhan primer pada tumbuhan (pertumbuhan
vertikal atau perpanjangan akar dan batang). Perhatikan Gambar 3.12!</p>
       