<p class="justify">Aktivitas kambium ini menyebabkan tumbuhan mengalami
pertumbuhan sekunder sehingga batang menjadi besar. Aktivitas
pembelahan kambium vaskuler ke arah dalam akan membentuk xilem
sekunder sedangkan pembelahan ke arah luar akan membentuk floem
sekunder.</p>

<div class="box">
    <center>
        <h3>Tahukah Kamu?</h3>
    </center>
    <div class="row">
        <div class="col-4">
            <img style="width:100%;" src="content/img/page121/2.png">
            <div>
                <small>Sumber: Recee et al. 2009
                <br/>
                <b>Gambar 3.14</b> Lingkaran Tahun</small>
            </div>
        </div>
        <div class="col-8 justify">
            <p>Kita dapat menentukan umur
                pohon dengan melihat lingkaran tahun
                (daerah gelap-terang) yang terbentuk
                pada batang pohon. Agar kamu
                mengetahuinya, perhatikan Gambar
                3.14! Lingkaran tahun terbentuk
                karena aktivitas kambium vaskuler
                yang dipengaruhi oleh musim. Saat
                musim hujan banyak air yang dapat
                diserap oleh tumbuhan, menyebabkan
                pembelahan sel kambium vaskuler</p>
        </div>
    </div>
    <p class="justify no-indent mt-2">meningkat dan ukuran sel menjadi besar, akibatnya terbentuk
    daerah terang. Saat musim kemarau, air yang dapat diserap
    tumbuhan sedikit, sehingga pembelahannya lebih lambat. Selsel
    hasil pembelahan juga memiliki ukuran yang kecil dan rapat,
    sehingga terbentuk daerah gelap pada batang.</p>
</div>
      
<div class="box">
    <center>
        <h3>Ayo, Kita Diskusikan</h3>
    </center>
    <p class="justify">Tumbuhan dikotil memiliki meristem sekunder sehingga
    batang tumbuhan dikotil dapat tumbuh besar. Sedangkan
    tumbuhan monokotil tidak memiliki meristem sekunder sehingga
    batang tumbuhan monokotil tidak dapat tumbuh besar. Pernahkah
    kamu melihat pohon kelapa atau pohon palem? Pohon kelapa dan
    palem merupakan tumbuhan monokotil. Namun, ketika kamu
    mengamati pohon tersebut ternyata memiliki batang yang besar.
    Coba diskusikan dengan temanmu bagaimana tumbuhan kelapa
    dan palem dapat memiliki batang yang besar!</p>
</div>