<h4><span>2</span>Jaringan Dewasa</h4>

<p class="justify">Jaringan dewasa atau disebut juga jaringan permanen merupakan
jaringan yang bersifat non-meristematik atau tidak aktif membelah.
Jaringan ini berasal dari pembelahan sel-sel meristem primer dan sel-sel
meristem sekunder, yang telah mengalami diferensiasi atau mengalami
perubahan bentuk sehingga memiliki fungsi tertentu. Berdasarkan
fungsinya jaringan dewasa dibedakan menjadi empat, yaitu jaringan
pelindung, jaringan dasar, jaringan penyokong, dan jaringan pengangkut.
Bagaimana struktur dan fungsi dari masing-masing jaringan tersebut?
Untuk mengetahuinya, ayo lakukan aktivitas berikut!</p>

<div class="box">
    <center>
        <h3>Ayo, Kita Lakukan</h3>
        <h6>Aktivitas 3.3 Mengidentifikasi Struktur dan Fungsi Jaringan Tumbuhan</h6>
    </center>
    <div class="row">
        <div class="col-7">
        <p><b>Apa yang kamu perlukan?</b></p>
        <ol>
            <li>Daun nanas kerang (<i>Rhoeo discolor</i>) (Gambar 3.15)</li>
            <li>Daun durian (<i>Durio zibethinus</i>)</li>
            <li>Umbi kentang (<i>Solanum tuberosum</i>)</li>
            <li>Akar dan batang tanaman bayam (<i>Amaranthus spinosus</i>)</li>
            <li>Akar dan batang jagung (<i>Zea mays</i>)</li>
            <li>buah kaca benda</li>
            <li>7 buah kaca penutup</li>
            <li>1 buah pipet tetes</li>
            <li>1 buah silet</li>
            <li>1 buah gelas kimia 250 mL</li>
            <li>Penjepit (pinset) 1 buah</li>
            <li>1 batang jarum</li>
            <li>1 batang pensil</li>
            <li>Larutan kalium iodida (Larutan KI)</li>
            <li>Tisu</li>
        </ol>
                
        </div>
        <div class="col-5">
            <div class="mb-4 text-center">
                <img style="width:80%;" src="content/img/page122/3.png" >
                    <div>
                        <small>
                            Sumber: Dok. Kemdikbud
                            <br/>
                            <b>Gambar 3.15</b>Nanas kerang (<i>Rhoeo discolor</i>)
                        </small>
                    </div>
            </div>
        </div>
    </div>

    <p><b>Apa yang harus kamu lakukan?</b></p>
    <ol>
        <li><b>Pengamatan pada Daun Nanas Kerang (<i>Rhoeo discolor</i>)</b></li>
        <ol type="a">
            <li>Buatlah preparat basah dari irisan melintang daun tumbuhan Rhoeo discolor. Untuk membuat preparat dari irisan melintang</li>
        </ol>
    </ol>
</div>