<div class="box">

    <div class="row">
        <ul type="none">
            <li>
                <ul type="none">
                    <li>daun, letakkan bagian atas permukaan daun pada pensil, lalu
                    selubungkan pada pensil. Secara perlahan, irislah bagian bawah
                    permukaan daun dengan arah membujur setipis mungkin.
                    Untuk memperoleh irisan yang tipis, lakukan pengirisan dengan
                    arah menuju sumbu tubuh. Perhatikan Gambar 3.16!</li>

                </ul>
            </li>
            <li>
                <div class="mb-2 mt-2 text-center">
                    <img style="width:80%;" src="content/img/page123/1.png" >
                </div>
            </li>
        </ul>
        <div class="col-7">
        <ul type="none">
            <li>
                <ul type="none">
                    <li>b. Letakkan irisan melintang pada
                    kaca benda kemudian berilah
                    sedikit air dengan menggunakan
                    pipet tetes!</li>
                    <li>c. Tutuplah dengan menggunakan
                    kaca penutup secara perlahan agar
                    tidak terbentuk gelembung air, isap
                    kelebihan air dengan menggunakan
                    kertas tisu untuk mengeringkan
                    bagian pinggirnya!</li> 
                    <li>d. Amati preparat yang telah kamu
                    buat menggunakan mikroskop
                    dengan pembesaran 10 × 10 kemudian pembesaran 10 × 40!</li> 
                    
                </ul>
            </li>
        </ul>
                
        </div>
        <div class="col-5">
            <div class="mb-4 text-center">
                <img style="width:80%;" src="content/img/page123/2.png" >
                    <div>
                        <small>
                            Sumber: Dok. Kemdikbud
                            <br/>
                            <b>Gambar 3.16 Pembuatan</b> Irisan Paradermal Daun
                        </small>
                    </div>
            </div>
        </div>
        <ul type="none">
            <li>
                <ul type="none">
                    <li>e. Gambarlah hasil pengamatanmu pada Tabel 3.3 dengan
                        dilengkapi keterangan nama jaringan!</li> 
                    <li>f. Galilah informasi mengenai fungsi jaringan yang kamu amati!</li>
                </ul>
            </li>
        </ul>
    </div>

    <ol start="2">
        <li><b>Pengamatan pada Daun Durian (<i>Durio zibethinus</i>)</b></li>
    </ol>
    <ul type="none">
        <li>
            <ol type="a">
                <li>Buatlah preparat basah dari goresan permukaan bawah daun
                durian.</li> 
                <li>Lakukan langkah seperti pada poin c - f pada pengamatan daun
                nanas kerang (<i>Rhoeo discolor</i>).</li>  
            </ol>
        </li>
    </ul>
    <ol start="3">

        <li><b>Pengamatan pada Umbi kentang (<i>Solanum tuberosum</i>)</b></li>
    </ol>
    <ul type="none">
        <li>
            <ol type="a">
                <li>Buatlah preparat basah dari irisan umbi kentang (<i>Solanum
                tuberosum</i>).</li> 
                <li>Lakukan langkah seperti pada poin c - f pada pengamatan daun
                nanas kerang (<i>Rhoeo discolor</i>).</li>  
            </ol>
        </li>
    </ul>
    <ol start="4">
        <li><b>Pengamatan pada Batang dan Akar Bayam
            (<i>Amaranthus spinosus</i>)</b></li>
        
    </ol>
    <ul type="none">
        <li>
        <ol type="a">
                <li>Buatlah preparat basah dari irisan penampang melintang akar
                dan batang bayam (<i>Amaranthus spinosus</i>).</li> 
            </ol>
        </li>
    </ul>
            
    </ol>
</div>