<h5><span>a.</span>Jaringan Pelindung</h5>

<p class="justify">Jaringan pelindung terdapat di seluruh permukaan luar tumbuhan.
Tumbuhan membutuhkan jaringan pelindung untuk melindungi
bagian dalam tumbuhan dari berbagai pengaruh luar yang merugikan,
misalnya hilangnya air akibat suhu yang meningkat dan melindungi
dari kerusakan mekanik. Contoh dari jaringan pelindung yaitu
jaringan epidermis. Sel-sel epidermis dapat berkembang (mengalami
modifikasi) menjadi alat pelindung tambahan, misalnya stomata
(mulut daun), sisik, trikoma (rambut-rambut), dan duri (spina).
Perhatikan Gambar 3.17!</p>

<div style="width:50%;margin:auto;" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    
    </ol>
    <div class="carousel-inner">
    <div class="carousel-item active">
        <img class="d-block w-100" src="content/img/page125/1.png" alt="First slide">
    </div>
    <div class="carousel-item">
        <img class="d-block w-100" src="content/img/page125/2.png" alt="Second slide">
    </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
    </a>
</div>
<div class=" mb-4 text-center ">
    <small>Sumber: Dok. Kemdikbud
    <br/>
        <b>Gambar 3.17</b> (a) Jaringan Epidermis dan Stomata pada Tumbuhan <i>Rhoeo discolor</i>, (b) Sisik pada Durian yang Merupakan Modifikasi dari Epidermis Durian
    </small>
</div>

<h5><span>b.</span>Jaringan Dasar</h5>
<div class="row">
    <div class="col-7">
        <p class="justify"> Jaringan dasar merupakan jaringan yang hampir terdapat pada
        seluruh bagian tumbuhan. Jaringan dasar seringkali disebut jaringan
        pengisi. Jaringan ini berperan penting dalam semua proses fisiologi
        (metabolisme) pada tumbuhan.
        Contoh dari jaringan dasar ini
        yaitu jaringan parenkim. Jaringan
        parenkim dapat berdiferensiasi
        menjadi banyak jenis jaringan
        parenkim lain, misalnya pada buah
        dan umbi (Gambar 3.18) parenkim
        berdiferensiasi menjadi parenkim
        cadangan makanan yang berfungsi</p>
    </div>
    <div class="col-5">
        <div class=" mb-4 ">
            <img style="width:100%;" src="content/img/page125/3.png">
            <small>Sumber: Dok. Kemdikbud
            <br/>
                <b>Gambar 3.18</b> Jaringan Parenkim pada Umbi Kentang
            </small>
        </div>
    </div>
</div>