<p class="justify no-indent">untuk menyimpan cadangan makanan bagi tumbuhan. Pada daun,
jaringan parenkim berdiferensiasi menjadi jaringan palisade dan
jaringan bunga karang, yang berfungsi untuk proses fotosintesis.</p>

<h5><span>b.</span>Jaringan Penyokong (Penguat)</h5>

<p class="justify">Jaringan penyokong merupakan jaringan yang berperan untuk
menunjang bentuk tubuh tumbuhan. Berdasarkan bentuk dan
sifatnya, jaringan penyokong dapat dibedakan menjadi dua macam,
yaitu jaringan kolenkim dan jaringan sklerenkim. Jaringan kolenkim
merupakan jaringan yang berfungsi untuk menyokong bagian
tumbuhan yang masih muda. Sel-sel jaringan kolenkim memiliki
dinding sel yang mengalami penebalan, namun tidak merata. Jaringan
sklerenkim merupakan jaringan penguat yang bersifat permanen.
Jaringan sklerenkim berfungsi untuk menyokong tubuh tumbuhan
yang sudah tua. Perhatikan Gambar 3.19!</p>

<div style="width:50%;margin:auto;" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="content/img/page126/1.png" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="content/img/page126/2.png" alt="Second slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class=" mb-4 text-center ">
    <small>Sumber: (a) Campbell et al. 2008. (b) Dok. Kemdikbud
        <br/>
        <b>Gambar 3.19</b> (a) Jaringan Kolenkim pada Batang Bunga Matahari (<i>Helianthus
        annus</i>), (b) Jaringan Sklereid pada Buah Pir
    </small>
</div>
<p class="justify">
    Berdasarkan bentuk selnya, jaringan sklerenkim dibedakan menjadi
    dua, yaitu jaringan serat (fiber) dan jaringan sklereid. Jaringan serat
    terdiri atas sel-sel yang memanjang, meruncing pada kedua ujungnya,
    dan tersusun membentuk benang. Jaringan serat banyak ditemukan
    pada jaringan xilem. Jaringan sklereid terdiri atas sel-sel yang pendek,
    dan memiliki bentuk yang tidak teratur. Jaringan sklereid ini banyak
    ditemukan pada kulit kacang atau buah pir.
</p>
<h5><span>c.</span>Jaringan Pengangkut (Vaskuler)</h5>
<p class="justify">
    Jaringan pengangkut terdiri atas dua jenis, yaitu xilem dan floem.
    Xilem berfungsi untuk mengangkut air dan zat-zat terlarut di dalamnya
    dari akar menuju daun. Floem berfungsi untuk mengangkut makanan
    hasil fotosintesis dari daun ke seluruh tubuh tumbuhan.
</p>