<div class=" mb-4 text-center ">
    <img style="width:80%;" src="content/img/page127/1.png">
    <div>
        <small>Sumber: Raven et al. 2010
            <br/>
            <b>Gambar 3.20</b> Jaringan Xilem dan Floem
        </small>
    </div>
</div>

<h4><span>3</span>Struktur dan Fungsi Jaringan pada Akar</h4>

<p class="justify">Masih ingatkah kamu fungsi akar? Beberapa fungsi akar antara lain
untuk menambatkan tubuh tumbuhan pada tanah, menyerap air dan
mineral dalam tanah, dan pada beberapa tumbuhan berfungsi untuk
menyimpan cadangan makanan. Coba kamu pikirkan, mengapa akar
tumbuhan mampu melakukan fungsi tersebut? Apakah ada keterkaitan
antara struktur jaringan penyusun akar dengan fungsi akar? Untuk
mengetahuinya, ayo lakukan aktivitas berikut.</p>

<div class="box">
    <center>
        <h3>Ayo, Kita Lakukan</h3>
        <h6>Aktivitas 3.4 Mengamati Struktur Anatomi Akar Tumbuhan</h6>
    </center>
    <p class="justify"> <b>Apa yang kamu perlukan?</b></p>
    <ol>
        <li>Mikroskop</li>
        <li>Silet</li>
        <li>Nampan</li>
        <li>Kecambah kacang tanah/kacang hijau umur 7-14 hari</li>
        <li>Kecambah jagung umur 7-14 hari</li>
        <li>Kaca benda dan kaca penutup</li>
        <li>Kaca benda dan kaca penutup</li>
        <li>Pipet tetes</li>
        <li>Air</li>
    </ol>
</div>