<p class="justify"> 
Perhatikan penampang membujur akar pada Gambar 3.21! Pada
Gambar 3.21 kamu dapat melihat bahwa pada bagian ujung akar
terdapat jaringan meristem apikal dan tudung akar.</p>                 
<div class="mb-4 text-center">
    <img style="width:100%" src="content/img/page129/1.png">
    <div><small>Sumber: Campbell et al. 2008<br/><b>Gambar 3.21</b> Penampang Membujur Akar</small></div>
</div>
<p class="justify">Jaringan meristem apikal inilah jaringan yang sel-selnya terus
membelah membuat akar semakin panjang. Tudung akar berfungsi
untuk melindungi sel-sel meristem tersebut saat membelah sehingga
dapat menembus tanah tanpa mengalami kerusakan dan akar dapat
menambatkan tubuh tumbuhan dengan kuat ke dalam tanah. Kamu
sudah paham bukan bagaimana akar mampu memiliki fungsi untuk
menambatkan tubuh tumbuhan ke tanah? Selain menambatkan
tubuh tumbuhan ke tanah, akar juga berfungsi untuk menyerap air
dan mineral dari dalam tanah. Mengapa akar mampu memiliki fungsi
tersebut?</p>
    
<p class="justify">Akar tersusun atas epidermis, korteks, dan silinder pusat.
Epidermis merupakan bagian terluar akar. Sel-sel epidermis memiliki
dinding yang tipis, sehingga air dan mineral mudah masuk ke dalam
sel-sel epidermis yang kemudian diteruskan ke dalam korteks dan
silinder pusat. Pada bagian tertentu sel-sel epidermis juga mengalami
modifikasi menjadi rambut akar yang berfungsi untuk memperluas
bidang penyerapan air dan mineral. Bagian yang lebih dalam dari</p>