<p>Pada percobaan sifat kelembaman suatu benda, kamu menemukan
fakta bahwa gelas akan tetap diam saat kertas ditarik dengan cepat
secara horizontal. Hasil percobaan tersebut menunjukkan bahwa benda
memiliki kecenderungan untuk tetap mempertahankan keadaan diam
atau geraknya dengan kecepatan tetap yang disebut sebagai inersia
atau kelembaman benda.</p>
<div class="row">
    <div class="col">
        <p>Contoh lain yang menunjukkan inersia benda adalah saat kamu berada di dalam sebuah mobil yang sedang melaju kencang kemudian tiba-tiba di rem. Badan kamu akan terdorong ke depan karena badan ingin mempertahankan geraknya ke depan. Peristiwa tersebut yang pada akhirnya memunculkan ide teknologi sabuk pengaman yang dipasang di kendaraan bermotor, khususnya mobil.
        Perhatikan Gambar 1.9!</p>
    </div>
    <div class="col">
        <div class="text-center">
            <a data-fancybox="gallery" href="content/img/page13/1.png"><img style="width:50%;" class="mb-3 mt-3" src="content/img/page13/1.png"></a>
            <div>
                <small>Sumber: Dok. Kemdikbud<br/>
                <b>Gambar 1.9</b> Sabuk Pengaman Wajib Digunakan saat Berada di dalam Mobil yang Sedang Melaju</small>
            </div>
        </div>
    </div>
</div>

<p>Newton menyatakan sifat inersia benda bahwa benda yang tidak mengalami resultan gaya (∑F=0) akan tetap diam atau bergerak lurus beraturan. Hal ini selanjutnya dikenal dengan Hukum I Newton.</p>

<h5><span>b.</span>Hukum II Newton</h5>

<p>Sebelum mempelajari Hukum II Newton, lakukanlah kegiatan berikut ini!</p>

<div class="box">
    <center>
        <h3>Ayo, Kita Lakukan</h3>
        <h6>Aktivitas 1.3 Percobaan Hukum II Newton</h6>
    </center>
    <p><b>Apa yang kamu perlukan?</b></p>
    <ol>
        <li>2 buah beban 100 gram</li>
        <li>1 katrol</li>
        <li>Tali 2 meter</li>
        <li>1 Kereta</li>
    </ol>
</div>