<div class="mb-4 text-center">
    <img style="width:80%" src="content/img/page131/1.png">
    <div>
        <small>
        Sumber: Campbell et al. 2008
        <br/>
        <b>Gambar 3.23</b> Lapisan Endodermis dan Pita Kaspari
        </small>
    </div>
</div>

<h4><span>4</span>Struktur dan Fungsi Jaringan pada Batang</h4>
<p class="justify">Masih ingatkah kamu fungsi batang? Beberapa fungsi batang
antara lain menyokong bagian-bagian tumbuhan yang berada di atas
tanah, sebagai jalan pengangkutan air dan mineral dari akar menuju
daun dan jalan pengangkutan makanan dari daun ke seluruh tubuh
tumbuhan, serta pada beberapa tumbuhan, batang juga berfungsi
sebagai tempat menyimpan cadangan makanan.
</p> 
<p class="justify"> Coba kamu pikirkan, mengapa batang mampu melakukan fungsi
tersebut? Apakah ada keterkaitan antara struktur jaringan penyusun
batang dengan fungsi batang? Untuk mengetahuinya, ayo lakukan
aktivitas berikut!
</p>

<div class="box">
    <center>
        <h3>Ayo, Kita Lakukan</h3>
        <h6>Aktivitas 3.5 Mengamati Struktur Anatomi Batang Tumbuhan</h6>
    </center>
    <p><b>Apa yang kamu perlukan?</b></p>
    <ol>
        <li>Mikroskop</li>
        <li>Silet</li>
    </ol>
</div>