<div class="box"> 
    <center>
        <h3>Ayo, Kita Cari Tahu</h3>
    </center>
    <p class="justify">Pada bagian sebelumnya kamu telah mengetahui bahwa tumbuhan memiliki jaringan xilem yang berfungsi mengangkut air dan mineral dari tanah menuju daun untuk digunakan dalam fotosintesis. Apakah kamu pernah melihat pohon kelapa atau pohon lain yang tinggi? Pernahkah kamu berpikir bagaimana air dan mineral yang ada di bawah permukaan tanah dapat naik menujudaun melalui xilem? Coba cari tahu mekanisme atau faktor-faktor yang menyebabkan air dan mineral dapat naik dari bawah tanah menuju daun yang letaknya sangat tinggi! </p> </div>
</div>

<h3><span>C</span>Teknologi yg Terinspirasi dari Struktur Jaringan Tumbuhan</h3>

<div class="mb-4">
    <div class="text-center"></div>
        <img style="width:100%" src="content/img/page136/2.png">
    </div>
</div>

<p class="justify"> Pada bagian sebelumnya kamu telah mempelajari struktur organ dan jaringan yang menyusun tumbuhan serta fungsinya. Menarik bukan? Tahukah kamu, bahwa struktur organ dan jaringan tumbuhan tersebut menginspirasi manusia untuk mengembangkan teknologi yang memiliki banyak manfaat bagi manusia. Apa saja teknologi yang telah dikembangkan? Ayo kita pelajari! </p> </div>

<h4><span>1</span>Panel Surya (Solar Cell)</h4>

<p class="justify"> Pernahkah kamu melihat panel surya? Panel surya merupakan alat yang dapat mengubah sinar matahari menjadi energi listrik. Ketika cahaya matahari menabrak permukaan panel surya menyebabkan </p>