<p class="justify no-indent"> elektron (partikel penyusun atom yang bermuatan negatif) pada panel  surya bergerak melalui suatu konduktor dan menjadi arus listrik.Tahukah kamu bahwa mekanisme kerja panel surya ini terinspirasi oleh mekanisme fotosintesis yang terjadi pada daun tumbuhan. Perhatikan Gambar 3.27 dan Gambar 3.28! </p>

<div class="mb-4 text-center">
    <img style="width:70%" src="content/img/page137/1.png"> <br/>
    <small> Sumber: Dok. Kemendikbud
    <br/><b> Gambar 3.27 </b> Reaksi Pengubahan Energi Cahaya Menjadi Energi Kimia dalam Proses Fotosintesis di Daun</small>
</div>

<div class="mb-4 text-center">
    <img style="width:70%" src="content/img/page137/2.png"> <br/>
    <small> Sumber: Dok. Kemendikbud
    <br/><b> Gambar 3.28 </b> Panel Surya dan Komponen Penyusunnya, Mengubah Energi Cahaya Menjadi Energi Listrik</small>
</div>

<p class="justify"> Kamu masih ingat fotosintesis bukan? Pada proses fotosintesis juga dibutuhkan cahaya dan zat hijau daun yang disebut klorofil. Melalui fotosintesis ini dihasilkan oksigen (O<sub>2</sub>) dan glukosa (C<sub>6</sub>H<sub>12</sub>O<sub>6</sub>). Saat daun terkena sinar matahari klorofil akan menyerap energi</p>          