<p class="justify no-indent">cahaya. Elektron pada kompleks klorofil akan bergerak melalui suatu saluran dan menyebabkan muatan positif ikut bergerak. Muatan positif ini selanjutnya bergerak menuju kompleks enzim yang berfungsi menghasilkan energi kimia berupa ATP dan NADPH. Energi ATP dan NADPH ini selanjutnya akan digunakan untuk mengubah CO<sub>2</sub> menjadi glukosa.
    
<div class="box"> 
    <center>
        <h3>Tahukah Kamu?</h3>
    </center>
    <p class="justify"> Pernahkah kamu melihat tumbuhan yang tumbuh merambat pada dinding rumah, misalnya tumbuhan sirih? Selain sirih banyak jenis tumbuhan yang hidupnya merambat, misalnya bunga ivy. Bunga ivy merupakan tumbuhan yang banyak hidup di benua Eropa. Tumbuhan tersebut merambat pada dinding bangunan untuk mendapatkan sinar matahari yang diperlukan untuk fotosintesis. Jika kita mencermati daun yang tumbuh, pasti daun-daun tumbuhan itu menghadap ke arah datangnya sinar matahari. Pertumbuhan tumbuhan yang merambat dan struktur daun tumbuhan tersebut menginspirasi ilmuwan untuk mengembangkan pembangkit listrik. Pembangkit listrik tersebut dikenal dengan “solar ivy”. Perhatikan Gambar 3.29!  </p>

    <div style="width:50%;margin:auto;" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img class="d-block w-100" src="content/img/page138/2.png" alt="Tanaman Ivy yang Merambat pada Bangunan">
            </div>
            <div class="carousel-item">
            <img class="d-block w-100" src="content/img/page138/3.png" alt="Panel Solar Ivy">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="mb-4 text-center">
        <small> Sumber: www.solarivy.com <br/>
                <b> Gambar 3.29 </b>  (a)Tanaman Ivy yang Merambat pada Bangunan, (b) Panel Solar Ivy 
        </small>
    </div>

    <p class="justify"> Solar ivy ini dapat dipasang dengan pola sesuai dengan keinginan kita sehingga memiliki nilai estetika yang bagus, namun
    tetap dapat menghasilkan energi listrik dari sinar matahari. </p>
</div>