<h4><span>2</span>Sensor Cahaya</h4>

<p class="justify"> Ketika kamu mengamati lampu penerangan jalan, beberapa lampu penerangan jalan tersebut ada yang dapat menyala sendiri ketika menjelang malam dan mati sendiri saat menjelang pagi tanpa harus dinyalakan dan dimatikan secara manual. Bagaimana hal tersebut dapat terjadi? Lampu penerangan jalan tersebut mampu menyala dan mati secara otomatis karena dilengkapi dengan sensor cahaya yang disebut fotoresistor atau light-dependent resistor (LDR) dan sakelar pengatur on dan off. Fotoresistor ini mampu mendeteksi ada dan tidak adanya cahaya di lingkungan sekitar. Fotoresistor ini merupakan resistor atau hambatan listrik yang dapat diubah nilai hambatannya melalui penyinaran cahaya. Hambatan listrik dari fotoresistor ini akan berkurang jika terkena cahaya, dengan kata lain jika terdapat cahaya alat ini mampu menghantarkan listrik. Perhatikan Gambar 3.30! </p>

<div class="mb-4 text-center">
    <img style="width:80%" src="content/img/page139/2.png">
    <div>
        <small>Sumber: Dok.Kemendikbud<br/>
        <b> Gambar 3.30 </b>  Lampu Jalanan dan Sensor Cahaya <i> (light-dependent resistor) </i>
        </small>
    </div> 
</div>

<p class="justify">Saat menjelang pagi, sinar matahari akan mengenai fotoresistor. Menyebabkan listrik mengalir menuju sakelar. Aktifnya sakelar
ini malah akan mematikan aliran listrik utama, sehingga lampu penerangan jalan menjadi mati. Saat menjelang malam, aliran
listrik tidak dapat mengalir melalui fotoresistor ini sehingga tidak ada aliran listrik yang mengalir menuju sakelar. Akibatnya
sakelar berada dalam kondisi on sehingga lampu penerangan menyala.</p>

<p>Tahukah kamu bahwa mekanisme pada lampu penerangan tersebut juga terinspirasi oleh mekanisme yang terjadi pada tumbuhan?
Kamu tentu tahu tanaman kaktus bukan? Tanaman kaktus hidup di daerah gurun yang kering. Tumbuhan kaktus memiliki stomata
yang unik.</p>