<div class="box">
    <p><b>Apa yang harus kamu lakukan?</b></p>
    <ol>
        <li>Percobaan I: rangkailah kereta, katrol, tali, dan beban (100 g) seperti Gambar 1.10!<br><br>
            <div class="mb-4 text-center">
                <a data-fancybox="gallery" href="content/img/page14/1.png"><img style="width:80%;" src="content/img/page14/1.png"></a>
                <div>
                    <small>Sumber: Dok. Kemdikbud
                    <br/>
                    <b>Gambar 1.10</b> Rangkaian Kereta, Katrol, Tali, dan Beban 100 g</small>
                </div>
            </div>
        </li>
        <li>Amati gerak kereta!</li>
        <li>Percobaan II: tambahkan beban (2 × 100 g) pada rangkaian percobaan seperti pada Gambar 1.11!<br><br>
            <div class="mb-4 text-center">
                <a data-fancybox="gallery" href="content/img/page14/2.png"><img style="width:80%;" src="content/img/page14/2.png"></a>
                <div>
                    <small>Sumber: Dok. Kemdikbud
                    <br/>
                    <b>Gambar 1.11</b> Rangkaian Kereta, Katrol, Tali, dan Beban 2 × 100 g</small>
                </div>
            </div>
        </li>
        <li>Amati gerak kereta!</li>
        <li>Percobaan III: pindahkan salah satu beban (100 g) yang menggantung, ke atas kereta seperti pada Gambar 1.12!<br><br>
            <div class="mb-4 text-center">
                <a data-fancybox="gallery" href="content/img/page14/3.png"><img style="width:80%;" src="content/img/page14/3.png"></a>
                <div>
                    <small>Sumber: Dok. Kemdikbud
                    <br/>
                    <b>Gambar 1.12</b> Rangkaian Kereta, Katrol, Tali, dan Salah Satu Beban di atas Kereta</small>
                </div>
            </div>
        </li>
        <li>Amati percepatan gerak kereta!</li>
    </ol>
</div>