<p class="justify no-indent">Stomata kaktus akan membuka saat malam hari dan akan tertutup saat siang hari untuk mengurangi penguapan air. Proses membukadan menutupnya stomata didukung oleh aktivitas sel penjaga stomata. Sel penjaga ini memiliki reseptor cahaya yang disebut fotoreseptor yang peka terhadap cahaya. Saat siang hari yang terik fotoreseptor pada sel penjaga akan menangkap cahaya dan menyebabkan air dalam sel penjaga dipompa keluar dengan bantuan ion-ion. Akibatnya sel penjaga akan mengecil dan lubang stomata tertutup. Saat malam hari, air dipompa lagi masuk ke dalam sel penjaga dengan bantuan ion-ion, sehingga sel penjaga menjadi lebih besar, akibatnya stomata menjadi terbuka. Perhatikan Gambar 3.31! </p>

<div class="mb-4 text-center">
    <img style="width:100%" src="content/img/page140/1.png">
    <div>
        <small> Sumber: Dok.Kemendikbud <br/>
            <b> Gambar 3.31 </b> Kaktus di Gurun dan Stomata</i> 
        </small>       
    </div>
</div>

<h4><span>3</span>Lapisan Pelindung dan Pengilap</h4>

<p class="justify"> Pernahkah kamu melihat tanaman talas atau daun teratai? Ketika kamu melihat daun kedua tanaman tersebut kamu pasti melihat bahwa daun tersebut sangat bersih dan tahan air. Bagaimana hal ini dapat terjadi? Jika kamu melihat melalui mikroskop penampang melintang dari kedua daun tersebut maka kamu akan melihat pada permukaan daun tersebut terdapat lapisan tebal yang disebut kutikula. Kutikula ini tersusun atas senyawa lipid berupa lilin (wax) dan polimer hidrokarbon yang disebut kutan. Kedua senyawa ini bersifat hidrofobik atau tidak suka air, sehingga jika air mengenai lapisan ini tidak akan membasahi daun. Lapisan lilin ini juga mampu mencegah menempelnya debu atau kotoran lain dan membuat daun tetap bersih. Tahukah kamu bahwa ilmuwan juga telah mengadopsi mekanisme ini dan menerapkannya untuk membuat cat yang tidak mudah kotor, lapisan pengilap, dan lapisan anti air, misalnya pada semir sepatu, lapisan pengilap pada mobil atau perabot rumah tangga, dan lain sebagainya. Perhatikan Gambar 3.32! </p> </div>