<div style="width:50%;margin:auto;" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>  
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="content/img/page141/1.png" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="content/img/page141/2.png" alt="Second slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class=" mb-4 text-center ">
    <small>Sumber: (a) Dok. Kemdikbud, (b) www.thehousefactory.com.
    <br/>
    <b>Gambar 3.32</b> Lapisan Pelindung, (a) Lapisan Pelindung (Kutikula) pada Daun
    Tumbuhan, (b) Perbandingan Mobil Sebelum dan Sesudah dilapisi Pelindung yang
    terbuat dari Wax (Lilin)
    </small>
</div>

<h4><span>4</span>Alat Pemurnian Air</h4>

<p class="justify"> Pernahkah kalian bermain ke danau, waduk, atau kolam? Apakah
kamu melihat eceng gondok di tempat tersebut? Apakah kamu juga
melihat bahwa perairan tersebut jernih? Pada umumnya perairan yang
ditumbuhi eceng gondok kondisi airnya jernih. Mengapa demikian?
Ketika kamu melihat akar eceng gondok, kamu akan melihat akar
eceng gondok berbentuk serabut-serabut yang banyak dan rapat. Akarakar
ini mampu menyerap partikel-partikel yang terlarut dalam air
sehingga air menjadi bersih. Bahkan zat-zat berbahaya seperti racun
pun dapat diserap oleh eceng gondok. Perhatikan Gambar 3.33!
</p>

<div class=" mb-4 text-center ">
    <img style="width:80%" src="content/img/page141/4.png">
    <div>
        <small>Sumber: Dok. Kemdikbud
            <br/>
            <b>Gambar 3.33</b> Eceng Gondok dan Jalur Penyerapan Air serta Partikel Lainnya
        </small>
    </div>
</div>