
<div class="row">
    <div class="col-7">
        <p class="justify"> Apabila kamu mengamati membran sel akar
        secara lebih teliti dengan menggunakan mikroskop
        elektron, maka akan terlihat lubang-lubang atau
        saluran kecil pada membran sel akar. Saluran
        ini terbentuk dari protein dan memiliki lubang
        dengan ukuran tertentu dan daya ikat tertentu
        pula. Salah satu salurannya bernama aquaporin.
        Aquaporin ini merupakan saluran (protein kanal)
        yang hanya dapat dilewati oleh air, sehingga
        partikel lain tidak dapat masuk lewat aquaporin.
        Mekanisme tersebut menginspirasi ilmuwan
        untuk mengembangkan teknologi penyaringan
        atau pemurnian air. Dengan teknologi ini air
        yang kotor dapat disaring, sehingga air hasil
        penyaringan benar-benar bersih dan aman untuk
        dikonsumsi.
        </p>
    </div>
    <div class="col-5">
        <div class="mb-4">
            <img style="width:50%" src="content/img/page142/1.png">
            <div>
                <small>Sumber: Dok. Kemdikbud
                    <br/>
                    <b>Gambar 3.34</b> Alat Pemurnian Air
                </small>
            </div>
        </div>
    </div>
</div>

<div class="box">
    <center>
        <h3>Tahukah Kamu?</h3>
    </center>
    <p class="justify">Selain menginspirasi untuk mengembangkan teknologi, struktur
    organ dan jaringan tumbuhan juga menginspirasi bentuk rancangan
    bangunan, misalnya gedung teater Esplanade di Singapura yang
    terinspirasi dari struktur kulit buah durian. Lapisan terluar dari
    atap gedung tersebut berbentuk segitiga seperti duri pada durian,
    atap tersebut dapat diatur untuk mengikuti pergerakan matahari,
    sehingga dapat menjaga intensitas cahaya yang masuk dalam
    gedung. Perhatikan Gambar 3.35!</p>
    
    <div style="width:50%;margin:auto;" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img class="d-block w-100" src="content/img/page142/3.png" alt="Gedung Esplanade">
            </div>
            <div class="carousel-item">
            <img class="d-block w-100" src="content/img/page142/4.png" alt="Buah Durian">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class=" mb-4 text-center ">
        <small>Sumber: (a) en.wikipedia.org, (b) Dok. Kemdikbud
        <br/>
            <b>Gambar 3.35</b> (a) Gedung Esplanade, (b) Buah Durian
        </small>
    </div>
</div>