<div class="box">
    <center>
        <h3>Ayo, Kita Renungkan</h3>
    </center>
    <p class="justify">Betapa besar peran tumbuhan bagi kehidupan makhluk hidup
    di muka bumi ini. Tumbuhan mampu menyerap hal-hal yang
    mungkin tidak kamu sukai, seperti panasnya sinar matahari dan
    gas karbon dioksida (CO<sub>2</sub>). Kamu pasti merasa berat jika harus
    berdiri lama di bawah terik matahari dan kamu dapat pingsan
    jika terlalu banyak menghirup gas CO2. Namun, tidak demikian
    halnya dengan tumbuhan yang memiliki struktur daun yang sangat
    kompleks dan klorofilnya yang dapat memanfaatkan sinar matahari
    untuk mengubah CO2 dan air menjadi zat gula dan gas oksigen (O2)
    melalui proses fotosintesis. Hasil fotosintesis ini dibutuhkan bagi
    setiap makhluk hidup untuk bertahan hidup. Maha Besar Tuhan,
    tidak ada ciptaan-Nya yang sia-sia di muka bumi ini. Hal-hal yang
    mungkin tidak kamu sukai tadi, dapat jadi sangat bermanfaat
    setelah diproses oleh makhluk hidup lain seperti halnya proses
    fotosintesis pada tumbuhan, bukan? Apa yang terjadi seandainya
    tidak ada tumbuhan di muka bumi?</p>
    <p class="justify">Tuhan juga telah mendesain struktur tumbuhan di alam ini
    dengan sangat sempurna. Banyak struktur tumbuhan yang ditiru
    oleh para ilmuwan untuk dikembangkan menjadi teknologi,
    misalnya teknologi pembangkit listrik tenaga surya yang dibuat
    dengan meniru prinsip daun yang memanfaatkan energi matahari
    untuk menghasilkan energi kimia, sehingga dapat menjadi sumber
    energi alternatif yang sangat bermanfaat. Masih banyak fenomena
    lain di alam yang dapat kamu pelajari, oleh karena itu teruslah
    belajar dari alam karena belum ada yang dapat menandingi
    kecanggihan ciptaan Tuhan, sehingga kamu akan lebih bersyukur
    dan menghargai lingkungan sekitar. Begitu pentingnya tumbuhan
    bagi kehidupan kita oleh karena itu apakah kamu sudah berupaya
    menjaga kelestariannya. Coba jawablah beberapa pertanyaan
    berikut ini!</p>
</div>