<div class="box">
    <div class="mb-4 text-center">
        <small><b>Tabel 3.6</b> Pertanyaan untuk Refleksi</small>
        <small>Terkait Struktur dan Fungsi Tumbuhan</small>
        <img style="width:80%" src="content/img/page144/1.png">    
    </div>
    
    <p class="justify">Coba kamu hitung, berapa total skormu dengan ketentuan:</p>
    <ul type="square">
        <li>Jawaban “ya” mendapat skor 0 (nol)</li>
        <li>Jawaban “tidak” mendapat skor 2 (dua)</li>
    </ul> 
    <p class="justify">Bandingkan total skormu dengan kriteria berikut.</p>
    
    <ul type="square">
        <li>Skor 0 - 3 : berarti kamu tidak peduli terhadap tumbuhan</li>
        <li>Skor 4 - 6 : berarti kamu kurang peduli terhadap tumbuhan</li>
        <li>Skor 7 - 10 : berarti kamu peduli terhadap tumbuhan</li>
    </ul>
    <p class="justify">Untuk kamu yang tidak peduli atau kurang peduli, sebaiknya
    kamu terus berusaha untuk meningkatkan kepedulianmu terhadap
    tumbuhan.</p>  
</div>    