<div class="box">

    <p><b>Data Hasil Percobaan</b></p>
    
    <div class="mb-4 text-center">
        <div>
            <small>
            <br/>
            <b>Tabel 1.3</b> Hasil Percobaan Hukum II Newton</small>
            <img style="width:80%;" src="content/img/page15/1.png">
        </div>
    </div>
    <p>Keterangan: untuk menuliskan data percepatan kereta dapat diurutkan dari yang tercepat (1), cepat (2), dan kurang cepat (3)</p>
    <p><b>Apa yang perlu kamu diskusikan?</b></p>
    <ol>
        <li>Apa yang memengaruhi perbedaan besar percepatan pada percobaan II dan III?</li>
        <li>Bagaimana hubungan antara gaya (berat beban yang digantung) dengan percepatan sistem berdasarkan percobaan II dan III?</li>
        <li>Apa yang memengaruhi perbedaan besar percepatan sistem pada percobaan I dan III?</li>
        <li>Bagaimana hubungan antara massa total (massa kereta + massa beban) dengan percepatan kereta berdasarkan percobaan I dan III?</li>
        <li>Seorang pemain sepatu roda yang massanya 50 kg meluncur dengan percepatan 4 m/s 2 pada saat resultan gayanya 200 N. Bagaimanakah gerakan pemain sepatu roda jika mengalami perubahan kecepatan seperti dalam Tabel 1.4.
            <div class="mb-4 text-center">
                <div>
                    <small>
                    <br/>
                    <b>Tabel 1.4</b> Hubungan antara Massa dan Percepatan</small>
                    <img style="width:80%;" src="content/img/page15/2.png">
                </div>
            </div>    
        </li>
        <li>Balok A dan B dihubungkan dengan menggunakan tali dan katrol seperti pada Gambar 1.13.</li>
    </ol>       
</div>