<p><b>B. Jawablah dengan benar pertanyaan berikut!</b></p>
<ol>
    <li>Berdasarkan hasil pengamatan kamu pada saat mengamati
    struktur anatomi batang pada kacang tanah dan jagung, jawablah
    pertanyaan berikut.</li>
                    
        <ol type="a">
            <li>Jelaskan perbedaan struktur jaringan dari kedua batang tersebut!</li>
            <li>Berdasarkan ciri-cirinya, termasuk kelompok tumbuhan apakah
            jagung dan kacang tanah?</li>
            
        </ol>
    </li>
</ol>
<ol start="2">
    <li>Fotosintesis adalah proses penyusunan atau pembentukan senyawa
    kompleks dari senyawa sederhana yang dilakukan oleh tumbuhan.
    Sebutkan 3 faktor yang memengaruhi proses fotosintesis!</li>
    <li>Akar pada tumbuhan berfungsi sebagai penopang tumbuhan untuk
    tumbuh, namun pada beberapa tumbuhan akar termodifikasi
    membentuk fungsi khusus. Sebutkan 3 macam jenis akar yang
    termodifikasi disertai dengan contoh tumbuhannya!</li>
</ol>
<div class="row">
    <div class="col-8">
        <ol start="4">
            <li>Pada suatu pengamatan percobaan tentang
            fotosintesis ditemukan data sebagai
            berikut. Setelah ditetesi larutan kalium
            iodida (KI) kondisinya seperti gambar di
            samping!</li>
                            
                <ol type="a">
                    <li>Jelaskan pada bagian daun yang mana
                    terjadi fotosintesis dan buktikan
                    berdasarkan data pengamatan tersebut!</li>
                    <li>Apa fungsi dari memasukkan daun yang
                    akan diuji pada air yang mendidih?</li>    
                    <li>Apa fungsi dari penggunaan alkohol
                    dalam proses pengujian daun yang
                    mengalami fotosintesis?</li>
                    
                </ol>
            </li>
        </ol>
    </div>
    <div class="col-4">
        <div class="mb-4">
            <img style="width:100%" src="content/img/page152/1.png">    
        </div>
        <small>Sumber: Dok. Kemdikbud</small>
    </div>
</div>
<ol start="5">
    <li>Tumbuhan membutuhkan berbagai bahan untuk fotosintesis.
    Salah satunya adalah air yang bergerak dari akar sampai ke ujung
    daun.</li>
                    
        <ol type="a">
            <li>Bagaimanakah cara air yang diserap dari tanah dapat sampai ke
            daun paling atas?</li>
            <li>Bagian tubuh tumbuhan manakah yang berperan?</li>
            
        </ol>
    </li>
</ol>