<div class="box">
    <center>
        <h3>Ayo, Kita Kerjakan Proyek</h3>
        <h6>Merancang Teknologi yang Terinspirasi dari Struktur Tumbuhan</h6>
    </center>
    <p class="justify">Melalui pembelajaran pada materi ini kamu tentu sudah banyak
    mengetahui berbagai struktur tumbuhan yang telah menginspirasi
    banyak orang sehingga diadopsi dalam pengembangan teknologi.
    Agar kamu lebih memahami tentang struktur tumbuhan dan
    manfaatnya dalam kehidupan, ayo secara berkelompok lakukan
    pengamatan berbagai jenis tumbuhan di sekitarmu. Buatlah
    sebuah poster yang berisi tentang beberapa rancangan teknologi
    atau struktur bangunan (selain yang sudah ada di Buku Siswa) yang
    terinspirasi dari struktur tumbuhan berdasarkan hasil pengamatan
    yang telah kamu lakukan. Setelah itu presentasikanlah poster yang
    telah kamu buat di depan kelas!</p>
    <ul type="square">
        <li><b>Permasalahan:</b></li>
    </ul> 
    <p class="justify">Struktur dan jaringan tumbuhan banyak menginspirasi para
    ahli untuk mengembangkan teknologi. Apa sajakah teknologi atau
    struktur bangunan yang terinspirasi dari struktur dan jaringan yang
    ada di lingkungan sekitarmu?</p> 
    <ul type="square">
        <li><b>Perencanaan:</b></li>
    </ul> 
    <p class="justify">Rancanglah pengamatan berbagai jenis tumbuhan di sekitar
    tempat tinggalmu. Rancanglah sebuah poster yang berisi tentang
    teknologi atau struktur bangunan apa saja yang terinspirasi dari
    struktur dan jaringan tumbuhan berdasarkan hasil pengamatan.
    Poster dapat dibuat pada kertas ukuran A3. Lakukan kegiatan ini
    dalam kelompok (2-3 orang per kelompok). Konsultasikan kepada
    guru apa yang akan kamu lakukan.</p>
    <ul type="square">
        <li><b>Pelaksanaan:</b></li>
    </ul> 
    <p class="justify">Lakukan kegiatan yang telah kamu rancang. Buatlah poster
    sekreatif dan semenarik mungkin.</p>
</div>