<div class="box">
    <div class="mb-4 text-center">
        <img style="width:80%" src="content/img/page154/1.png">    
    </div>
    <ul type="square">
        <li><b>Penilaian:</b></li>
    </ul> 
    <p class="justify">Penilaian dilakukan berdasarkan:</p> 
    <ol>
        <li>Produk berupa poster yang berisi tentang beberapa rancangan
        teknologi atau struktur bangunan (selain yang sudah ada di
        Buku Siswa) yang terinspirasi dari struktur tumbuhan. Aspek
        yang akan dinilai dalam pembuatan poster yaitu kebenaran
        konsep, kreativitas, kemenarikan, dan kemudahan dipahami.</li>
        <li>Presentasi poster yang telah kamu buat bersama kelompokmu
        yang berisi tentang beberapa rancangan teknologi atau struktur
        bangunan (selain yang sudah ada di Buku Siswa) yang terinspirasi
        dari struktur tumbuhan.</li>
    </ol> 
</div>