<img style="width:100%;" class="mb-3" src="content/img/tab-4.1.png" alt="" />

<p>
    Setelah kamu melakukan Aktivitas 4.1 apakah dengan makanan- makanan ringan favoritmu itu kamu merasa gizi harianmu tercukupi
    untuk menunjang kegiatanmu sehari-hari? Apakah dengan hanya mengonsumsi makanan ringan kamu dapat mendapatkan banyak
    energi? Tentu saja tidak, kamu butuh makan makanan pokok lain seperti nasi, lauk pauk, sayur dan buah agar kamu mendapatkan
    cukup energi.
</p>

<div class="box">
    <center>
        <h3>Ayo, Kita Cari Tahu</h3>
    </center>
    <p>Makanan memegang peran penting dalam kelangsungan hidup manusia. Ingatkah kamu tentang gizi seimbang? Makanan sehat harus
    mencukupi komponen gizi seimbang. Tahukah kamu bahan apa sajakah yang termasuk komponen gizi seimbang</p>
</div>