<p>
    Hal itu dapat terjadi karena pada saat olahraga kalori yang dibutuhkan tubuhmu lebih banyak sehingga pembakaran energi dari
    makanan yang kamu makan juga lebih cepat dibandingkan jika kamu hanya duduk dan beristirahat. Perhatikan Tabel 4.2 berikut
    ini.
</p>

<p align="center">
    <small>Tabel 4.2 Jumlah Kalori yang Dibutuhkan pada Beberapa Aktivitas</small>
    <img style="width:80%;" src="content/img/tab-4.2.png" alt="">
</p>

<p>
    Keseimbangan energi dapat terjadi ketika kalori yang masuk dalam tubuh melalui makanan sama dengan kalori yang dikeluarkan
    melalui metabolisme tubuh dan aktivitas otot. Dalam kondisi ini, berat badanmu akan cenderung tetap. Jika kalori yang
    masuk dalam tubuh melebihi kalori yang dikeluarkan, maka akan terjadi keseimbangan energi positif. Artinya jaringan tubuhmu
    akan menyimpan kelebihan nutrisi tersebut. Kenaikan berat badan dapat terjadi jika sekitar 3.500 kkal disimpan dalam
    bentuk lemak pada jaringan tubuh. Sebaliknya, jika kalori yang dikeluarkan tubuh melalui aktivitasmu lebih besar dibandingkan
    dengan kalori yang masuk dalam tubuh, maka akan terjadi keseimbangan energi negatif. Artinya tubuhmu akan melakukan pembakaran
    simpanan nutrisi yang tersimpan dalam tubuh untuk memenuhi kalori yang dibutuhkan tubuhmu. Hal ini dapat menurunkan berat
    badan. Oleh karena itu, untuk menjaga berat badanmu tetap seimbang kamu harus menjaga agar kalori yang masuk dalam tubuh
    sama dengan kalori yang dikeluarkan.
</p>