<p class="no-indent">
    untuk berlangsungnya fungsi normal pada setiap jaringan dan organ tubuh. Sebenarnya, makanan yang kamu konsumsi sehari-hari
    harus mengandung enam jenis nutrisi yaitu karbohidrat, lemak, protein, vitamin, mineral, dan air. Karbohidrat, lemak,
    dan protein dibutuhkan dalam jumlah yang banyak, sedangkan vitamin dan mineral dibutuhkan tubuh dalam jumlah yang sedikit.
</p>

<p>
    Karbohidrat, lemak, protein, dan vitamin merupakan nutrisi organik yang mengandung karbon. Sebaliknya, nutrisi anorganik
    seperti air dan mineral, tidak mengandung karbon. Makanan yang mengandung karbohidrat, lemak, dan protein perlu dicerna
    atau dipecah terlebih dahulu oleh tubuh. Sedangkan air, vitamin, dan mineral dapat diserap langsung oleh sel-sel tubuh.
</p>

<h5>
    <span>a</span>Karbohidrat</h5>

<p>
    Bacalah kandungan nutrisi pada label beberapa bungkus biskuit! Kamu akan melihat bahwa jumlah karbohidrat yang tertera pada
    bungkus biskuit lebih tinggi daripada jumlah nutrisi lainnya. Setiap molekul karbohidrat terbuat dari karbon, hidrogen,
    dan oksigen. Karbohidrat adalah sumber utama energi bagi tubuh. Satu gram karbohidrat menghasilkan 4,1 kilokalori (kkal).
    Terdapat tiga jenis karbohidrat yaitu gula, pati, dan serat. Gula disebut karbohidrat sederhana. Contoh makanan yang
    mengandung gula antara lain buah- buahan, madu, dan susu. Dua jenis karbohidrat lainnya, yaitu pati dan serat disebut
    karbohidrat kompleks. Pati ditemukan dalam umbi- umbian seperti kentang dan makanan yang terbuat dari biji-bijian. Serat,
    seperti selulosa, ditemukan di dinding sel tumbuhan. Makanan seperti roti gandum atau sereal, kacang-kacangan, sayuran,
    dan buah- buahan merupakan sumber serat yang baik. Serat tidak dapat dicerna oleh saluran pencernaan makanan manusia,
    sehingga dikeluarkan sebagai feses. Dengan demikian, serat bukan merupakan sumber energi bagi tubuh manusia.
</p>

<p>
    Konsumsi karbohidrat terlalu berlebihan dapat menyebabkan penyakit gula atau diabetes. Hati-hati dengan diabetes, menurut
    WHO 246 juta orang di dunia mengidap diabetes. Jumlah ini menunjukkan hampir 6&#37; dari populasi orang dewasa di dunia.
    Karena jumlahnya yang besar ini maka diabetes disebut sebagai &#34;The Silent Epidemi&#34;. Penyebab utama peningkatan
    kejadian diabetes adalah gaya hidup. Olahraga teratur dan pengaturan pola makan dapat mengurangi atau menunda timbulnya
    diabetes lebih dari 50&#37;. Untuk mengetahui
</p>