<div class="row">
    <div class="col">
        <p class="no-indent">
            kadar gula darah dalam tubuhmu, kamu dapat menggunakan alat pengukur kadar gula dalam darah. Perhatikan Gambar 4.4! Kadar
            gula darah normal berkisar antara 60-100 mg/dL saat dalam kondisi tidak makan. Jika setelah makan, kadar maksimal
            kurang dari 140 mg/dL.
        </p>
    </div>

    <div class="col">
        <img style="width:80%;" src="content/img/gbr-4.4.png" alt="">
        <br/>

        <small>Sumber: Dok. Kemdikbud
            <br/>Gambar 4.4 Pemeriksaan Kadar Gula Darah</small>
    </div>
</div>

<h5>
    <span>b</span> Lemak</h5>

<p>
    Lemak atau lipid diperlukan tubuh karena menyediakan energi sebesar 9,3 kkal/gram, melarutkan vitamin A, D, E, K, dan menyediakan
    asam lemak esensial bagi tubuh manusia. Selama proses pencernaan, lemak dipecah menjadi molekul yang lebih kecil, yaitu
    asam lemak dan gliserol.
</p>

<p>
    Lemak merupakan unit penyimpanan yang baik untuk energi. Kelebihan energi dari makanan yang kamu makan akan diubah menjadi
    lemak dan disimpan untuk digunakan di lain waktu. Berdasarkan struktur kimianya, dikenal lemak jenuh dan lemak tak jenuh.
    Lemak tak jenuh biasanya cair pada suhu kamar. Minyak nabati serta lemak yang ditemukan dalam biji adalah lemak tak jenuh.
    Lemak jenuh biasanya padat pada suhu kamar, ditemukan dalam daging, susu, keju, minyak kelapa, dan minyak kelapa sawit.
    Lemak jenuh yang berlebih dapat meningkatkan kolesterol darah yang dapat menyebabkan penyakit jantung dan stroke. Perhatikan
    Gambar 4.5!
</p>

<p align="center">
    <img style="width:80%;" src="content/img/gbr-4.5.png" alt="">
    <br/>
    <small>Sumber: a. www.webmd.com, b www.dietrendahkalori.com
        <br/>Gambar 4.5 Lemak, (a) Minyak dari Biji-bijian, Contoh Lemak Tak Jenuh, (b) Margarin, Contoh Lemak Jenuh</small>
</p>