<p>
    Sebenarnya makanan seperti apakah yang dikatakan mengandung lemak? Agar mengetahuinya coba lakukan aktivitas berikut ini!
</p>

<div class="text-center">
    <img style="margin-top:10px;width:80%;" class="text-center" src="content/img/act-4.2.png" alt="">
</div>