<div class="mb-5" align="center">
    <img style="width:80%;" src="content/img/act-4.2.bagian2.png" alt="">
</div>

<p>
    Berdasarkan Aktivitas 4.2 kamu telah mengetahui bagaimana cara mengidentifikasi makanan apa saja yang mengandung lemak. Makanan
    yang mengandung lemak biasanya akan cenderung berminyak atau memiliki rasa yang gurih, misalnya pada keripik kentang
    dan kacang- kacangan.
</p>

<div class="mb-4 text-center">
    <img style="width:80%;" src="content/img/tab-4.6.png" alt="">
</div>