<div class="mb-4" align="center">
    <img style="width:70%;" src="content/img/tab-4.6.bagian2.png" alt="">
</div>

<h5>
    <span>c</span>Protein</h5>

<p>
    Protein dibutuhkan sebagai penghasil energi, untuk pertumbuhan dan mengganti sel-sel tubuh yang rusak, pembuat enzim dan
    hormon, dan pembentuk antibodi (sistem kekebalan tubuh). Protein merupakan molekul besar yang terdiri atas sejumlah asam
    amino. Asam amino terdiri atas karbon, hidrogen, oksigen, nitrogen, dan kadang-kadang belerang.
</p>

<p>
    Protein yang kamu makan dapat berasal dari hewan (protein hewani) dan dari tumbuhan (protein nabati). Bahan makanan yang
    mengandung protein hewani antara lain daging, ikan, telur, susu, dan keju. Bahan makanan yang mengandung protein nabati
    adalah kacang kedelai, kacang hijau, dan kacang-kacangan lainnya. Kacang kedelai sebagai bahan baku tempe dan tahu merupakan
    salah satu sumber protein yang baik. Perhatikan Gambar 4.6!
</p>

<div class="mb-4" align="center">
    <img style="width:80%;" src="content/img/gbr-4.6.png" alt="">
    <br/>
    <small>Sumber: www.menshealth.com
        <br/>Gambar 4.6 Sumber Protein</small>
</div>

<p>
    Tahukah kamu kandungan nutrisi dalam menu makanan sehari- hari? Kandungan nutrisi dalam bahan makanan dapat diketahui dengan
    menggunakan indikator uji makanan atau reagen. Tabel 4.7 menunjukkan jenis reagen untuk mengetahui nutrisi dalam bahan
    makanan. Lakukan aktivitas berikut ini agar kamu mengetahui kandungan nutrisi pada makananmu.
</p>