<div class="row">
    <div class="col">
        <p>
            Contoh lainnya adalah saat memindahkan meja yang ringan akan lebih cepat daripada memindahkan lemari yang berat jika kita menggunakan besar gaya dorong yang sama. Hal ini disebabkan massa meja yang lebih kecil daripada massa lemari dan massa m = 2 kg berbanding terbalik dengan percepatan benda. Semakin kecil massa benda, maka semakin besar percepatan benda tersebut
        </p>
    </div>
    <div class="col">
        <div class="text-center">
            <div><a data-fancybox="gallery" href="content/img/page17/1.png"><img style="width:60%;" class="mb-3" src="content/img/page17/1.png"></a></div>
            <small>Sumber: Dok. Kemdikbud<br/>
            <b>Gambar 1.14</b> Benda yang Ditarik dengan Gaya Tertentu</small>
        </div>
    </div>
</div>
<h5><span>c.</span> Hukum III Newton</h5>
<div class="row">
    <div class="col">
        <p>
            Pernahkah kamu berpikir, bagaimana
            sebuah roket dapat meluncur ke angkasa?
            Roket yang terdorong ke atas diakibatkan
            oleh semburan gas ke bawah. Perhatikan
            Gambar 1.15! Semakin kuat semburan
            gas ke bawah, maka roket akan semakin
            cepat terdorong ke atas. Berdasarkan fakta
            tersebut, apa yang sebenarnya terjadi pada
            roket yang sedang diluncurkan? Gaya-gaya
            apa saja yang memengaruhi gerak roket
            tersebut? Apakah gaya-gaya pada gerak roket saat pertama kali diluncurkan sama
            seperti gaya-gaya roket saat sudah lepas dari landasannya? Untuk memahami secara
            rinci mengenai gerak roket, ayo diskusikan
            pertanyaan-pertanyaan berikut ini!
        </p>
    </div>
    <div class="col">
        <div class="text-center">
            <div><a data-fancybox="gallery" href="content/img/page17/2.png"><img style="width:60%;" class="mb-3" src="content/img/page17/2.png"></a></div>
            <small>Sumber: Dok. Kemdikbud<br/>
            <b>Gambar 1.15</b> Roket</small>
        </div>
    </div>
</div>

<div class="box">
    <center>
        <h3>Ayo, Kita Diskusikan</h3>
    </center>
    <ol>
        <li>
            Perhatikan contoh yang terdapat pada Gambar 1.16! Disajikan
            pasangan gaya aksi – reaksi yang ditunjukkan dengan menggunakan
            anak panah (vektor gaya) dan keterangan gaya aksi reaksi   yang
            bekerja pada benda. Tugasmu adalah menggambarkan anak
            panah untuk gaya reaksi dan menuliskan keterangan gaya reaksi
            yang bekerja, pada benda a sampai dengan c dan menggambarkan
            2 contoh tambahan pada poin d dan e.
        </li>
    </ol>
</div>