<p>
    <b>Apa yang harus kamu lakukan?</b>
</p>
<ol>
    <li>Sediakan 10 g bahan makanan yang akan diuji (nasi, ubi, telur, putih telur, susu, atau bahan makanan lain yang mudah
        ditemukan).
    </li>
    <li>Hancurkan bahan makanan yang akan diuji dengan mortar dan pistil.</li>
    <li>Tambahkan sedikit air untuk memudahkan penghancuran.</li>
    <li>Masukkan masing-masing 2 mL ekstrak makanan ke dalam tabung reaksi.</li>
    <li>Masukkan juga pada masing-masing tabung reaksi susu, putih telur, atau bahan makanan lain yang akan diuji.</li>
    <li>Beri label masing-masing tabung reaksi sesuai dengan nama sampel larutan uji.</li>
    <li>Tetesilah bahan makanan tersebut dengan reagen KI. Catat warna dasar dari bahan makanan dan warna dasar reagen KI.</li>
    <li>Perhatikan perubahan warna yang terjadi!</li>
</ol>

<p>
    <b>b. Uji Bahan Makanan yang Mengandung Gula</b>
</p>

<p>Reagen Benedict digunakan untuk menguji bahan makanan yang mengandung gula. Reagen ini berwarna biru jernih. Setelah sampel
    yang diuji ditetesi reagen Benedict, akan terjadi perubahan warna. Apabila sampel berubah warna menjadi biru kehijauan
    atau kuning atau merah bata berarti bahan makanan tersebut mengandung gula. Bergantung pada kadar gula dalam sampel.</p>

<p>
    <b>Apa yang harus kamu lakukan?</b>
</p>
<ol>
    <li>Lakukan langkah 1-6 seperti kegiatan uji kandungan karbohidrat.</li>
    <li>Tambahkan 10 tetes larutan Benedict ke dalam masing-masing tabung reaksi.</li>
    <li>Catat warna dasar bahan makanan dan warna reagen Benedict.</li>
    <li>Panaskan tabung reaksi dalam gelas kimia yang berisi air bersuhu 40-50&deg;C selama lima menit. Perhatikan, jangan arahkan
        mulut tabung reaksi pada temanmu, dan gunakan penjepit tabung reaksi saat memindahkan tabung reaksi. Pastikan pula
        kamu meminta gurumu melihat rangkaian percobaanmu sebelum kamu menyalakan apinya.</li>
    <li>Perhatikan perubahan warna yang terjadi!</li>
</ol>