<p>
    <b>c. Uji Bahan Makanan yang Mengandung Protein</b>
</p>
<p>Reagen Biuret digunakan untuk mengetahui adanya kandungan protein pada bahan makanan. Reagen Biuret adalah larutan berwarna
    biru yang ketika bereaksi dengan protein akan berubah warna menjadi merah muda sampai ungu.</p>

<p>
    <b>Apa yang harus kamu lakukan?</b>
</p>
<ol>
    <li>Lakukan langkah 1-6 seperti kegiatan uji kandungan karbohidrat.</li>
    <li>Catat warna dasar bahan makanan dan warna reagen Biuret.</li>
    <li>Dengan menggunakan pipet, secara hati-hati tambahkan 3 tetes reagen Biuret untuk masing-masing tabung. Kocok perlahanlahan
        untuk mencampur.</li>
    <li>Jangan terlalu kuat dalam mengocok untuk mencegah campuran tumpah ke luar tabung, usahakan campuran bahan uji dan Biuret
        jangan sampai terkena tangan secara langsung.</li>
</ol>

<p></p>
<b>Apa yang perlu kamu diskusikan?</b>
</p>
<ol>
    <li>Apakah indikator positif makanan yang kamu uji mengandung amilum, mengandung gula, dan mengandung protein? Jelaskan!</li>
    <li>Berdasarkan hasil percobaanmu, zat-zat apa sajakah yang terkandung dalam setiap makanan yang kamu uji? Apakah mengandung
        amilum, gula, atau protein?</li>
    <li>Apakah ada pada satu jenis makanan yang kamu uji mengandung amilum, gula, dan protein sekaligus? Mengapa hal ini dapat
        terjadi?
    </li>
</ol>

<p>
    <b>Apa yang dapat kamu simpulkan?</b>
</p>

<p>Berdasarkan percobaan dan diskusi yang telah kamu lakukan, apa yang dapat kamu simpulkan?</p>

<h5>
    <span>d</span>Vitamin</h5>
<p>
    Masih ingatkah kamu bahwa vitamin dibutuhkan tubuh dalam jumlah sedikit? Walaupun dibutuhkan dalam jumlah sedikit namun harus
    ada, karena vitamin diperlukan untuk mengatur fungsi tubuh dan mencegah beberapa penyakit. Vitamin dikelompokkan menjadi
    dua, yaitu vitamin yang larut dalam air (vitamin B dan C) dan vitamin yang larut dalam lemak (vitamin A, D, E, dan K).
    Khusus vitamin D dapat terbentuk ketika kulit terkena sinar matahari, karena di dalam tubuh ada pro vitamin D. Perhatikan
    Tabel 4.8!</p>