<div class="mb-4 text-center">
    <img src="content/img/free-7.png" style="width:90%;">
</div>

<p>Kamu telah mengetahui beberapa sumber vitamin bagi tubuh kita. Kekurangan vitamin tersebut dapat menyebabkan beberapa gangguan
    di dalam tubuhmu. Salah satu contoh yang sering kita jumpai seharihari adalah kekurangan vitamin C. Salah satu akibat
    kekurangan vitamin C adalah sariawan. Pernahkah kamu mengalaminya? Untuk pengobatan atau pencegahan sariawan biasanya
    disarankan untuk banyak mengonsumsi buah-buahan yang asam seperti jeruk, stroberi, atau asam jawa. Padahal tidak semua
    orang suka rasa yang terlalu asam.
</p>
<p>Tahukah kamu bahwa sebenarnya vitamin C itu tidak hanya terdapat pada buah-buahan yang asam. Nah, sebagai seorang peserta
    didik yang kritis coba kamu selidiki buah-buahan apa saja yang juga banyak mengandung vitamin C. Jadi kamu dapat memberikan
    alternatif saran bagi orang yang menderita sariawan untuk mengonsumsi buah lain yang mengandung banyak vitamin C. Oleh
    karena itu, coba lakukan aktivitas berikut ini dengan semangat.</p>