<div class="mb-3 text-center">
    <img src="content/img/act-4.4.png" style="width:100%;">
</div>

<p>
    Vitamin C banyak ditemukan pada buah dan sayuran. Tiap-tiap jenis buah memiliki kadar vitamin C yang berbeda-beda. Untuk
    mengetahui kadar vitamin C pada masing-masing jenis buah, lakukan kegiatan berikut ini.</p>

<p>
    <b>Apa yang kamu perlukan?</b>
</p>
<ol>
    <li>4 tabung reaksi</li>
    <li>Gelas</li>
    <li>Rak tabung reaksi</li>
    <li>Tepung maizena</li>
    <li>2% iodium tinktur</li>
    <li>Pipet</li>
    <li>Pengaduk kayu</li>
    <li>Timbangan</li>
    <li>Beberapa jenis sari buah misalnya sari buah jambu, sari buah jeruk, sari buah tomat, sari buah mangga, sari buah pepaya,
        sari buah salak, atau sari buah yang ada di lingkunganmu. 10.Perlu kamu perhatikan! Jangan mencicipi salah satu sari
        buah. Iodium dapat menodai kulit dan pakaian. Bila terkena mata dapat menyebabkan iritasi. Beritahu gurumu jika terjadi
        tumpahan.
    </li>
</ol>
<p>
    <b>Apa yang harus kamu lakukan?</b>
</p>
<ol>
    <li>Beri tanda empat tabung reaksi A-D (sesuai dengan jumlah sari buah yang hendak kamu uji).</li>
    <li>Isi masing-masing tabung reaksi 5 mL dengan sari buah yang berbeda.
    </li>
    <li>Larutkan 0,3 g tepung maizena, dalam 50 mL air.</li>
    <li>Tambahkan 5 mL larutan maizena ke masing-masing tabung reaksi, aduk sampai rata.</li>
    <li>Teteskan iodium tinktur ke tabung reaksi A-D sambil diaduk. Catat jumlah tetesan yang dibutuhkan untuk mengubah sari
        buah sampai berubah menjadi ungu.</li>
    <li>Ulangi langkah 5 sampai 3 kali.</li>
    <li>Tulislah data hasil percobaanmu pada Tabel 4.9!</li>
    Catatan: Semakin banyak jumlah tetesan tinktur untuk mengubah warna menjadi ungu makin banyak kandungan vitamin C.
</ol>