<p>
    <b>Apa yang perlu kamu diskusikan?</b>
</p>
<ol>
    <li>Berdasarkan jumlah tetesan iodium tinktur, sari buah apa yang mengandung vitamin C paling tinggi?</li>
    <li>Berdasarkan hasil percobaanmu, apa yang dapat kamu sarankan pada penderita sariawan?</li>
</ol>
<p>
    <b>Apa yang dapat kamu simpulkan?</b>
</p>
<p>Berdasarkan percobaan dan diskusi yang telah kamu lakukan, apa yang dapat kamu simpulkan?</p>

<h5>
    <span>e</span>Mineral</h5>

<p>Tubuhmu memerlukan sekitar 14 jenis mineral, di antaranya kalsium, fosfor, kalium, natrium, besi, iodium, dan seng. Mineral
    merupakan nutrisi yang sedikit mengandung atom karbon. Satu jenis makanan yang kita konsumsi ternyata dapat mengandung
    lebih dari satu jenis zat gizi, misalnya pada susu terkandung protein, lemak, serta juga mineral berupa kalsium. Perhatikan
    Gambar 4.8!</p>