<div class="mb-4 text-center">
    <img style="width:100%;" src="content/img/img-4.8.png">
</div>

<p>Mineral berfungsi dalam proses pembangunan sel, membantu reaksi kimia tubuh, mengangkut oksigen ke seluruh tubuh, dan pembentukan
    dan pemeliharaan tulang. Beberapa mineral dibutuhkan tubuh kita dalam jumlah yang sangat sedikit sebagian yang lain cukup
    banyak. Berbagai mineral yang dibutuhkan tubuh, manfaatnya serta sumbernya dapat dicermati pada Tabel 4.10!</p>

<div class="mb-4 text-center">
    <img style="width:100%;" src="content/img/tab-4.10.png">
</div>