<div class="box">

    <div class="mb-4 text-center">
        <img style="width:80%;" src="content/img/page18/1.png">
        <div>
            <small>Sumber: Dok. Kemdikbud
            <br/>
            <b>Gambar 1.16</b> Pasangan Gaya Aksi dan Reaksi</small>
        </div>
    </div>
    <ol start="2">
        <li>
            Sebuah balok diletakkan di atas meja seperti pada Gambar 1.17.
            Balok diam dan memiliki berat sebesar 1 N.
            <div class="mb-4 text-center">
                <img style="width:80%;" src="content/img/page18/2.png">
                <div>
                    <small>Sumber: Dok. Kemdikbud
                    <br/>
                    <b>Gambar 1.17</b> Gaya yang Bekerja pada Balok yang Terletak di Atas Meja</small>
                </div>
            </div>
        </li>
    </ol>
</div>