<h5>
    <span>b</span>Kerongkongan (Esofagus)</h5>

<p>Setelah melalui rongga mulut, makanan yang berbentuk bolus akan masuk ke dalam tekak (faring). Faring adalah saluran yang
    memanjang dari bagian belakang rongga mulut sampai ke permukaan kerongkongan (esofagus). Pada pangkal faring terdapat
    katup pernapasan yang disebut epiglotis. Epiglotis berfungsi untuk menutup ujung saluran pernapasan (laring) agar makanan
    tidak masuk ke saluran pernapasan. Setelah melalui faring, bolus menuju ke esofagus (kerongkongan). Otot kerongkongan
    berkontraksi sehingga menimbulkan gerakan meremas yang mendorong bolus ke dalam lambung. Gerakan otot kerongkongan ini
    disebut gerakan peristaltik. Perhatikan Gambar 4.13!</p>

<div class="mb-4 text-center">
    <img style="width:80%;" src="content/img/img-4.13.png">
    <br>
    <small>Sumber: Reece et al. 2012
        <br/> Gambar 4.13 Esofagus dan Gerakan Peristaltik</small>
</div>

<h5>
    <span>c</span>Lambung</h5>

<p>
    Setelah dari esofagus makanan masuk ke lambung. Perhatikan Gambar 4.14! Di dalam lambung terjadi pencernaan mekanis dan kimiawi.
    Secara mekanis otot lambung berkontraksi mengadukaduk bolus. Secara kimiawi bolus tercampur dengan getah lambung. Getah
    lambung mengandung, asam klorida (HCl), enzim pepsin, dan enzim renin. HCl berfungsi untuk menjadikan ruangan dalam lambung
    bersifat asam (pH 1-3) sehingga dapat membunuh kuman yang masuk bersama makanan. Enzim pepsin akan menghidrolisis</p>