<p>Penyerapan zat-zat makanan terjadi di ileum. Glukosa, vitamin yang larut dalam air, asam amino, dan mineral setelah diserap
    oleh vili usus halus akan dibawa oleh darah menuju hati dan diedarkan ke seluruh tubuh. Glukosa dalam hati selanjutnya
    disimpan dalam bentuk glikogen. Asam lemak, gliserol, dan vitamin yang larut dalam lemak setelah diserap oleh vili usus
    halus akan dibawa oleh pembuluh getah bening menuju hati, kemudian disimpan dalam jaringan lemak. Tahukah kamu bagaimana
    usus dapat menyerap zat-zat makanan dengan sangat efektif? Agar kamu mengetahuinya, ayo lakukan aktivitas berikut!</p>

<div class="text-center mb-4">
    <img style="width:100%;" src="content/img/act-4.5.png" />
</div>

<p>
    <b>Apa yang kamu perlukan?</b>
</p>

<ol>
    <li>Kain katun ukuran 25&times;25 cm</li>
    <li>Kain handuk ukuran 25&times;25 cm</li>
    <li>Wadah tempat menampung air</li>
</ol>

<p>
    <b>Apa yang harus kamu lakukan?</b>
</p>

<ol>
    <li>Rendam kedua potong kain ke dalam mangkuk berisi air selama 30 detik.</li>
    <li>Ambil ke dua kain dari mangkuk, siram ke dua kain dengan air dari kran (air mengalir) selama satu menit.</li>
    <li>Peras setiap kain ke wadah yang berbeda.</li>
    <li>Ukurlah jumlah air yang tertampung.</li>
</ol>

<p>
    <b>Apa yang perlu kamu diskusikan?</b>
</p>

<ol>
    <li>Kain apa yang menyerap air lebih banyak? Mengapa?</li>
    <li>Bandingkan permukaan kain handuk dengan permukaan dalam usus halus? Apa struktur yang membedakan keduanya?</li>
</ol>

<p>
    <b>Apa yang dapat kamu simpulkan?</b>
</p>

<p>Berdasarkan percobaan dan diskusi yang telah kamu lakukan, apa yang dapat kamu simpulkan?</p>