<p>Setelah kamu melakukan Aktivitas 4.5 kamu dapat melihat analogi peristiwa penyerapan yang terjadi dalam usus halus. Struktur
    usus manusia memiliki lipatan-lipatan, baik bagian luar maupun bagian dalam, yang berfungsi untuk memperluas bidang penyerapan.
    Perhatikan Gambar 4.16!</p>

<div class="mb-4 text-center">
    <img src="content/img/img-4.16.png">
    <br>
    <small>Sumber: Reece et al. 2012
        <br/> Gambar 4.16 Struktur Bagian dalam Usus Halus</small>
</div>

<p>Semakin luas bidang permukaan bagian dalam usus, semakin banyak vili yang terdapat akan menyebabkan proses penyerapan yang
    terjadi juga akan semakin efektif. Maha Suci Tuhan yang telah merancang struktur usus halus seperti itu. Bayangkan apabila
    struktur usus datar, maka penyerapannya juga tidak efektif dan membutuhkan waktu yang sangat lama, akibatnya kita akan
    kekurangan pasokan nutrisi
</p>

<h5>
    <span>d</span>Usus besar</h5>

<p>Usus besar atau kolon memiliki panjang kurang lebih 1 meter dan terdiri atas kolon asendens (naik), kolon transversum (mendatar),
    dan kolon desendens (menurun) dan berakhir pada anus. Di antara usus halus dan usus besar terdapat usus buntu (sekum).
    Perhatikan Gambar 4.17! Pada ujung sekum terdapat tonjolan kecil yang disebut umbai cacing (apendiks) yang berisi massa
    sel darah putih yang berperan dalam imunitas.
</p>

<p>Bahan makanan yang sampai pada usus besar dapat dikatakan sebagai zat-zat sisa. Zat-zat sisa berada dalam usus besar selama
    1 sampai 4 hari. Zat sisa tersebut terdiri atas sejumlah besar air dan</p>