<div class="text-center mb-4">
    <img style="width:100%;" src="content/img/img-4.18.png">
</div>

<h4>
    <span>2</span> Organ Pencernaan Tambahan</h4>

<div class="row">
    <div class="col">
        <p>Proses pencernaan manusia tidak hanya terdiri atas saluran pencernaan, tetapi juga terdapat organ pencernaan tambahan
            berupa kelenjar pencernaan. Kelenjar pencernaan membantu mencerna makanan dengan menghasilkan enzim-enzim yang
            digunakan dalam pencernaan makanan secara kimiawi. Terdapat tiga organ pencernaan tambahan yaitu hati, kantung
            empedu, dan pankreas. Perhatikan Gambar 4.19!</p>
    </div>
    <div class="col">
        <div class="text-center mb-4">
            <img style="width:100%" src="content/img/img-4.19.png">
            <br>
            <small>Sumber: Campbell et al. 2008
                <br/> Gambar 4. 19 Beberapa Kelenjar Pencernaan
            </small>
        </div>
    </div>
</div>
</div>