<h5>
    <span>a</span>Hati</h5>

<p>Hati merupakan kelenjar terbesar dalam tubuh, berada pada bagian rongga perut sebelah kanan di bawah diafragma. Hati berperan
    dalam proses detoksifikasi. Ketika dalam darah terkandung beberapa zat yang berbahaya dan bersifat racun maka hati akan
    menetralisir racun tersebut sehingga tidak berbahaya bagi tubuh.</p>

<p>Hati merupakan organ penyimpanan. Hati akan memindahkan zat besi (Fe) dan vitamin A, D, E, K, dan B12 dari darah dan menyimpannya.
    Hati juga berperan dalam menjaga keseimbangan kadar glukosa darah. Ketika kadar glukosa dalam darah rendah, hati akan
    melepaskan glukosa dengan cara memecah glikogen. Bahkan, jika dibutuhkan hati akan mengubah gliserol, asam lemak, dan
    asam amino menjadi glukosa. Selain itu, hati juga mengatur kadar kolesterol dalam darah. Kolesterol akan diubah menjadi
    asam kolik (cholic acid) yang berfungsi untuk mengemulsi lemak. Sel-sel hati akan mengeluarkan getah yang mengandung
    kolesterol, asam kolik, garam empedu, lesitin, bilirubin, dan elektrolit. Getah ini disebut dengan getah empedu.</p>

<h5>
    <span>b</span>Kantung Empedu</h5>

<p>Kantung empedu merupakan organ yang berada di bawah hati. Kantung ini akan menyimpan getah empedu yang dihasilkan oleh hati.
    Getah empedu berwarna kuning kehijauan karena mengandung pigmen bilirubin. Bilirubin merupakan pigmen yang terbentuk
    dari pemecahan hemoglobin. Getah empedu akan dikeluarkan ke usus halus dan berperan dalam mengemulsi lemak. Dengan demikian,
    lemak akan terpecah menjadi butiran-butiran kecil sehingga lebih mudah dicerna oleh enzim pencernaan dan melanjutkan
    proses pemecahan hingga dapat diserap oleh tubuh.</p>

<h5>
    <span>c</span>Pankreas</h5>

<p>Pankreas merupakan organ yang berada di balik perut di belakang lambung. Sel-sel pada pankreas akan menghasilkan carian pankreas,
    yang akan masuk ke dalam duodenum melalui saluran pankreas. Getah pankreas mengandung sodium bikarbonat (NaHCO3) dan
    enzimenzim pencernaan yang berperan dalam pemecahan karbohidrat, protein, dan lemak. Pankreas juga merupakan kelenjar
    endokrin yang menghasilkan hormon insulin. Hormon insulin ini berfungsi mengatur proses pengubahan glukosa dalam darah
    menjadi glikogen yang</p>