<div class="box">
    <p>dengan:</p>
    <ul>
        <li>w = gaya pada balok oleh bumi</li>
        <li>w ' = gaya pada bumi oleh balok</li>
        <li><i>F</i> = gaya luar pada balok berupa gaya tarik</li>
        <li><i>f</i> = gaya gesek pada balok oleh meja</li>
        <li><i>N</i> = gaya normal pada balok oleh meja</li>
        <li><i>N '</i> = gaya normal pada meja oleh balok</li>
    </ul>
    <p>Berdasarkan gambar tersebut pilihlah jawaban yang benar dari pertanyaan-pertanyaan berikut! (Lingkari jawaban yang benar)</p>
    <ol>
        <li>
            Gaya berat (w) balok sebesar 1 N disebabkan oleh: <b>[bumi] [lantai]</b>
        </li>
        <li>
            Lantai menahan balok dengan gaya normal N dan arah yang berlawanan dengan w. Besar N adalah: <b>[sama dengan w] [kurang dari w] [lebih dari w]</b>
        </li>
        <li>
            Karena balok berada pada keadaan seimbang (diam), maka total gaya yang bekerja pada balok adalah: <b>[nol] [tidak sama dengan nol]</b>
        </li>
        <li>
            Nilai N sama dengan w dan N berlawanan arah dengan w,
            maka N dan w merupakan <b>[pasangan gaya aksi – rekasi]
            [bukan merupakan pasangan gaya aksi – reaksi].</b>
            Hal tersebut dikarenakan pasangan gaya aksi – reaksi selalu
            bekerja pada <b>[satu benda yang sama] [dua benda yang
            berbeda]</b> dan dapat dilihat bahwa N dan w <b>[keduanya
            bekerja pada benda yang sama] [keduanya bekerja
            pada benda yang berbeda]</b>.
        </li>
    </ol>
</div>

<p>
    Hukum III Newton menyatakan bahwa ketika benda pertama mengerjakan gaya (F aksi ) pada benda kedua, maka benda kedua tersebut
    akan memberikan gaya (F reaksi ) yang sama besar ke benda pertama namun berlawanan arah atau F aksi =−F reaksi . Jadi
    gaya aksi reaksi selalu bekerja pada dua benda yang berbeda dengan besar yang sama. Contoh gaya aksi dan reaksi tersebut
    misalnya pada peristiwa orang berenang. Gaya aksi dari tangan perenang ke air mengakibatkan gaya reaksi dari air ke tangan
    dengan besar gaya yang sama namun arah gaya berlawanan, sehingga orang tersebut akan terdorong ke
</p>