<p>Disimpan dalam hati. Adanya hormon insulin inilah yang mengontrol keseimbangan jumlah glukosa dalam darah. Apabila terjadi
    gangguan dalam produksi insulin maka dapat mengakibatkan penyakit diabetes.</p>

<div class="text-center mb-4">
    <img style="width:100%;" src="content/img/act-4.6.png">
</div>

<p>Di dalam rongga mulut terjadi pencernaan mekanis dan kimiawi. Pencernaan kimiawi dibantu saliva atau air liur. Nasi yang
    kamu kunyah di rongga mulut setelah 5 menit dapat terasa lebih manis. Mengapa hal itu dapat terjadi? Kalian akan menemukan
    jawabannya setelah melakukan percobaan ini.</p>

<p></p>
<b>Apa yang kamu perlukan?</b>
</p>
<ol>
    <li>Amilase (dari air liur atau ekstrak kecambah kacang hijau)</li>
    <li>1 sendok makan pati atau kanji</li>
    <li>Kapas</li>
    <li>1 gelas air kran</li>
    <li>1 buah gelas ukur</li>
    <li>1 buah pengaduk</li>
    <li>3 buah pipet tetes</li>
    <li>1 buah sendok plastik</li>
    <li>1 buah pembakar spiritus</li>
    <li>1 buah kaki tiga</li>
    <li>Larutan iodium atau lugol untuk uji zat amilum</li>
    <li>Larutan Benedict untuk uji zat gula</li>
    <li>1 buah plat tetes</li>
    <li>1 buah tabung reaksi</li>
</ol>

<p></p>
<b>Apa yang harus kamu lakukan?</b>
</p>
<ol>
    <li>Kumpulkan enzim amilase dari kecambah kacang hijau dengan cara hancurkan 1/ 2 gelas kecambah kacang hijau yang telah
        ditambah 1/ 4 gelas air menggunakan pistil dan mortar. Setelah halus, saring bahan tersebut dengan menggunakan saringan
        teh. Larutan yang sudah kamu peroleh tersebut mengandung enzim amilase.</li>
    <li>Masukkan 1 sendok makan pati/kanji dalam satu gelas air. Tambahkan sekitar 100 mL air dalam gelas. Panaskan gelas dengan
        pembakar spiritus dan aduk terus sampai cairan mengental (transparan), kemudian dinginkan!</li>
    <li>Tempatkan plat tetes di atas kertas putih, sehingga kamu dapat mengamati perubahan warna dengan jelas.</li>
    <li>Masukkan 5 mL larutan kanji dalam tabung reaksi pada suhu kamar, kemudian segera tambahkan 0,5 mL amilase. Aduk dengan
        cepat dan merata. Catat waktunya! Masukkan campuran larutan kanji-amilase ke dalam cekungan plat tetes beri tanda
        dengan nomor 1 sampai dengan nomor 8. Pada menit 1 tetesi cekungan plat tetes dengan larutan iodium, selanjutnya
        setiap selang waktu satu menit cekungan plat tetes yang lain ditetesi dengan larutan iodium.</li>
    <li>Catat perubahan warna dari plat tetes 1 sampai dengan nomor 8.</li>