<p>
    <b>Apa yang perlu kamu diskusikan?</b>
</p>
<ol>
    <li>Pada cekungan plat tetes nomor berapa yang warnanya paling gelap? Mengapa?</li>
    <li>Pada cekungan plat tetes nomor berapa yang warnanya paling terang? Mengapa?</li>
    <li>Setelah 5 menit masukkan larutan kanji-amilase ke tabung reaksi, tetesi dengan larutan Benedict. Amati apa perubahan
        warna pada dasar tabung reaksi!</li>
    <li>Setelah melakukan percobaan ini, menurutmu mengapa kamu harus benar-benar mengunyah makanan? Apa manfaat mengunyah makanan
        dalam mulut lebih lama? Berdasarkan percobaan ini, coba tulislah di majalah dinding sekolahmu pada kolom berita kesehatan
        yang menjelaskan kepada teman-teman kamu agar sadar kesehatan dengan mengunyah makanan lebih baik.</li>
</ol>
<p>
    <b>Apa yang dapat kamu simpulkan?</b>
</p>

<p>
    Berdasarkan percobaan dan diskusi yang telah kamu lakukan, apa yang dapat kamu simpulkan?</p>