<div class="text-center mb-4">
    <img style="width:100%;" src="content/img/tab-4.12.png">
    <br>
</div>

<h3>
    <span>C</span> Gangguan pada Sistem Pencernaan</h3>

<div class="text-center mb-4">
    <img style="width:100%;" src="content/img/free-13.png">
</div>