<h4>
    <span>1</span>Obesitas</h4>

<p>Obesitas adalah suatu kondisi tubuh yang memiliki kandungan lemak berlebih, sehingga dapat menimbulkan efek negatif pada
    kesehatan. Obesitas dapat meningkatkan risiko terkena beberapa jenis penyakit, seperti penyakit jantung, diabetes, dan
    osteoartritis. Obesitas umumnya disebabkan karena konsumsi makanan yang berlebih dan kurangnya aktivitas tubuh. Namun
    demikian, obesitas juga dapat disebabkan oleh keturunan melalui pewarisan gen atau akibat konsumsi obat tertentu. Pada
    beberapa orang, ada yang sedikit mengonsumsi makanan namun mengalami kelebihan berat badan. Hal ini dapat disebabkan
    laju metabolisme tubuh yang lambat.</p>

<p>Upaya utama untuk mencegah atau menangani obesitas adalah dengan berolahraga dan mengatur pola makan. Pengaturan pola makan
    dapat dilakukan dengan mengurangi konsumsi makanan yang banyak mengandung energi, seperti makanan yang tinggi gula dan
    lemak, dan banyak mengonsumsi makanan yang mengandung serat tinggi.</p>

<div class="text-center mb-4">
    <img style="width:100%;" src="content/img/free-14.png" />
</div>