<h4><span>2</span>Karies Gigi</h4>

<div class="text-center mb-4">
    <video class="mb-4" style="width:100%;" controls controlsList="nodownload">
        <source src="assets/videos/Karies.ogv" type="video/ogg">
    </video>
    <br/>
    <small><b>Ilustrasi</b> Karies Gigi</small>
</div>

<p>Karies gigi atau gigi berlubang, merupakan kerusakan gigi akibat infeksi bakteri yang merusak lapisan gigi sehingga merusak
struktur gigi. Perhatikan Gambar 4.20! Bakteri pada mulut mengolah gula sehingga menghasilkan asam. Asam yang diproduksi
selama metabolisme dalam Sumber: doctorspiller.com mulut ini dapat merusak gigi. Gigi Gambar 4.20 Karies Gigi berlubang
dapat menyebabkan nyeri pada gigi jika sampai terlalu dalam kerusakannya karena telah sampai merusak saraf gigi.</p>

<!--
<img style="width:80%;" src="assets/img/gbr-4.20.png" alt=""><br/>
<small>Sumber: doctorspiller.com<br/>Gambar 4.20 Karies Gigi</small>
-->

<p>Pada umumnya penyakit gigi dan mulut disebabkan oleh kurangnya menjaga kebersihan mulut. Oleh karena itu, upaya pencegahan
yang dapat kamu lakukan adalah dengan memerhatikan kebersihan gigi. Menyikat gigi minimal 2 kali sehari, membersihkan
gigi dengan menggunakan benang gigi, obat kumur atau berkumur dengan larutan garam dan air hangat dapat membantu mengurangi
plak pada gigi, serta pemeriksaan gigi secara teratur dapat mengurangi perkembangan bakteri yang menyebabkan terjadinya
penyakit pada mulut dan gigi. Selain itu kamu juga harus mengurangi makanan- makanan manis seperti permen, minuman bersoda,
atau makanan manis lainnya agar jumlah plak yang menempel pada gigi berkurang. Kamu dapat berkumur dengan air setelah
banyak makan makanan manis. Perbanyak minum air putih juga dapat mengurangi plak yang menempel pada gigi.</p>

<h4><span>3</span>Mag (Gastritis)</h4>

<p>Sakit Mag (gastritis), merupakan penyakit yang menyebabkan terjadinya peradangan atau iritasi pada lapisan lambung. Perhatikan
Gambar 4.21! Mag dapat diakibatkan meningkatnya asam lambung, infeksi bakteri Helicobacter pylori, peningkatan asam lambung,
stres, makan tidak teratur, dan mengonsumsi makanan yang terlalu pedas atau asam. Mag dapat dicegah dengan cara makan
teratur, makan</p>