<div class="row">
    <div class="col">
        <p>
            Secukupnya, cuci tangan sebelum Esofagus makan, menghindari makanan yang memicu produksi asam lambung yang Lambung berlebihan
            seperti makanan asam, makanan pedas, dan kopi. Selain itu menghindari stres yang berlebihan Luka pada juga dapat
            membantu mencegah sakit jaringan lambung mag. Apabila mag disebabkan adanya Sumber: www.wisegeek.org infeksi
            bakteri Helicobacter pylori, Gambar 4.21 Luka pada dapat diobati dengan mengonsumsi Lambung obat antibiotik seperti
            amoksilin dan tetrasiklin. Namun, tentu harus dengan resep dari dokter.
        </p>
    </div>
    <div class="col">
        <div class="text-center">
            <img style="width:90%;" src="content/img/gbr-4.21.png" alt="">
            <small>Sumber: www.wisegeek.org
                <br/>Gambar 4.21 Luka pada Lambung</small>
        </div>
    </div>
</div>

<h4>
    <span>4</span>Hepatitis</h4>

<p>Hepatitis merupakan penyakit peradangan pada hati. Orang yang menderita hepatitis ringan memiliki gejala seperti orang yang
    terkena flu, yaitu sakit otot dan persendian, demam, diare, dan sakit kepala. Penderita hepatitis akut dapat mengalami
    jaundice (menguningnya kulit dan mata), membesarnya hati, dan membesarnya limfa . Hepatitis apabila tidak segera ditangani
    dapat memicu fibrosis (kerusakan pada hati) dan sirosis (gagal hati kronis). Sirosis dapat meningkatkan risiko berkembangnya
    kanker hati.</p>

<div class="text-center">
    <img style="width:80%;" src="content/img/gbr-4.22.png" alt="">
    <small>Sumber: (a) en.wikipedia.org, (b) fehv.org
        <br/>Gambar 4.22 (a) Orang yang Mengalami Jaundice, (b) Kondisi Hati Penderita Hepatitis, Sirosis, dan Kanker Hati</small>
</div>

<p>Virus hepatitis B merupakan penyebab utama penyakit hepatitis. Selain virus hepatitis B, penyakit hepatitis juga dapat disebabkan
    oleh bakteri, jamur, Protozoa, racun seperti alkohol, dan penggunaan obat secara terus menerus, seperti parasetamol.</p>