<h4>
    <span>5</span>Diare
</h4>

<p>Diare adalah penyakit pada saluran usus besar yang disebabkan oleh infeksi bakteri dan Protozoa, seperti Entamoeba coli.
Ketika terjadi infeksi, dinding usus besar teriritasi, gerakan peristaltik meningkat, serta air tidak dapat diserap.
Penderita diare dapat mengalami dehidrasi karena air dalam usus terus menerus dikeluarkan, selain itu penderita diare
juga akan mengalami mulas di perut karena kontraksi otot pada usus besar terjadi terus menerus.</p>

<div class="text-center mb-3">
    <audio controls class="d-print-none">
        <source src="assets/sounds/diare_.mp3" type="audio/mpeg"> Your browser does not support the audio element.
    </audio>
    <br/>
    <small>
        <b>Dengarkan</b> Tentang Diare</small>
</div>

<p>Upaya mencegah diare adalah dengan menjaga kebersihan makanan yang kamu makan, karena makanan yang kurang higienis biasanya
mengandung bakteri yang dapat menyebabkan diare, cucilah tangan sebelum makan, minum air yang dimasak atau air kemasan
yang higienis, dan jagalah kebersihan diri dan lingkungan. Apabila terkena diare, penanganan yang dilakukan adalah dengan
meminum oralit (larutan gula garam) untuk mengganti cairan yang bayak keluar saat diare, atau dapat juga minum obat diare.
Obat diare biasanya memiliki fungsi utama membantu proses pemadatan feses, bukan menghentikan diare. Apabila sakit diare
belum teratasi segeralah memeriksakan diri ke dokter.</p>

<h4>
    <span>6</span>Konstipasi
</h4>

<p>Konstipasi merupakan kondisi feses keras atau kering sehingga sulit dikeluarkan. Penyebab konstipasi adalah kurangnya asupan
makanan berserat dan kurang minum. Ketika feses tidak dikeluarkan secara teratur, air yang terkandung di dalamnya akan
terserap sehingga menyebabkan feses keras atau kering sehingga sulit dikeluarkan. Upaya mencegah konstipasi di antaranya
adalah tidak sering menahan buang air besar, makan makanan yang berserat seperti sayur dan buah-buahan, hindari mengonsumsi
makanan yang tinggi lemak dan gula (seperti makanan manis, keju, makanan olahan) karena makanan tersebut dapat menimbulkan
konstipasi, minum cukup banyak air. Banyak minum dan makan makanan berserat akan membantu pergerakan feses dan membantu
feses lebih lunak sehingga dapat menghindari konstipasi. Selain itu peningkatan aktivitas fisik juga membantu mengatasi
konstipasi.
</p>

<div class="text-center mb-3">
    <audio controls class="d-print-none">
        <source src="assets/sounds/konstipasi_.mp3" type="audio/mpeg"> Your browser does not support the audio element.
    </audio>
    <br/>
    <small><b>Dengarkan</b> Tentang Konstipasi</small>
</div>