<h4>
    <span>7</span>Gejala Kekurangan Vitamin</h4>

<p>Kekurangan vitamin pada tubuh disebut dengan avitaminosis. Pada Tabel 4.14 berikut akan dipaparkan beberapa gejala kekurangan
    vitamin pada tubuh.</p>

<div class="text-center mb-4">
    <img style="width:100%;" src="content/img/tab-4.14.png" alt="">
</div>

<h4>
    <span>8</span>Gejala Kekurangan Mineral</h4>

<p>Kekurangan mineral juga dapat menyebabkan gangguan pada tubuh. Perhatikan Tabel 4.15 untuk mengetahui beberapa gejala akibat
    kurangnya asupan mineral.</p>

<div class="text-center mb-4">
    <img style="width:100%;" src="content/img/tab-4.15.png" alt="">
</div>

<p>Setelah mempelajari berbagai jenis nutrisi yang dibutuhkan oleh tubuh serta bagaimana sistem pencernaan makanan pada tubuhmu,
    sekarang kamu telah mengetahui bagaimana pentingnya sistem pencernaan tubuh dalam mengolah makanan sehingga dapat</p>