<p>Dimanfaatkan oleh tubuh. Oleh karena itu, sekarang kamu harus mulai memerhatikan kesehatan sistem pencernaanmu dan asupan
    nutrisi yang baik untuk tubuh. Pola makan yang seimbang dengan aktivitas harianmu serta pola makan yang teratur merupakan
    salah satu upaya menjaga kesehatan sistem pencernaanmu. Tentunya masih banyak lagi upaya menjaga kesehatan yang dapat
    kamu lakukan. Coba tuliskan beberapa upaya lain untuk menjaga kesehatan sistem pencernaan.</p>

<div class="text-center mb-4">
    <img style="width:100%;" src="content/img/free-15.png" alt="">
</div>