<p>Kita wajib bersyukur kepada Tuhan Yang Maha Esa karena kita telah diberi tangan dan kaki, sehingga kita dapat dengan mudah
mengambil barang-barang yang kita butuhkan atau bergerak menuju suatu tempat yang kita inginkan. Ketika kita bergerak menuju
suatu tempat, tentu kita akan melintasi suatu lintasan dengan kecepatan tertentu dan memerlukan waktu tertentu pula. Tahukah
kamu bagaimana hubungan antarketiganya? Pernahkah kamu berpikir bagaimana kaki dan tangan, maupun organ tubuhmu yang lain
dapat bergerak? Agar mengetahuinya, ayo pelajari bab ini dengan penuh antusias!</p>

<h3><span>A</span>Konsep Gerak</h3>

<div class="text-center mb-4">
    <img style="width:100%;" src="content/img/page2/1.png" alt="">
</div>

<video style="width:100%;" class="d-print-none" controls>
    <source src="content/videos/video.ogv" type="video/ogg">
    Your browser does not support the video tag.
</video>

<audio controls>
    <source src="content/videos/video.ogv" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

<p>Tahukah kamu bagaimana suatu benda dikatakan bergerak? Benda dapat dikatakan bergerak apabila mengalami perubahan posisi
dari suatu titik acuan. Benda yang bergerak akan melalui suatu lintasan tertentu. Lintasan dapat berupa lintasan yang lurus,
melingkar atau parabola, ataupun tidak beraturan. Namun, pada bagian ini kita akan mempelajari bagaimana gerak benda pada
lintasan yang lurus. Benda yang bergerak pada suatu lintasan yang lurus, melibatkan waktu, jarak, dan kecepatan. Bagaimana
hubungan antara jarak dengan waktu? Bagaimana hubungan antara kecepatan dengan waktu? Untuk mengetahuinya, ayo lakukan aktivitas
berikut!</p>

<p>Disini demo konten simulasi sederhana matematika.
<ul>
    <li><a href="#" class="btn-simulation" data-url="http://localhost/assets/KONTEN%20TIM%20Pak%20Winih/Matematika%20Kelas%20V/Simulasi%20Matematika%201%20Rev/Simulasi%20Matematika%201.html">Untuk membuka simulasi game 1 klik disini</a></li>
    <li><a href="#" class="btn-simulation" data-url="http://localhost/assets/KONTEN%20TIM%20Pak%20Winih/Matematika%20Kelas%20V/Simulasi%20Matematika%202%20OK/Simulasi%20Matematika%202.html">Untuk membuka simulasi game 2 klik disini</a></li>
    <li><a href="#" class="btn-simulation" data-url="http://localhost/assets/KONTEN%20TIM%20Pak%20Winih/Matematika%20Kelas%20V/Simulasi%20Matematika%203%20OK/Simulasi%20Matematika%203.html">Untuk membuka simulasi game 3 klik disini</a></li>
    
</ul>
</p>