<p class="no-indent">
depan meskipun tangannya mengayuh ke belakang. Karena massa air
jauh lebih besar daripada massa orang, maka percepatan yang dialami
orang akan jauh lebih besar daripada percepatan yang dialami air. Hal
ini mengakibatkan orang tersebut akan melaju ke depan.
</p>
<div class="row">
    <div class="col">
        <p>
            Tahukah kamu bahwa gerak burung terbang dapat dijelaskan dengan menggunakan hukum III
            Newton. Perhatikan Gambar 1.18! Burung mengepakkan sayap ke belakang untuk memberikan gaya aksi ke udara. Udara yang massanya Gaya angkat burung ke atas jauh lebih besar daripada burung, (F) memberi gaya reaksi yang nilainya sama besar dengan gaya aksi namun berlawanan arah, sehingga mengakibatkan burung dapat melaju kencang ke depan. 
        </p>
    </div>
    <div class="col">
        <div class="text-center">
            <div><a data-fancybox="gallery" href="content/img/page20/1.png"><img style="width:70%;" class="mb-3" src="content/img/page20/1.png"></a></div>
            <small>Sumber: Dok. Kemdikbud<br/>
            <b>Gambar 1.18</b> Gaya yang Bekerja pada Saat Burung Terbang</small>
        </div>
    </div>
</div>

<p>Lalu bagaimana gerakan burung di tempat yang hampa udara? Coba pikirkan apa yang akan terjadi pada burung, diskusikan dengan
temanmu! Untuk lebih memahami konsep yang ada pada Hukum I, II, dan III Newton,lakukan kegiatan berikut bersama teman-temanmu.</p>

<div class="box">
    <center>
        <h3>Ayo, Kita Diskusikan</h3>
    </center>
    <ol>
        <li>
            Lengkapi Tabel 1.5 berikut dengan analisis peristiwa-peristiwa
            yang tertera pada tabel. Centang apakah pertistiwa tersebut
            merupakan penerapan dari Hukum I, II, atau III Newton,
            kemudian tuliskan alasanmu pada kolom alasan dengan baik
            dan benar!
            
            <div class="text-center">
                <small>
                    <b>Tabel 1.5</b> Hubungan Hukum Newton dengan Peristiwa Sehari-hari
                </small>
                <div>
                    <img style="width:90%;" class="mb-3" src="content/img/page20/2.png">
                </div>
            </div>
        </li>
    </ol>
</div>