<div class="empty text-center">
    <div class="title">
        "Education is the most powerfull weapon which you can use to change the world" 
        <br/><br/>
        ― Nelson Mandela
    </div>
</div>