<div>
    <b>B. Jawablah dengan benar pertanyaan berikut!</b>
</div>

<div class="form-group">
    <label>1. Suatu bahan makanan ketika diuji dengan Biuret memunculkan warna ungu, ketika diuji dengan lugol tidak terjadi perubahan
        warna, dan ketika diuji dengan Benedict memunculkan warna merah bata. Mengandung bahan apakah makanan tersebut? Berikan
        contoh makanan tersebut!</label>
    <textarea class="form-control" name="" id="" row="3"></textarea>
</div>

<div class="form-group">
    <label>2. Sebutkan urutan saluran pencernaan dari awal hingga akhir! Mengapa waktu yang diperlukan makanan untuk dicerna pada
        tiap organ pencernaan berbeda-beda? Jelaskan!</label>
    <textarea class="form-control" name="" id="" row="3"></textarea>
</div>

<div class="form-group">
    <label>3. Makanan yang dikonsumsi seseorang dapat mengandung bakteri. Untuk mencegah berkembangnya bakteri tersebut, organ apakah
        yang dapat membunuh bakteri tersebut? Bagaimana cara kerja organ tersebut?</label>
    <textarea class="form-control" name="" id="" row="3"></textarea>
</div>

<div class="form-group">
    <label>4. Apabila seseorang makan daging ayam, organ apakah yang paling berperan untuk mencerna bahan makanan tersebut secara
        kimiawi?</label>
    <textarea class="form-control" name="" id="" row="3"></textarea>
</div>

<div class="form-group">
    <label>5. Apa yang akan terjadi pada proses pencernaan makanan, jika pankreas tidak dapat berfungsi untuk menghasilkan enzim-
        enzimnya ke dalam usus halus?</label>
    <textarea class="form-control" name="" id="" row="3"></textarea>
</div>

<div class="text-center">
    <button type="button" class="btn-submit btn btn-success">Kirim Jawaban</button>
</div>