<div class="box">
    <div class="text-center">
        <img style="width:90%;" class="mb-3" src="content/img/page21/1.png" alt="" />
        <img style="width:90%;" class="mb-3" src="content/img/page21/2.png" alt="" />
    </div>           
</div>