<p>Tuhan telah menganugerahkan nikmat yang berlimpah kepada
manusia. Rahmat-Nya tersebar luas di seluruh alam semesta ini. Tuhan
telah memberimu makanan, minuman, kesehatan jasmani dan rohani,
sehingga kamu mampu melakukan aktivitas sehari-hari. Pernahkah
kamu menyadari bahwa kesehatan tubuhmu juga ditentukan oleh
makanan dan minuman yang kamu konsumsi? Tuhan memerintahkan
kepada kita untuk mengonsumsi makanan dan minuman yang sehat
dan tidak bertentangan dengan aturan agama, agar kita terhindar
dari berbagai penyakit. Makanan yang baik dapat ditinjau dari cara
mendapatkannya, kandungan gizi, dan dampaknya terhadap tubuh.
Makanan dan minuman yang diperoleh dari cara yang salah, nantinya
juga akan berdampak buruk bagi tubuh kita. Begitu juga makanan dan
minuman yang mengandung zat berbahaya, misalnya zat tambahan
seperti pewarna, perasa, pemanis buatan tertentu, bila dimakan secara
berlebihan dapat berdampak buruk pada tubuh kita.</p>
<p>Perhatikan Gambar 5.1, bagaimana pendapatmu tentang makanan
dan minuman tersebut yang berwarna-warni tersebut? Apakah
makanan dan minuman tersebut nampak menarik? Apakah makanan
dan minuman tersebut tergolong sehat?</p>

<div class="mb-4 text-center">
    <img style="width:80%;" src="content/img/page 210/1.png">
    <div>
        <small>Sumber: Dok. Kemdikbud
            <br/>
            <b>Gambar 5.1</b> Makanan dan Minuman Merupakan Anugerah Tuhan</small>
    </div>
</div>

<p>
    Ketika memilih makanan, seseorang akan mudah tertarik karena
    rasanya yang enak, warna yang menarik, aroma yang menggugah
    selera, atau kemasannya yang menawan. Agar memenuhi tujuan
    tersebut, pembuat makanan menambahkan zat-zat tertentu. Zat-zat
    tersebut disebut <b>zat aditif</b>. Bagaimana caramu memilih makanan dan
    minuman yang sehat dan menarik? Misalnya minuman pada Gambar
    5.1, manakah yang kamu pilih? Berikan alasanmu! Penambahan zat-
    zat tertentu ke dalam makanan ada yang menguntungkan, tetapi ada
    juga yang merugikan atau membahayakan. Oleh sebab itu, ketika
</p>