<p class="no-indent">memilih makanan dan minuman, harus memerhatikan zat tambahan
yang terkandung di dalamnya.</p>
<p>Selain zat pewarna, pemanis, dan penyedap khususnya dalam
makanan dan minuman, ada pula zat-zat dalam makanan dan
minuman yang harus dihindari, misalnya alkohol. Zat-zat yang dapat
menyebabkan orang menjadi ketagihan disebut zat adiktif. Kamu
tertarik untuk mempelajari lebih lanjut tentang zat aditif dan zat adiktif
bukan? Oleh karena itu, ayo pelajari bab ini dengan penuh semangat!
</p>
<h3><span>A</span>Zat Aditif</h3>

<div class="text-center mb-4">
    <img style="width:90%;" class="mb-3" src="content/img/page 211/1.png" alt="" />
</div>
<p>Tahukah kamu apakah zat aditif itu? Zat aditif merupakan bahan
yang ditambahkan dengan sengaja ke dalam makanan atau minuman
dalam jumlah kecil saat pembuatan makanan. Penambahan zat aditif
bertujuan untuk memperbaiki penampilan, cita rasa, tekstur, aroma,
dan untuk memperpanjang daya simpan. Selain itu, penambahan
zat aditif juga dapat meningkatkan nilai gizi makanan dan minuman
seperti penambahan protein, mineral, dan vitamin.
</p>
<video class="mt-3 mb-3 d-print-none" style="width:100%;" height="240" controls controlsList="nodownload">
    <source src="assets/videos/Zat Aditif.mp4" type="video/mp4"> Your browser does not support the video tag.
</video>
<div class="box">
    <center>
        <h3>Ayo, Kita Pikirkan!</h3>
    </center>
    <p>Apakah makanan dan minuman yang dijual di sekolah atau
    di lingkungan sekolahmu mengandung zat aditif? Mengapa kamu
    menduga seperti itu?</p>
</div>