<div class="box text-center">
    <b>Tabel 5.1</b>
    <small>Hasil Identifikasi Zat Aditif dalam Makanan dan Minuman Kemasan</small>
    <div class="text-center mb-4">
        <img style="width:70%;" class="mb-3" src="content/img/page 213/1.png" alt="" />
    </div>
    <p><b>Apa yang dapat kamu simpulkan?</b></p>
    <p>Berdasarkan data tersebut, kelompokkan zat aditif alami dan buatan yang terdapat dalam makanan atau minuman yang kamu teliti.</p>
</div>

<h4><span>1.</span>Pewarna</h4>
<p>
    Pewarna adalah bahan yang ditambahkan pada makanan atau
    minuman dengan tujuan untuk memperbaiki atau memberi warna
    pada makanan atau minuman agar menarik. Perhatikan Gambar 5.2!
    Zat pewarna apakah yang digunakan pada makanan tersebut? Secara
    alami masyarakat dapat memperoleh warna hijau dari suji dan pandan
    atau warna merah dari stroberi. Menurut kamu apakah warna makanan
    pada Gambar 5.2 dari bahan alami?
</p>

<div class="row">
    <div class="col">
        <p>Pada saat ini masyarakat dapat
        menggunakan pewarna buatan
        yang mudah dibeli di pasaran.
        Pewarna alami pada umumnya
        aman untuk kesehatan, sedangkan
        bahan pewarna buatan yang
        pemakaiannya
        disalahgunakan
        dapat membahayakan kesehatan.
        Bagaimana
        kita
        mengetahui
        makanan atau minuman yang mengandung pewarna yang aman dan pewarna yang tidak aman bagi tubuh? Coba lakukan aktivitas 5.2 untuk mengetahuinya!</p>
    </div>
    <div class="col">
        <div class="mb-4 text-center">
            <img style="width:50%;" class="mb-3" src="content/img/page 213/2.png">
            <div><small>Sumber: Reece et al. 2012
            <br/>
            <b>Gambar 4.16</b> Struktur Bagian dalam Usus Halus</small></div>
        </div>
    </div>
</div>