<div class="box">
    <center>
        <h3>Ayo, Kita Lakukan</h3>
        <h6>
            Aktifitas 5.2 Menyelidiki Pewarna Alami dan Buatan pada
            Makanan atau Minuman
        </h6>
    </center>
    <p><b>Apa yang kamu perlukan?</b></p>
    <ol>
        <li>Bahan makanan berwarna yang akan diuji (saus, cincau, cendol,
            dan jajanan berwarna lain) sekitar 50 gram</li> 
        <li>Air 50 mL</li>   
        <li>Mortar dan alu (pestle)</li>   
        <li>Pipet</li>
        <li>Benang wol putih atau benang katun</li>    
        <li>Kaki tiga</li>
        <li>Kawat kassa</li>
        <li>Pemanas bunsen/lampu spiritus</li>
        <li >Gelas kimia</li>
        <li>Sabun cuci</li>
    </ol>
    <p><b>Apa yang harus kamu lakukan?</b></p>
    <ol>
        <li>Sediakan gelas kimia sesuai dengan jumlah bahan yang kamu akan uji.</li>
        <li>Pada masing-masing gelas kimia tersebut masukkan sekitar 5 gram bahan makanan yang akan diuji dengan 10 mL air. Jika bahan itu tidak mudah bercampur haluskan terlebih dahulu dengan mortar sebelum dimasukkan dalam gelas.</li>
        <li>Celupkan beberapa potongan benang wol ke dalam masing-masing gelas kimia.</li>
        <li>Panaskan masing-masing gelas kimia dengan pemanas bunsen/lampu spiritus sampai campuran dalam gelas kimia tersebut mendidih. Bila telah mendidih, angkat gelas kimia tersebut dari api.</li>
    </ol>
    
    <div style="padding: 20px; background: #F0E68C; border: 3px dotted red;">
        Perhatikan! Pastikan kaki tiga, kawat kassa, dan gelas kimia tersusun dengan benar. Berhati-hatilah saat menyalakan Bunsen/lampu
        spiritus. Gunakan sarung tangan tahan panas untuk mengangkat gelas kimia yang telah dipanaskan.
    </div>
</div>