
<div class="box">
    <ol start="5">
        <li>Biarkan campuran dalam gelas kimia sampai benar-benar dingin.</li>
        <li>Ambil benang wol yang telah dicelupkan pada larutan bahan makanan, amati dan catat warnanya. Kemudian, cucilah benang wol tersebut dengan sabun cuci.</li>
        <li>Bandingkan hasil pengamatan sebelum benang dicuci dan setelah dicuci. Kemudian tuliskan datanya dalam tabel dengan memberi tanda centang (√) sesuai dengan hasil pengamatan. Pewarna makanan alami pada umumnya akan hilang dari benang wol setelah benang dicuci.</li>
    </ol>
    <div class="mb-4 text-center">
        <div>
            <b>Tabel 5.2</b>
            <small>Hasil Percobaan Menyelidiki Pewarna Alami dan Buatan pada Makanan atau Minuman</small>
        </div>
        <img style="width:70%;" class="mb-3" src="content/img/page 215/1.png"/>
    </div>
    <p><b>Apa yang dapat kamu simpulkan?</b></p>
    <p>Berdasarkan data hasil percobaan, buatlah kesimpulan yang menyatakan jenis-jenis bahan makanan yang menggunakan pewarna alami dan buatan!</p>
</div>

<h5><span>a.</span>Pewarna Alami</h5>
<p>Pewarna alami adalah pewarna yang dapat diperoleh dari alam, misalnya dari tumbuhan dan hewan. Banyak bahan-bahan di sekitarmu yang dapat dipakai sebagai pewarna alami. Daun suji dan daun pandan dipakai sebagai pewarna hijau pada makanan. Selain memberi warna hijau, daun pandan juga memberi aroma harum pada makanan. Selain daun suji dan daun pandan, stroberi, dan buah naga merah juga sering digunakan untuk memberikan warna merah pada makanan.</p>