<div class="mb-4 text-center">
    <img style="width:80%;" src="content/img/page 216/1.png">
    <div>
        <small>Sumber: Dok. Kemdikbud
        <br/>
        <b>Gambar 5.3</b> Pewarna Alami, (a) Daun Pandan, (b) Buah Stroberi, (c) Buah Naga</small>
    </div>
</div>
<p>Pewarna alami mempunyai keunggulan, yaitu lebih sehat dan
tidak menyebabkan efek samping apabila dikonsumsi dibandingkan
pewarna buatan. Namun, pewarna makanan alami memiliki beberapa
kelemahan, yaitu cenderung memberikan rasa dan aroma khas yang
tidak diinginkan, warnanya mudah rusak karena pemanasan, warnanya
kurang kuat (pucat), dan jenisnya terbatas.</p>
<div class="mb-4 text-center">
    <div>
        <b>Tabel 5.3</b>
        <small>Jenis-jenis Pewarna Alami</small>
    </div>
</div>
<div class="text-center mb-3">
    <img style="width:50%;" class="mb-3" src="content/img/page 216/2.png"/>
</div>
  
<h5><span>b.</span>Pewarna buatan</h5>
<p>Pewarna buatan diperoleh melalui proses reaksi (sintesis) kimia menggunakan bahan yang berasal dari zat kimia sintetis. Pewarna pada umumnya mempunyai struktur kimia yang mirip seperti struktur kimia pewarna alami, misalnya apokaroten yang mempunyai warna oranye mirip dengan warna wortel. Beberapa bahan pewarna sintetis dapat menggantikan pewarna alami. Pewarna sintetis ada yang dibuat khusus untuk makanan dan ada pula untuk industri tekstil dan cat.</p>   