<div class="mb-4 text-center">
    <div>
        <b>Tabel 5.4</b>
        <small>Jenis-jenis Pewarna Buatan yang Dapat Digunakan dalam Makanan atau Minuman</small>
    </div>
    <img style="width:50%;" class="mb-3" src="content/img/page 217/1.png"/>
</div>
<p>Saat ini, sebagian besar orang lebih senang menggunakan pewarna buatan untuk membuat aneka makanan dan minuman yang berwarna. Bahan pewarna buatan dipilih karena memiliki beberapa keunggulan dibanding pewarna alami, yaitu harganya murah, praktis dalam penggunaan, warnanya lebih kuat, jenisnya lebih banyak, dan warnanya tidak rusak karena pemanasan. Penggunaan bahan pewarna buatan untuk makanan dan minuman harus melalui pengujian yang ketat untuk kesehatan konsumen. Pewarna yang telah melalui pengujian keamanan dan yang diizinkan pemakaiannya untuk makanan dan minuman dinamakan permitted colour atau certified colour. Gambar 5.4 merupakan contoh pewarna makanan dalam kemasan yang telah diizinkan pemakaiannya.</p>

<div class="box">
    <center>
        <h3>Ayo, Kita Cari Tahu</h3>
    </center>
    <p>Pewarna buatan memiliki kode tertentu. Sebagai contohnya, pewarna makanan dan minuman memiliki kode yang berbeda dengan pewarna yang digunakan dalam industri tekstil. Coba carilah kode dari berbagai zat pewarna untuk makanan dan zat pewarna untuk berbagai industri misalnya, industri tekstil dan industri cat. Kemudian, carilah kemasan makanan atau minuman, setelah itu periksalah apakah zat warna yang digunakan pada makanan atau minuman tersebut aman dikonsumsi?</p>
</div>