<div class="mb-4 text-center">
    <img style="width:70%;" src="content/img/page 218/1.png">
    <div>
        <small>Sumber: Dok. Kemdikbud
        <br/>
        <b>Gambar 5.4</b> Pewarna Makanan Buatan yang Telah Diizinkan Pemakaiannya</small>
    </div>
</div>
<p>Pewarna buatan, sudah digunakan secara luas oleh masyarakat sebagai bahan pewarna dalam produk makanan dan minuman. Namun, sebagian masyarakat masih menggunakan bahan pewarna buatan yang tidak sesuai dengan peruntukannya. Contoh penggunaan pewarna buatan yang tidak sesuai peruntukannya adalah penggunaan pewarna tekstil untuk makanan yang dapat membahayakan kesehatan konsumen. Pewarna tekstil dan pewarna cat tidak boleh digunakan sebagai pewarna makanan dan minuman karena pewarna tekstil dan cat biasanya mengandung logam-logam berat, seperti antimoni (Sb), arsenik (As), barium (Ba), kadmium (Cd), kromium (Cr), raksa (Pb), mercuri (Hg), dan selenium (Se) yang bersifat racun bagi tubuh.</p>
<div class="mb-4 text-center">
    <div>
        <b>Tabel 5.5</b>
        <small>Jenis-jenis Pewarna Buatan yang Dilarang Digunakan dalam Makanan atau Minuman</small>
    </div>
    <img style="width:70%;" class="mb-3" src="content/img/page 218/2.png"/>
</div>