<h4><span>2.</span>Pemanis</h4>
<p>Pemanis merupakan bahan yang ditambahkan pada makanan atau minuman sehingga dapat menyebabkan rasa manis pada makanan atau minuman. Bahan pemanis ada dua jenis, yaitu pemanis alami dan pemanis buatan.</p>
<h5><span>a.</span>Pemanis Alami</h5>
<p>Pemanis alami yang umum digunakan untuk membuat rasa manis
pada makanan dan minuman adalah gula pasir (sukrosa), gula kelapa,
gula aren, gula lontar, dan gula bit. Gula tersebut digunakan sebagai
pemanis pada makanan dan minuman sesuai dengan keperluan.
Penggunaan pemanis alami juga perlu mengikuti takaran tertentu.
Gula apakah yang sering kamu gunakan untuk membuat teh atau kopi
di rumah?</p>
<div class="mb-4 text-center">
    <img style="width:50%;" src="content/img/page 219/1.png">
    <div>
        <small>Sumber: Dok. Kemdikbud
        <br/>
        <b>Gambar 5.5</b> Pemanis Alami, (a) Gula Pasir, (b) Gula Kelapa</small>
    </div>
</div>
<div class="box">
    <center>
        <h3>Ayo, Kita Cari Tahu</h3>
    </center>
    <p>Tahukah kamu bahwa gula pasir dibuat dari tebu melalui
        proses penggilingan? Di Indonesia pembuatan gula pasir umumnya
        dilakukan di pabrik gula melalui proses penggilingan. Selain gula
        pasir, di masyarakat Indonesia juga sering menggunakan gula
        aren atau gula lontar. Samakah cara membuatnya dengan gula
        pasir? Tahukah kamu bagaimana proses pembuatannya? Carilah
        informasi bagaimana cara membuat gula kelapa atau gula lontar!</p>
</div>