<div class="box">
    <div class="text-center">
        <img style="width:90%;" class="mb-3" src="content/img/page22/1.png" alt="" />
    </div>
    
    <!-- START QUIZ -->
    <div class="exercise mt-3" style="display:none;">
        <div class="question"></div>
        <div class="option"></div>
        
        <hr/>
        
        <div class="indicator"></div>
        
        <div class="alert alert-secondary result" style="display:none;"></div>
    </div>
    <!-- END QUIZ -->
    
    <ol start="2">
        <li>
            Jelaskan penerapan Hukum Newton pada kegiatan olahraga
            seperti basket, golf, senam lantai, sepak bola, dan lain-lain!
            <div class="mb-3 mt-3 text-center">
                <a data-fancybox="gallery" href="content/img/page22/2.png"><img style="width:80%;" src="content/img/page22/2.png"></a>
                <div>
                    <small>Sumber: (a) lh5.ggpht.com, (b) espn.go.com, (c) golftips.golfsmith.com
                    <br/>
                    <b>Gambar 1.19</b> Berbagai Jenis Olahraga, (a) Sepak Bola, (b) Basket, (c) Golf</small>
                </div>
            </div>
        </li>
    </ol>
</div>

<p>Setelah kamu mempelajari mekanisme benda yang bergerak
dan gaya-gaya yang berlaku di dalamnya, pernahkah kamu
berpikir bagaimana tubuh kita dapat melakukan gerak? Agar lebih
memahaminya, ayo palajari materi berikut ini dengan saksama!</p>