<h5><span>b.</span>Pemanis buatan</h5>
<p>Pemanis buatan mempunyai rasa manis hampir sama atau lebih
manis dibandingkan dengan pemanis alami. Pemanis buatan dibuat
melalui reaksi kimia tertentu sehingga dapat dihasilkan senyawa
yang mempunyai rasa manis. Pemanis buatan dibuat dengan tujuan
sebagai pengganti gula alami. Beberapa contoh pemanis buatan
adalah siklamat, aspartam, kalium asesulfam, dan sakarin. Pemanis-
pemanis ini mempunyai tingkat kemanisan lebih besar dibandingkan
dengan gula pasir (lihat Tabel 5.6). Pemanis buatan dapat digunakan
untuk menggantikan pemanis alami bagi orang-orang yang tidak
diperbolehkan mengonsumsi pemanis alami, seperti penderita
kencing manis (diabetes mellitus). Selain itu, pemanis buatan tidak
menghasilkan kalori dalam tubuh, sehingga sering digunakan oleh
orang yang diet.</p>
<div class="mb-4 text-center">
    <div>
        <b>Tabel 5.6</b>
        <small>Perbandingan Tingkat Kemanisan Pemanis Buatan</small>
    </div>
    <img style="width:70%;" class="mb-3" src="content/img/page 220/1.png"/>
</div>
<p>Penggunaan pemanis buatan yang berlebihan dan tidak sesuai
dengan jumlah yang diperbolehkan dapat membahayakan kesehatan.
Oleh sebab itu, bila menggunakan pemanis buatan periksalah aturan
pemakaiannya.</p>
<div class="box">
    <center>
    <h3>Ayo, Kita Cari Tahu</h3>
    </center>
    <p>Pernahkah kamu menikmati makanan atau minuman yang
    menggunakan pemanis buatan? Bagaimanakah perbedaan rasanya
    dengan pemanis alami?</p>
</div>