<h4><span>3</span>Pengawet</h4>
<p>Perhatikan kondisi kedua makanan pada Gambar 5.6! Menurut
pendapatmu, makanan mana yang masih layak dikonsumsi? Setiap
bahan makanan memiliki jangka waktu tertentu untuk menjadi rusak.</p>
<div class="mb-4 text-center">
    <img style="width:70%;" src="content/img/page 221/1.png">
    <div>
        <small>Sumber: Dok. Kemdikbud
        <br/>
        <b>Gambar 5.6</b> (a) Roti Tawar, (b) Roti Tawar yang Sudah Berjamur</small>
    </div>
</div>
<p>Roti pada Gambar 5.6(b) tidak layak dikonsumsi karena sudah
ditumbuhi jamur. Agar bahan makanan tidak cepat rusak karena
tumbuhnya jamur, bakteri atau mikroorganisme lain, makanan dapat
ditambahkan bahan pengawet dalam jumlah tertentu.</p>
<p>Pengawet adalah zat aditif yang ditambahkan pada makanan atau
minuman yang berfungsi untuk menghambat kerusakan makanan
atau minuman. Kerusakan makanan dapat disebabkan oleh adanya
mikroorganisme yang tumbuh pada makanan dan minuman. Bahan
pengawet mencegah tumbuhnya mikroorganisme sehingga reaksi
kimia yang disebabkan oleh mikroorganisme tersebut dapat dicegah,
misalnya fermentasi pada makanan dan minuman tersebut. Reaksi-
reaksi kimia lain juga dapat dicegah oleh adanya pengawet antara lain
pengasaman, oksidasi, pencokelatan (browning), dan reaksi enzimatis
lainnya. Contoh bahan pengawet dan penggunaannya dapat dilihat
pada Tabel 5.7.</p>