<div class="mb-4 text-center">
    <b>Tabel 5.7</b>
    <small>Bahan Pengawet dan Penggunaannya</small><br>
    <img style="width:70%;" class="mb-3" src="content/img/page 222/1.png"/>
</div>
    
<p>Pengawetan bahan makanan atau minuman dengan memberikan
zat aditif seperti pada Tabel 5.7 merupakan cara pengawetan
secara kimia. Cara lain mengawetkan makanan adalah dengan cara
pengasinan atau pemanisan. Misalnya ikan asin, manisan buah, atau
daging panggang dapat awet secara alami. Metode pengawetan lain
adalah dengan cara fisik misalnya dengan  pemanasan, pendinginan,
pembekuan, pengasapan, pengeringan, dan penyinaran.</p>
<h4><span>4</span>Penyedap</h4>
<div class="row">
    <div class="col">
        <p>Apakah kamu pernah memasak? Bumbu apa yang kamu tambahkan
        pada masakan agar rasanya sedap? Penyedap makanan adalah bahan
        tambahan makanan yang digunakan untuk meningkatkan cita rasa
        makanan. Adapun bahan penyedap alami yang umum digunakan
        adalah garam, bawang putih, bawang
        merah, cengkeh, pala, merica, cabai,
        laos, kunyit, ketumbar, sereh,
        dan kayu manis. Pada makanan
        berkuah, kaldu dari daging dan
        tulang pada umumnya digunakan
        sebagai penyedap. Pernahkah kamu
        memerhatikan pada kuah bakso
        terdapat rebusan daging dan tulang,
        seperti pada Gambar 5.7. Makanan
        apakah yang pernah kamu makan yang mengandung kaldu</p>
    </div>
    <div class="col">
        <img style="width:70%;" class="mb-3" src="content/img/page 222/2.png">
    <div>
        <small>Sumber: Dok. Kemdikbud
        <br/>
        <b>Gambar 5.7</b> Kuah Bakso yang Dibuat dari Kaldu Daging Sapi</small>
    </div>
</div>