<div class="box">
    <ol start="2">
        <li>Bacalah komposisi bahan makanan dan minuman yang tertera pada kemasan tersebut!</li>
        <li>Tuliskan pada Tabel 5.8 jenis zat aditif apakah yang ada pada produk-produk tersebut?</li>
        <li>Carilah informasi mengenai dampak penggunaan zat aditif tersebut jika dikonsumsi secara berlebihan!</li>
        <li>Coba ajukan suatu upaya pencegahan terhadap dampak negatif penggunaan zat aditif.</li>
    </ol>
    <div class="mb-4 text-center">
        <div>
            <b>Tabel 5.8</b>
            <small>Hasil Identifikasi Zat Aditif dalam Makanan dan Minuman</small>
        </div>
        <img style="width:70%;" class="mb-3" src="content/img/page 226/1.png"/>
    </div>
    <p><b>Apa yang dapat kamu simpulkan?</b></p>
    <p>Berdasarkan data hasil penyelidikan makanan dan minuman
    yang telah kamu lakukan, buatlah kesimpulan yang menyatakan
    dampak zat aditif dalam makanan dan minuman bagi kesehatan
    tubuh manusia!</p>
</div>