<p>Narkotika dapat dikelompokkan menjadi tiga golongan berdasarkan
potensi dalam menyebabkan ketergantungan. Narkotika golongan
I, sangat berbahaya karena berpotensi sangat tinggi menyebabkan
ketergantungan. Narkotika ini tidak digunakan dalam pengobatan.
Misalnya, heroin/putaw, kokain, dan ganja. Narkotika golongan II,
berpotensi tinggi dalam menyebabkan ketergantungan dan dapat
digunakan sebagai pilihan terakhir dalam pengobatan. Misalnya,
morfin, petidin, dan metadon. Gambar 5.11 menunjukkan kemasan
morfin dan metadon yang digunakan dalam medis. Barang ini tidak
boleh dibeli dan digunakan tanpa resep dan pengawasan dokter.</p>
<div class="mb-4 text-center">
    <img style="width:70%;" src="content/img/page 228/1.png">
    <div>
        <small>Sumber: (a) www.theoakstreatment.com, (b) www.telegraph.co.uk
        <br/>
        <b>Gambar 5.11</b> (a) Morfin, (b) Metadon dalam Kemasan serta Struktur Kimianya</small>
    </div>
</div>
<p>Narkotika golongan III, berpotensi ringan dalam menyebabkan
ketergantungan dan banyak digunakan dalam pengobatan. Misalnya,
kodein. Penggunaan narkotika sangat berbahaya bagi kesehatan
sehingga penyalahgunaan narkotika dapat merusak masa depan
generasi muda. Hindarilah dan jauhi zat-zat yang terkait dengan
narkotika!</p>
<div class="box">
    <center>
        <h3>Tahukah Kamu?</h3>
    </center>
    <p>Barang siapa dengan tanpa hak dan melawan hukum
    menggunakan narkotika golongan I bagi diri sendiri, dipidana
    penjara paling lama 4 tahun, golongan II 2 tahun, dan golongan III
    1 tahun (UU Narkotika Pasal 85). Barang siapa dengan tanpa hak
    dan melawan hukum menggunakan narkotika terhadap orang lain
    atau memberikan narkotika golongan I untuk digunakan orang lain,
    dipidana penjara paling lama 15 tahun dan denda paling banyak
    750 juta rupiah; golongan II 10 tahun penjara dan denda 500 juta</p>
</div>