<div class="box">
    rupiah; golongan III 5 tahun penjara dan denda 250 juta rupiah
    (UU Narkotika Pasal 84).
</div>  
<h5><span>b.</span>Psikotropika</h5>
<p>Narkotika dapat menyebabkan seseorang kehilangan kesadaran
dan ketergantungan. Zat lain yang juga berbahaya adalah psikotropika.
Zat ini merupakan obat yang berkhasiat psiko-aktif yang memengaruhi
mental dan perilaku seseorang. Misalnya orang yang sulit tidur, bila
meminum obat tidur (golongan psikotropika) dapat menyebabkan
tidur nyenyak. Oleh sebab itu penggunaan psikotropika harus sesuai
dengan resep dokter!</p>
<p>Psikotropika dapat dikelompokkan menjadi empat golongan
berdasarkan potensi dalam menyebabkan ketergantungan. Psikotropika
golongan I, berpotensi sangat kuat menyebabkan ketergantungan
dan tidak digunakan sebagai obat. Misalnya, ekstasi/MDMA (metil
dioksi metamfetamin), LSD (Lysergic acid diethylamide), dan STP/
DOM (dimetoksi alpha dimetilpenetilamina). Psikotropika golongan
II, berpotensi kuat menyebabkan ketergantungan dan sangat terbatas
digunakan sebagai obat. Misalnya amfetamin, metamfetamin,
menyebabkan ketergantungan dan banyak digunakan sebagai obat.
Misalnya pentobarbital dan flunitrazepam. Psikotropika golongan IV,
berpotensi ringan dalam menyebabkan ketergantungan dan sangat luas
digunakan sebagai obat. Misalnya diazepam, klobazam, fenobarbital,
barbital, klorazepam, dan nitrazepam seperti pada Gambar 5.12 yang
digunakan sebagai obat tidur.</p>
<div class="mb-4 text-center">
    <img style="width:70%;" src="content/img/page 229/1.png">
    <div>
        <small>Sumber: www.improvehealthcare.org
        <br/>
        <b>Gambar 5.12</b> Nitrazepam dalam Bentuk Tablet dan Struktur Kimianya</small>
    </div>
</div>