<p class="no-indent">karena overdosis, menyebabkan sembelit, gangguan siklus menstruasi,
dan impotensi. Jika dalam penggunaannya menggunakan jarum
suntik yang tidak steril, maka dapat tertular berbagai jenis penyakit
berbahaya seperti hepatitis dan HIV/AIDS.</p>
<p>Efek jangka pendek penggunaan ganja yaitu akan timbul rasa
cemas dan gembira menjadi satu, banyak bicara, tertawa terbahak-
bahak, halusinasi, berubahnya perasaan waktu (lama dikira sebentar)
dan ruang (jauh dikira dekat), peningkatan denyut jantung, mata
merah, mulut dan tenggorokan kering. Penggunaan ganja dalam
jangka panjang dapat menyebabkan daya pikir berkurang, motivasi
belajar turun drastis, perhatian ke lingkungan sekitar berkurang,
radang paru-paru, daya tahan tubuh menurun, dan gangguan sistem
peredaran darah. Efek jangka pendek penggunaan kokain yaitu rasa
percaya diri meningkat, banyak bicara, rasa lelah hilang, kebutuhan
tidur berkurang, dan halusinasi penglihatan serta perabaan. Efek
jangka panjang yaitu kurang gizi, anemia, kerusakan pada hidung, dan
gangguan jiwa.</p>
<h5><span>b.</span>Dampak Penggunaan Psikotropika</h5>
<p>Penggunaan ekstasi (metilen dioksi metamfetamin/MDMA) dan
sabu (metamfetamin) dalam jangka pendek dapat menyebabkan
terjaga (tidak tidur), rasa riang, perasaan melambung, rasa nyaman,
dan meningkatkan keakraban. Namun, setelah itu akan timbul rasa
tidak enak, murung, nafsu makan hilang, berkeringat, rasa haus,
badan gemetar, jantung berdebar, dan tekanan darah meningkat.
Dalam jangka panjang dapat menyebabkan kurang gizi, anemia,
penyakit jantung, gangguan jiwa (psikotik), dan pembuluh darah di
otak dapat pecah sehingga mengalami stroke atau gagal jantung yang
mengakibatkan kematian.</p>
<p>Setelah menggunakan obat nipam/nitrazepam (Gambar 5.12) dalam
dosis tertentu, seseorang akan merasa tenang dan otot-otot mengendur.
Jika dosis penggunaannya tinggi, maka dapat menyebabkan gangguan
bicara, gangguan persepsi, dan jalan sempoyongan. Jika dosis lebih
tinggi lagi, akan dapat menyebabkan penghambatan pada pernapasan,
koma, dan kematian</p>