<div class="box">
    <center>
        <h3>Tahukah Kamu?</h3>
    </center>
    <p>Pecandu cukup umur dan orangtua/wali pecandu belum cukup
    umur wajib melaporkan diri/dilaporkan keluarganya pada pejabat/
    lembaga yang ditunjuk pemerintah untuk mendapatkan pengobatan
    dan/atau perawatan (UU Narkotika Pasal 88).</p>
</div>
<h5><span>c.</span>Dampak Penggunaan Zat Psiko-Aktif Lainnya</h5>
<p>Inhalansia dapat menyebabkan kematian mendadak akibat
kekurangan oksigen atau karena ilusi, halusinasi, dan persepsi
yang salah (misalnya merasa dapat terbang, sehingga orang yang
mengonsumsi terjun dari tempat tinggi). Penggunaan inhalansia
jangka panjang dapat menyebabkan kerusakan otak, paru-paru, ginjal,
dan jantung.</p>
<p>Alkohol yang masuk ke dalam tubuh akan masuk ke dalam
pembuluh darah, menuju otak, dan menekan kerja otak. Akibat jangka
pendek dari mengonsumsi alkohol yaitu mabuk, jalan sempoyongan,
menyebabkan keinginan untuk merusak, dan dapat menyebabkan
kecelakaan akibat mengendarai kendaraan dalam keadaan mabuk.
Dalam jangka panjang alkohol dapat merusak hati, merusak kelenjar
getah lambung, kerusakan sistem saraf, menyebabkan gangguan
jantung, dan meningkatkan risiko kanker. Ibu hamil pecandu alkohol
akan melahirkan bayi yang cacat</p>
<p>Selain nikotin, dalam rokok juga terdapat sekitar 4.000 senyawa,
termasuk tar dan karbon monoksida (CO) yang berbahaya bagi tubuh.
Perhatikan Gambar 5.15! Senyawa-senyawa ini dapat menyebabkan
kanker paru, penyempitan pembuluh darah, penyakit jantung, tekanan
darah tinggi, dan impotensi.</p>