<div class="mb-4 text-center">
    <img style="width:70%;" src="content/img/page 235/1.png">
    <div>
        <small>Sumber: Dok. Kemdikbud
        <br/>
        <b>Gambar 5.15</b> Berbagai Senyawa Kimia dalam Rokok</small>
    </div>
</div>
<div class="box">
    <center>
        <h3>Ayo, Kita Lakukan</h3>
        <h6>Aktivitas 5.4 Membuat Model tentang Bahaya Rokok Bagi Kesehatan</h6>     
    </center>
    <p><b>Apa yang kamu perlukan?</b></p>
    <ol>
        <li>1 batang rokok</li>
        <li>1 buah botol air mineral ukuran 1,5 liter</li>
        <li>1 Selang kecil dengan diameter ± o, 5 cm dengan panjang 20 cm</li>
        <li>Kain putih ukuran 10 × 10 cm atau kapas</li>
        <li>Air</li>
        <li>Gunting/cutter</li>
        <li>Lem</li>
        <li>Paku</li>
    </ol>
</div>