<div class="box">
    <ol start="12">
        <li>Lepaskan tutup botol dari botol air mineral, lalu amati warna
        kain yang telah menyaring asap rokok.</li>
    </ol>
    <p><b>Apa yang dapat kamu simpulkan?</b></p>
    <p>Bayangkanlah selang sebagai tenggorokan dan kain sebagai
    alveolus pada paru-paru. Berdasarkan percobaan yang telah kamu
    lakukan, analisislah apa yang terjadi pada tenggorokan dan paru-
    paru orang yang merokok!</p>
</div>
<h3><span>C</span>Upaya Pencegahan Diri dari Bahaya Narkoba</h3>
<div class="text-center mb-4">
    <img style="width:80%;" class="mb-3" src="content/img/page 237/1.png"/>
</div>
<p>Pernahkah kamu mendengar istilah narkoba? Istilah narkoba
banyak digunakan oleh penegak hukum dan masyarakat pada
umumnya. Narkoba merupakan singkatan dari narkotika, psikotropika,
dan obat terlarang, yang sebenarnya merupakan zat adiktif. Namun,
tidak semua zat adiktif adalah narkoba, misalnya kafein, alkohol,
dan nikotin. Pada bagian sebelumnya kamu telah mempelajari jenis-
jenis zat adiktif dan dampak penggunaan zat adiktif bagi kesehatan,
termasuk zat-zat yang tergolong narkoba.</p>
<div class="box">
    <center>
        <h3>Ayo, Kita Diskusikan</h3>
    </center>
    <p>Bacalah cuplikan berita dari salah satu situs di internet berikut!
    “Sindikat pengedar narkoba pada salah satu provinsi di Indonesia,
    berhasil disergap petugas kepolisian. Seorang bandar narkoba
    berinisial Mr. X , ditangkap di rumahnya beserta barang bukti 5</p>
</div>