<div class="box">
    persahabatan yang terjalin antara sesama dengan cara saling
    mengedukasi maupun melengkapi dan menginspirasi untuk tetap
    menerapkan gaya hidup sehat tanpa narkoba. (3) Akan tetap
    berdiri teguh tidak tergoyahkan dalam berinisiatif, berinovasi, dan
    berpartisipasi dalam segala upaya untuk mencapai masa depan
    yang bebas dari penyalahgunaan narkoba.”
</div>
<h5><span>6.</span>Terampil sebagai agen pencegahan penyalahgunaan narkoba</h5>
<p>Remaja juga merupakan subjek yang penting dan harus terlibat
aktif dalam pencegahan penyalahgunaan narkoba, baik di sekolah
maupun di lingkungan rumah. Kamu dapat membentuk kelompok
remaja anti narkoba yang menciptakan pola hidup sehat dan produktif,
menjadi contoh positif bagi remaja yang lain, mendukung masyarakat
untuk menciptakan lingkungan bebas narkoba, mendorong remaja lain
untuk menghindari penyalahgunaan narkoba dan mendorong mereka
menolak tawaran menyalahgunakan narkoba, serta membantu teman
yang mempunyai masalah narkoba untuk mencari pertolongan.</p>
<div class="mb-4 text-center">
    <img style="width:70%;" src="content/img/page 241/1.png">
    <div>
        <small>Sumber: jabar.pojoksatu.id
        <br/>
        <b>Gambar 5.18</b> Peserta Didik Melakukan Kampanye Anti Narkoba</small>
    </div>
</div>
<h5><span>7.</span>Menerapkan pola hidup sehat</h5>
<p>Remaja adalah generasi penerus dan aset bangsa Indonesia yang
berharga. Negara Indonesia memerlukan generasi muda yang sehat
sehingga dapat tumbuh menjadi manusia dewasa yang sehat yang
mampu memajukan negara dan membuat bangsa Indonesia semakin
sejahtera. Untuk membentuk generasi muda yang sehat, perlu
penerapan pola hidup sehat yang meliputi: mengonsumsi makanan dan
minuman yang sehat dan bergizi, menghindari makanan siap saji (junk
food); olahraga secara teratur, termasuk mengikuti ekstrakurikuler</p>