<div class="box">
    <center>
        <h3>Ayo, Kita Renungkan</h3>
    </center>
    <p>Setelah menyelesaikan pembelajaran pada bab ini tentu kamu
    sudah memahami banyak hal terkait zat aditif dan zat adiktif. Kamu
    tentu sudah paham jenis-jenis zat aditif yang sering ditambahkan
    dalam makanan atau minuman. Berdasarkan pemahaman yang
    telah kamu peroleh sudah selayaknya kamu mengaplikasikan
    dalam kehidupan sehari-hari dengan cara memilih makanan dan
    minuman yang aman dan sehat, sehingga kamu dapat terus belajar
    untuk meraih kesuksesan di masa depan.</p>
    <p>Setelah kamu belajar materi tentang zat adiktif, tentu kamu
    sudah memahami jenis-jenis zat adiktif, cara kerjanya, dan
    dampak penggunaannya. Jenis zat adiktif antara lain narkotika dan
    psikotropika. Sudah banyak orang yang terkena pengaruh buruk
    narkotika dan obat-obatan terlarang (narkoba).</p>
    <p>Pengguna narkoba akan sering merasakan sakit kepala, mata
    merah, gangguan pencernaan, tidak dapat konsentrasi saat
    belajar atau bekerja, sering melamun, sakit-sakitan, bahkan dapat
    berakibat kematian. Tuhan telah menganugerahi kita tubuh yang
    sempurna pada setiap orang, sehingga sudah menjadi kewajibanmu
    untuk menjaga agar tubuh tetap sehat. Salah satunya dengan tidak
    mengonsumsi narkoba dan bahan-bahan yang dapat merusak
    tubuh. Jika kamu menghadapi masalah, lebih baik berkonsultasi
    dengan orangtua, guru, teman dan berdoa memohon petunjuk
    kepada Tuhan.</p>
    <p>Bagaimana sikapmu setelah mempelajari materi tentang zat
    aditif dan zat adiktif? Coba kamu jawab pertanyaan di bawah ini
    dengan memberi tanda centang () pada Tabel 5.9 di kolom “ya”
    atau “tidak”!</p>
</div>