<div class="box">
    <div class="mb-4 text-center">
        <b>Tabel 5.9</b>
        <small>Pertanyaan/Pernyataan untuk Refleksi Terkait Zat Aditif dan Zat Adiktif</small>
        <div class="mt-3"><img style="width:70%;" class="mb-3" src="content/img/page 244/1.png"/></div>
    </div>
    Coba kamu hitung, berapa total skormu dengan ketentuan:
    <ul>
        <li>Jawaban “ya” mendapat skor 2 (dua)</li>
        <li>Jawaban “tidak” mendapat skor 0 (nol)</li>
        Bandingkan total skormu dengan kriteria berikut.
        <li>Skor 0 - 3 : berarti kamu tidak peduli pada kesehatanmu.</li>
        <li>Skor 4 - 6 : berarti kamu kurang peduli pada kesehatanmu.</li>
        <li>Skor 7 - 10 : berarti kamu peduli pada kesehatanmu.</li>
    </ul>
    <p>Untuk kamu yang tidak peduli atau kurang peduli terhadap
    kesehatanmu, sebaiknya kamu terus berusaha untuk meningkatkan
    kepedulian terhadap kesehatanmu.</p>
</div>