<div class="box">
    <center>
        <h3>Rangkuman</h3>
    </center>
    <ol>
        <li>Zat aditif adalah zat yang ditambahkan pada makanan dan
        minuman untuk meningkatkan kualitas, keawetan, kelezatan, dan
        kemenarikan makanan dan minuman.</li>
        <li>Zat aditif ada yang bersifat alami dan buatan. Zat aditif dapat
        berupa bahan pewarna, pemanis, pengawet, penyedap, pemberi
        aroma, pengental, dan pengemulsi.</li>
        <li>Contoh pewarna alami misalnya pewarna dari daun suji dan
        pandan, sedangkan pewarna buatan misalnya tartrazine.</li>
        <li>Pengawetan dapat dilakukan secara fisik, misalnya melalui
        pemanasan atau penyinaran, dan secara kimia misalnya dengan
        pemberian natrium benzoat maupun garam.</li>
        <li>Contoh bahan pemanis alami misalnya gula, sedangkan pemanis
        buatan misalnya aspartam, siklamat, dan sakarin.</li>
        <li>Contoh penyedap alami misalnya bunga cengkeh, serai, kayu
        manis, garam, bawang putih, sedangkan penyedap buatan
        misalnya vetsin.</li>
        <li>Penggunaan bahan aditif buatan harus menggunakan bahan yang
        diizinkan oleh pemerintah dan tidak melebihi jumlah maksimal
        yang diizinkan.</li>
        <li>Zat adiktif merupakan bahan makanan atau minuman yang dapat
        menimbulkan kecanduan pada penggunanya. Zat adiktif dibedakan
        menjadi narkotika, psikotropika, zat psiko-aktif lainnya.</li>
        <li>Contoh narkotika adalah heroin, kokain, dan morfin.</li>
        <li>Contoh psikotropika adalah ekstasi, sabu-sabu, diazepam, dan LSD.</li>
        <li>Contoh zat psiko-aktif lain adalah kafein, nikotin, dan alkohol.</li>
        <li>Bahan-bahan adiktif yang termasuk kelompok narkotika tidak
        boleh digunakan secara sembarangan dan secara bebas karena
        memiliki efek yang sangat membahayakan bagi penggunanya.</li>
    </ol>
</div>