<h5><span>1.</span>Struktur Tulang</h5>
<div class="row">
    <div class="col">
        <p>
            Pernahkah kamu melihat tulang paha
            ayam? Apakah bentuk tulang tersebut
            seperti pada Gambar 1.22? Apabila kita
            perhatikan, ternyata struktur tulang tidak
            halus, melainkan terdapat benjolan pada
            bagian ujungnya, berbentuk bulat serta
            terdapat titik-titik kasar pada bagian ujung,
            terdapat lekukan, tonjolan, dan lubang.
            Masing-masing bagian ini mempunyai
            fungsi yang berbeda-beda. Lekukan
            dan tonjolan berfungsi sebagai tempat
            menempelnya otot. Lubang berfungsi
            sebagai tempat keluar masuknya pembuluh
            darah dan saraf.
        </p>
    </div>
    <div class="col">
        <div class="text-center">
            <a data-fancybox="gallery" href="content/img/page25/1.png"><img style="width:50%;" class="mb-4" src="content/img/page25/1.png"></a>
            <div>
                <small>Sumber: Shier et al. 2010
                <br/>
                <b>Gambar 1.22</b> Struktur Tulang Manusia</small>
            </div>
        </div>
    </div>
</div>

<p> 
    Permukaan tulang ditutupi oleh
    membran yang menempel dengan kuat,
    membran itu disebut periosteum. Pada
    periosteum terdapat pembuluh-pembuluh
    darah kecil yang berfungsi membawa zat-
    zat makanan ke dalam tulang. Membran ini juga penting dalam pertumbuhan dan
    perbaikan tulang. Pada bagian bawah
    periosteum terdapat tulang kompak
    atau disebut juga tulang keras, yaitu suatu lapisan tulang yang keras
    dan kuat. Tulang kompak mengandung sel-sel tulang, pembuluh-
    pembuluh darah, zat kapur dan fosfor, serta serabut elastis. Kerasnya
    tulang disebabkan karena tulang mengandung zat kapur dan fosfor.
    Sedangkan serabut-serabut elastis mempertahankan tulang agar tetap
    kuat, tidak mudah rapuh atau patah.
</p>
<p>
    Tulang spons dalam tulang pipa atau tulang panjang terdapat di
    daerah ujung tulang. Tulang spons kurang kompak dan mempunyai
    banyak ruang-ruang kecil terbuka yang membuat tulang menjadi
    ringan. Tulang panjang mempunyai lubang atau saluran yang besar.
    Saluran-saluran itu terdapat di tengah tulang panjang dan diisi oleh
    jaringan berlemak yang disebut sumsum. Sumsum merah tulang
    berada di daerah tulang panjang bagian ujung di antara tulang spons,
    sedangkan sumsum kuning berada di tulang panjang bagian tengah
    dan sebagian besar berisi lemak. Pada orang sehat, sumsum tulang
</p>