<div class="box">
    <center>
        <h3>Ayo, Kita Kerjakan Proyek</h3>
        <h6>Membuat Karya Tulis dampak Penggunaan Zat Aditif dan Penyalahgunaan Zat Adiktif bagi Kesehatan</h6>
    </center>

    <ul type="square">
        <li>
            <b>Permasalahan</b>
            <p>Zat aditif dan zat adiktif dapat ditemukan di lingkungan tempat
            tinggal kita. Bahkan tanpa kita sadari kita sering mengonsumsi
            zat aditif dan adiktif yang ada pada makanan dan minuman. Zat
            adiktif yang terdapat pada makanan dan minuman misalnya kafein
            yang ada dalam kopi atau teh. Ada juga zat adiktif yang tidak
            mudah kita jumpai misalnya narkotika, psikotropika, dan lain-
            lain. Zat adiktif jenis narkoba, psikotropika, dan lainnya dilarang
            untuk diperjualbelikan karena dapat membuat ketergantungan
            bagi penggunanya dan mengganggu kesehatan. Zat aditif juga ada
            yang dilarang digunakan untuk makanan misalnya zat pewarna
            tidak untuk makanan dan minuman. Coba temukan bagaimana
            dampak mengonsumsi zat aditif dan penyalahgunaan zat adiktif
            bagi kesehatan!</p>
        </li>
        <li>
            <b>Perencanaan</b>
            <p>Lakukan kegiatan ini dalam kelompok (3-5 orang per kelompok). Buatlah karya tulis tentang dampak penggunaan zat aditif dan penyalahgunaan zat adiktif bagi kesehatan.</p>
        </li>
        <li>
            <b>Pelaksanaan</b>
            <p>Lakukan kegiatan ini dengan mencari beberapa sumber tentang dampak penyalahgunaan zat adiktif dan aditif bagi kesehatan manusia. Jika kalian mengalami kesulitan, mintalah bantuan pada guru atau orangtua.</p>
        </li>
        <li>
            <b>Penilaian dilakukan berdasarkan:</b>
            <ol>
                <li>Produk berupa hasil karya tulis tentang penyalahgunaan zat adiktif dan aditif bagi kesehatan.</li>
                <li>Presentasi karya tulis tentang dampak penggunaan zat aditif dan penyalahgunaan zat aditif bagi kesehatan.</li>
            </ol>
        </li>
    </ul>
</div>