
<p> Agar kamu dapat memahami komponen penyusun darah, ayo coba
simulasikan dengan melakukan Aktivitas 6.1 berikut! </p>

<div class="box"> 
    <center>
        <h3>Ayo, Kita Lakukan</h3>
        <h6>Aktivitas 6.1 Model Komponen Penyusun Darah</h6>
    </center>
    <ol> 
    <li> 1 buah tabung reaksi </li>
    <li> 3 buah pipet tetes </li>
    <li> 3 gelas ukur </li>
    <li> Minyak goreng</li>
    <li> Air </li>
    <li> Pewarna makanan</li>
    <li> Pelumas mesin atau oli </li>
    </ol>

    <p> <b> Apa yang harus kamu lakukan? </b> </p>
    <ol> 
    <li>  Buatlah kelompok yang terdiri atas 4-5 orang! </li>
    <li> Ukurlah 5 mL minyak goreng dengan menggunakan gelas ukur. Lakukan pengukuran dengan cermat dan teliti. Tuangkan minyak goreng tersebut ke dalam tabung reaksi. </li>
    <li> Ukurlah 5 mL oli dengan menggunakan gelas ukur. Lakukan pengukuran dengan cermat dan teliti. Tuangkan oli tersebut ke dalam tabung reaksi.</li>
    <li> Ukurlah 5 mL air dengan menggunakan gelas ukur. Lakukan pengukuran dengan cermat dan teliti. Tuangkan air tersebut ke dalam tabung reaksi.  </li>
    <li>Tambahkan beberapa tetes zat warna kue pada campuran minyak goreng, oli, dan air. </li>
    <li> Tutuplah ujung tabung reaksi, dengan cara menyumbat bagian mulut tabung reaksi dengan menggunakan ibu jari</li>
    <li> Kocoklah beberapa saat hingga seluruh komponen tercampur dengan cukup sempurna. Lakukan dengan hati-hati agar tabung reaksi tidak terjatuh. </li>
    <li> Diamkan tabung reaksi beberapa saat, biarkan hingga larutan terpisah. Agar kamu mendapatkan hasil yang tepat, lakukan kegiatan ini dengan cermat dan teliti! </li>
    </ol>
</div>