<p class="no-indent">mengandung unsur besi. Sel darah merah paling banyak terdapat dalam darah, 1 mm<sup>3</sup>  (kurang lebih sekitar satu tetes) darah terdiri atas 4-5 juta sel darah merah. Ketika dalam paru-paru, hemoglobin dalam sel darah merah mempunyai daya ikat yang tinggi terhadap oksigen, sehingga akan mengikat oksigen membentuk kompleks <b>oksihemoglobin</b>. Persamaan reaksi kimianya adalah:

<div class="mb-4 text-center">
    <img style="width:50%" src="content/img/page258/1.png"> 
</div>
<p class="justify"> Ketika sel darah merah berada dalam jaringan tubuh, daya ikat hemoglobin terhadap oksigen berkurang, sehingga oksigen terlepas dari hemoglobin menuju sel-sel tubuh. Sebaliknya, saat berada dalam jaringan tubuh, daya ikat hemoglobin terhadap karbon dioksida tinggi. Karbon dioksida berikatan dengan hemoglobin membentuk <b> karbaminohemoglobin</b>. Persamaan reaksi kimianya adalah:</p> </div>

<div class="mb-4 text-center">
    <img style="width:60%" src="content/img/page258/2.png"> 
</div>
<p class="justify"> Sel darah merah yang mengandung karbaminohemoglobin selanjutnya menuju paru-paru. Di dalam paru-paru karbon dioksida dilepaskan untuk dikeluarkan dari tubuh. </p>
<p class="justify"> Masih ingatkah kamu di mana sel darah merah dibentuk? Sel darah merah dibentuk di dalam sumsum merah tulang. Namun, selama dalam kandungan, sel darah merah dibentuk dalam hati dan limpa. Sel darah merah hanya berusia sekitar 100 - 120 hari. Sel yang telah tua akan dihancurkan oleh sel makrofag di dalam hati dan limpa. Selanjutnya, di dalam hati, hemoglobin dirombak, kemudian dijadikan bilirubin (pigmen empedu).</p> </div>

<h5>b. Sel Darah Putih (Leukosit)</h5>
<div class="justify"> Berbeda dengan sel darah merah, sel darah putih memiliki bentuk yang tidak tetap atau bersifat ameboid dan mempunyai inti. Jumlah sel darah putih tidak sebanyak jumlah sel darah merah, setiap 1 mm<sup>3</sup> darah mengandung sekitar 8.000 sel darah putih. Fungsi utama dari sel darah putih adalah melawan kuman/bibit penyakit yang masuk ke dalam tubuh. Apabila di dalam darah terjadi peningkatan jumlah leukosit, maka kemungkinan terjadi infeksi di bagian tubuh. Jika jumlah leukosit sampai di bawah 6.000 sel per 1 mm3 darah disebut sebagai kondisi leukopenia. Jika jumlah leukosit melebihi normal (di atas 9.000 sel per 1 mm<sup>3</sup> disebut leukositosis. </div>