<p class="no-indent">
    merah menghasilkan sel-sel darah merah dengan kecepatan sampai
    tiga juta sel per sekon. Sel-sel darah putih juga dihasilkan di dalam
    sumsum tulang, tetapi lebih sedikit jumlahnya.
</p>
<p>
    Ujung tulang panjang ditutup dengan suatu lapisan jaringan tebal,
    lunak dan lentur, yang disebut dengan tulang rawan (kartilago). Tulang
    rawan tersusun atas sel-sel yang dikelilingi oleh matriks protein yang
    dihasilkan oleh sel-sel tersebut. Selain di ujung-ujung tulang panjang,
    tulang rawan juga dapat ditemukan di ujung-ujung tulang rusuk,
    dinding saluran pernapasan, hidung, dan telinga.
</p>
<div class="box">
    <center>
        <h3>Ayo, Kita Selesaikan</h3>
    </center>
    <p>
        Coba pikirkan apakah tulang manusia tersusun dari materi
        kering seperti batu? Bagaimana dengan tulang-tulang di tubuhmu?
        Ternyata, tulang-tulang di dalam tubuh adalah materi hidup.
        Masing-masing tulang dalam tubuhmu adalah organ hidup yang
        tersusun dari berbagai jaringan. Sel-sel di dalam tulang-tulang
        ini membutuhkan makanan dan energi seperti sel-sel lain dalam
        tubuhmu.
    </p>
    <p>
        Sekarang kamu telah mengetahui bahwa tulang adalah materi
        hidup. Coba buktikan bahwa tulang yang terdapat pada tubuhmu
        adalah materi hidup! Kaitkan dengan ciri- ciri makhluk hidup yang
        telah kamu pelajari pada kelas VII?
    </p>
</div>
<h5><span>2.</span> Macam-Macam Tulang pada Sistem Rangka</h5>
<p>
    Tahukah kamu bentuk tulang yang ada pada tangan, tulang jari
    dan tulang pipi? Coba sekarang rabalah tulang lengan bawah, tulang
    jari-jari tangan, dan tulang pipi. Kamu akan merasakan bahwa bentuk
    dan ukuran tulang-tulang tersebut tidak sama. Bentuk tulang manusia
    dibedakan menjadi empat, yaitu: (1) tulang panjang, misalnya tulang
    lengan (humerus), (2) tulang pipih, misalnya tulang dada (sternum),
    (3) tulang pendek, misalnya tulang ruas jari (falang), dan (4) tulang
    tidak beraturan, misalnya tulang punggung (vertebra). Agar kamu
    memahaminya, coba perhatikan Gambar 1.23!
</p>