<p class="justify no-indent"> heran jika ada yang menyebut keping darah dengan sel darah pembeku. Nah, pernahkah kamu berpikir bagaimana proses pembekuan darah terjadi? </p>
<p class="justify">Sesaat setelah bagian tubuh terluka, trombosit akan pecah karena bersentuhan dengan permukaan kasar dari pembuluh darah yang luka. Di dalam trombosit, terdapat enzim trombokinase atau tromboplastin. Enzim tromboplastin akan mengubah protrombin (calon trombin) menjadi trombin karena pengaruh ion kalsium dan vitamin K dalam darah. Trombin akan mengubah fibrinogen (protein darah) menjadi benang-benang fibrin. Benang-benang fibrin ini akan menjaring selsel darah sehingga luka tertutup dan darah tidak menetes lagi. Agar kamu dapat dengan mudah memahami proses pembekuan darah, perhatikanlah Gambar 6.4! </p>

<div class="mb-4 text-center"> 
    <img style="width:100%" src="content/img/page260/1.png"> 
    <small> Sumber: Sumber: Campbell <i> et al. </i> 2008  <br/> 
    <b>Gambar 6.4</b>  Proses Pembekuan Darah</small>
</div>

<div class="box"> 
    <center>
        <h3>Tahukah Kamu?</h3>
    </center>
    <p class="justify"> Tahukah kamu darah dapat digolongkan menjadi beberapa golongan? Tahukah kamu sistem penggolongan darah? Darah dapat dikelompokkan berdasar sistem ABO, sistem Rhesus (Rh), dan sistem MN. Sistem ABO dan Rh merupakan sistem penggolongan darah yang sering digunakan. Berdasarkan sistem penggolongan darah ABO, darah dikelompokkan menjadi 4 golongan darah, yaitu golongan darah A, B, AB, dan O. Pembagian ini dilakukan karena adanya perbedaan aglutinogen (antigen) pada permukaan membran </p> 
</div>