<div class="box"> 
    <p>sel darah merah (eritrosit) dan antibodi (aglutinin) dalam plasma darah. Perhatikan Gambar 6.5! </p>
    <div class="mb-4 text-center"> 
        <img style="width:70%" src="content/img/page261/1.png"> 
        <div>
            <small>Sumber:  Tortora & Derricson, 2009  <br/>
                <b> Gambar 6.5 </b> Antigen (Aglutinogen) dan Antibodi (Aglutinin) pada Darah 
            </small>
        </div> 
    </div>
            
    <p> Ada dua jenis antigen pada sel darah merah, yaitu antigen-A dan antigen-B. Antibodi dalam plasma darah juga terdiri atas dua jenis, yaitu antibodi anti-A dan antibodi anti-B. Jenis antigen dan antibodi inilah yang akan menentukan jenis golongan darah seseorang. Perhatikanlah Tabel 6.2! </p>
    
    <div class="mb-4 text-center"> 
        <b> Tabel 6.2 </b> Karakteristik Golongan Darah A, B, AB, dan O
        <img style="width:70%" src="content/img/page261/2.png">
    </div> 
    <p> Sistem penggolongan darah Rhesus dapat digolongkan menjadi dua kelompok, yaitu Rhesus positif (Rh+) dan Rhesus negatif (Rh−). Golongan darah seseorang dapat dikelompokkan berdasar dua sistem penggolongan darah baik sistem golongan darah ABO dan Rhesus, misalnya seseorang yang memiliki golongan darah A ada yang Rhesusnya positif dan ada yang Rhesusnya negatif. </p>
    <p> Kita harus mengetahui golongan darah karena golongan darah sangat penting pada proses transfusi darah. Transfusi darah adalah proses pemindahan darah dari donor (pemberi) ke resipien (penerima). Jika seseorang mendapatkan transfusi darah dari donor yang golongan darahnya berbeda dengan golongan darah </p>
    
</div>        