<div class="box"> 
    <center>
        <h3>Ayo, Kita Diskusikan</h3>
    </center>
    <p> Coba diskusikan bersama kelompokmu apa saja fungsi darah selain mengangkut oksigen dan karbon dioksida! </p> 
</div>

<div class="box"> 
    <center>
        <h3>Ayo, Kita Pikirkan!</h3>
    </center>
    <p> Darah dipompakan ke seluruh bagian tubuh manusia oleh suatu organ. Organ tersebut merupakan salah satu organ utama yang berperan dalam sistem peredaran darah. Organ ini berfungsi untuk memompa darah ke seluruh bagian tubuh manusia, termasuk memompa darah ke seluruh ruangan yang ada pada organ tersebut. Jika kalian ingin merasakan kerja dari organ tersebut, coba sekarang pegang dada kalian. Apa yang dapat kalian rasakan? Adakah bagian yang berdenyut? Tahukah kalian, apa nama organ tersebut? </p> </div>
</div>    

<h4><span>2.</span> Jantung dan Pembuluh Darah</h4>
<h5> a. Jantung </h5>
<p class="justify"> Darah dapat mengalir ke seluruh tubuh karena di dalam tubuh kita terdapat organ yang berperan sebagai pemompa darah yang disebut dengan jantung. Perhatikan Gambar 6.6! Jantung terdiri atas 4 ruangan, yaitu serambi (atrium) kiri dan serambi (atrium) kanan serta bilik (ventrikel) kiri dan bilik (ventrikel) kanan. Serambi jantung terletak pada bagian atas, sedangkan bilik jantung terletak di sebelah bawah. Darah dari seluruh tubuh, akan masuk pertama kali ke serambi kanan, sehingga darah dalam serambi kanan banyak mengandung CO<sub>2</sub> . Dariserambi kanan, darah akan melewati katup trikuspidalis menuju bilik kanan. Katup ini berfungsi agar darah tidak dapat kembali ke serambi kanan. Darah yang ada dalam bilik kanan, dipompa oleh bilik kanan melewati arteri pulmonalis menuju paru-paru agar CO<sub>2</sub>  dalam darah terlepas dan terjadi pengikatan O<sub>2</sub>. </p>    