<p class="justify"> Darah dari paru-paru mengalir melalui vena pulmonalis menuju serambi kiri, sehingga darah dalam serambi kiri banyak mengandung O<sub>2</sub>. Darah dari serambi kiri turun melalui katup bikuspidalis menuju bilik kiri. Bilik kiri akan memompa darah ke seluruh tubuh melalui pembuluh aorta. Perhatikan kembali Gambar 6.6! Melalui gambar tersebut kamu dapat melihat bahwa dinding bilik kiri lebih tebal dibandingkan bagian jantung yang lain. Mengapa demikian? Coba hubungkan dengan fungsi bilik kiri! </p>

<div class="mb-4 text-center">
    <img style="width:80%" src="content/img/page264/1.png"> 
    <div><small> Sumber: Reece <i> et al. </i> 2012 </small> <br/>
    <b> Gambar 6.6 </b> Bagian-bagian Jantung</div>
</div>
<p class="justify"> Pernahkah kamu berpikir mengapa jantung dapat berdenyut secara otomatis tanpa perlu kamu perintah sehingga meskipun kamu tertidur jantungmu tetap berdenyut? Coba renungkan, apa yang akan terjadi jika untuk setiap berdenyut kamu harus memerintah jantung berdenyut, seperti halnya ketika kamu memerintahkan kaki ketika akan berjalan! Tentu jika jantung harus berdenyut berdasarkan perintahmu, saat kamu tertidur jantung akan berhenti berdenyut sehingga tidak dapat memompa darah ke seluruh tubuh. Hal ini mengakibatkan sel-sel tubuh tidak mendapat pasokan O,<sub>2</sub> , nutrisi, dan zat-zat sisa metabolismenya tidak dapat diangkut oleh darah. Apa yang akan terjadi jika demikian? Maha Besar Tuhan yang telah merancang kerja jantung secara otomatis. Tentu kamu wajib bersyukur atas karunia yang telah diberikan Tuhan ini. Coba renungkan, apa yang harus kamu lakukan untuk mensyukuri karunia tersebut? </p>