<h5>D. Frekuensi Denyut Jantung</h5>
<p class="justify">Apakah kamu pernah menghitung denyut jantungmu? Berapa
kali jantung berdenyut setiap menitnya? Apakah jumlah denyut
jantung antara laki-laki dan perempuan berbeda? Apakah aktivitas
memengaruhi jumlah denyut jantung? Untuk mengetahuinya, ayo
lakukan aktivitas berikut!</p>

<div class="box">
    <center>
        <h3>Ayo, Kita Lakukan</h3>
        <h6>Aktivitas 6.2 Menyelidiki Faktor-faktor yang Memengaruhi Frekuensi Denyut Jantung</h6>
    </center>
    <p><b>Apa yang kamu perlukan?</b></p>
    <ol>
        <li>Alat tulis</li>
        <li>Stopwatch</li>
    </ol> 
    <p><b>Apa yang harus kalian lakukan?</b></p>
    <p class="justify">Buatlah kelompok yang terdiri atas 4-5 orang. Tentukan di antara
    anggota kelompokmu siapa yang akan menghitung denyut nadi,
    siapa yang memerhatikan stopwatch, dan yang akan melakukan
    beberapa aktivitas. Bekerja samalah dengan baik bersama teman
    satu kelompokmu dalam melakukan pembagian tugas!</p>
            
    <div class="row">
        <div class="col-8">
            <p><b>Kegiatan I</b></p>
            <ol>
                <li>Mintalah temanmu untuk duduk
                    dengan tenang selama 1 menit.</li>
                    <li>Temukan denyut nadi pada
                        pergelangan tangan temanmu.
                        Gunakan jari telunjuk dan jari
                        tengah untuk menemukannya.
                        Agar kamu mengetahuinya,
                        perhatikan Gambar 6.10!</li> 
                        <li>Hitung denyut nadi temanmu
                            selama 1 menit. Selanjutnya
                            catatlah hasilnya pada Tabel 6.5. Lakukan penghitungan dengan
                            cermat dan teliti agar data yang kamu peroleh benar.</li>
                        </ol>
                    </div>
                    <div class="col-4">
                        <div class="mb-4">
                            <img style="width:100%" src="content/img/page268/2.png">
                            <small>
                                Sumber: Dok. Kemdikbud<br/>
                                <b>Gambar 6.10</b> Menghitung Frekuensi Denyut Jantung
                            </small> 
                        </div>   
                    </div>
                    
                </div>
                <ol start="4">
                    <li>Ulangi langkah 1-3, tetapi kegiatan tersebut dilakukan setelah
                        temanmu duduk dengan tenang selama 2 menit.</li>
                        
                    </ol> 
                    
                    
                </div>
                
                
                
                
                
            </div>
        </div>
    </div>
</div>           