<div class="mb-4 text-center">
    <a data-fancybox="gallery" href="content/img/page27/1.png"><img style="width:70%;" src="content/img/page27/1.png"></a>
    <div>
        <small>Sumber: Shier, et al. 2010
        <br/>
        <b>Gambar 1.23</b> Macam Tulang Berdasarkan Bentuk dan Ukurannya</small>
    </div>
</div>
<div class="box text-center">
    <center>
        <h3>Ayo, Kita Diskusikan</h3>
    </center>   
    <p>
        Lakukan diskusi dengan temanmu, untuk mengklasifikasikan 10
        jenis tulang berdasarkan ukuran dan bentuknya. Agar mempermudah
        kerjamu, susunlah data tersebut dalam Tabel 1.6. Jangan lupa lakukan
        kegiatan ini dengan cermat dan teliti agar kamu dapat melakukan
        klasifikasi dengan tepat.
    </p>
    <div>
        <small><b>Tabel 1.6</b> Klasifikasi Tulang Berdasarkan Bentuk dan Ukuran</small>
    </div>
    <img src="content/img/page27/2.png">
</div>