<div class="mb-4 text-center">
    <img style="width:80%" src="content/img/page273/1.png"> 
    <div>
        <small> Sumber: Campbell <i> et al. </i> 2008 <br/>
        <b> Gambar 6.11 </b> Penyumbatan pada Arteri Koroner
        </small>
    </div>
</div>
<p class="justify"> Nah, bagaimana cara mencegah terjadinya penyakit jantung
koroner? Agar kamu memahaminya perhatikanlah penjelasan berikut ini. </p>

<h5>a. Melakukan Olahraga dan Istirahat yang Teratur </h5>
<p class="justify"> Menjaga kesehatan jantung dapat dilakukan dengan berolahraga secara teratur. Berolahraga tidak harus berat yang terpenting adalah teratur. Kamu dapat melakukan olahraga ringan seperti berlari kecil ataupun hanya berjalan. Apabila kamu ingin melakukan olahraga yang berat, misalnya bulu tangkis, basket, sepak bola, dan olahraga lainnya, maka sebaiknya diawali dengan melakukan pemanasan. Pemanasan membuat kecepatan denyut jantung bertambah secara bertahap. </p>
<p class="justify"> Selain berolahraga dengan teratur, untuk menjaga kesehatan jantung diperlukan istirahat yang teratur. Istirahat dapat dilakukan dengan duduk santai ataupun tidur. Saat ini banyak orang yang begadang di malam hari, padahal begadang tidak baik bagi kesehatan. Oleh karena itu, sebaiknya kita tidak begadang apalagi jika begadang tersebut adalah untuk melakukan aktivitas yang tidak bermanfaat.  </p> 

<h5>b. Menjaga Pola Makan Sehari-hari </h5>
<p class="justify"> Menjaga kesehatan sistem peredaran darah dapat dilakukan dengan menjaga pola makan sehari-hari. Menjaga pola makan dapat dilakukan dengan makan secara teratur, menyesuaikan jumlah kalori yang masuk ke tubuh sesuai dengan kebutuhan, serta menyeimbangkan komposisi nutrisi. Nah, masih ingatkah kamu cara menghitung kalori makanan yang terdapat pada bab sistem pencernaan? Untuk menjaga kesehatan jantung sebaiknya banyak mengonsumsi sayuran, buah-buahan, biji-bijian, serta makanan berserat lainnya. Sebaiknya kurangi </p>