<p class="justify no-indent">mengonsumsi daging, makanan camilan, dan makanan yang banyak mengandung lemak atau kolesterol. Jenis makanan tersebut dapat meningkatkan jumlah kolesterol pada darah. </p>

<h5> c. Menghindari Minuman Beralkohol </h5>
<p class="justify"> Tentu kalian sudah sering mendengar bahaya mengonsumsi minuman beralkohol. Tahukah kamu, apa bahaya mengonsumsi minuman beralkohol bagi kesehatan sistem peredaran darah? Minuman beralkohol dapat memicu terjadinya gangguan pada sistem peredaran darah. Semakin banyak mengonsumsi alkohol maka risiko terjadinya penyakit jantung semakin tinggi. Oleh karena itu, hindari minuman beralkohol agar tidak terserang penyakit jantung.  </p>

<h5> d. Menghentikan Kebiasaan Merokok </h5> 
<p class="justify"> Tahukah kamu mengapa rokok dapat menyebabkan gangguan pada sistem peredaran darah? Pada seseorang yang merokok, asap rokok akan merusak dinding pembuluh darah. Kemudian nikotin yang terkandung dalam asap rokok akan merangsang hormon adrenalin yang akibatnya akan mengubah metabolisme lemak. Hormon adrenalin akan memacu kerja jantung. Selain itu, merokok menyebabkan elastisitas pembuluh darah berkurang, sehingga meningkatkan pengerasan pembuluh darah arteri dan meningkatkan faktor pembekuan darah yang memicu penyakit jantung dan <i> stroke </i>. Perokok mempunyai peluang terkena <i> stroke </i> dan jantung koroner sekitar dua kali lipat lebih tinggi dibanding dengan bukan perokok. Oleh karena itu, jangan meremehkan keberadaan asap rokok, karena asap rokok dapat menjadi penyebab penyakit jantung koroner dan gangguan pada pembuluh darah. </p>
    
<h5> e. Menghindari Stres Berlebih </h5> 
<p class="justify"> Menghindari stres yang berlebihan termasuk cara mencegah penyakit jantung. Stres berlebih dapat menyebabkan naiknya tekanan darah dan meningkatnya denyut jantung. Kondisi ini akan menyebabkan kerusakan dinding pembuluh darah. Oleh karena itu, hindarkan diri kita dari stres. </p>

<h5> f. Menjaga Berat Badan dalam Kondisi Ideal </h5> 
<p class="justify"> Mengapa kita harus menjaga berat badan agar tetap dalam kondisi ideal? Berat badan yang tidak terkontrol dapat menyebabkan terjadinya obesitas. Obesitas dapat meningkatkan risiko terkena serangan stroke sebesar 15%. Obesitas dapat menyebabkan terjadinya hipertensi dan penyakit jantung. </p>