<div style="width:50%;margin:auto;" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="content/img/page277/1.png" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="content/img/page277/2.png" alt="Second slide">
        </div> 
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="mb-4 text-center">
    <small>  Sumber: pennmedcine.org <br/>
        <b>Gambar 6.14 </b> Perbandingan Jumlah Sel Darah Merah dalam Kondisi Normal dengan Penderita Anemia
    </small>
</div>

<p class="justify"> Bagi kamu yang perempuan, anemia dapat terjadi pada saat kamu sedang mengalami menstruasi. Setiap terjadi menstruasi tubuh akan kehilangan darah dalam jumlah cukup banyak, yaitu sebanyak 50 – 80 mL dan zat besi sebesar 30 – 50 mg. Oleh karena itu, agar tidak mengalami anemia, sebaiknya selama masa menstruasi kamu mengonsumsi makanan yang mengandung zat besi, mengonsumsi makanan bergizi, dan jika diperlukan mengonsumsi suplemen penambah zat besi. </p> 

<h4><span>5</span>Hipertensi dan Hipotensi</h4>
<p class="justify"> Hipertensi disebut juga tekanan darah tinggi, terjadi jika tekanan darah di atas 120/80 mmHg. Gejala penderita hipertensi antara lain sakit kepala, kelelahan, pusing, pendarahan dari hidung, mual, muntah, dan sesak napas. Hipertensi dapat disebabkan karena arteriosklerosis (pengerasan pembuluh darah), obesitas (kegemukan), kurang olahraga, stres, mengonsumsi minuman beralkohol atau yang banyak mengandung garam, lemak, dan kolesterol. Nah, bagaimana cara mengatasi hipertensi? Penderita hipertensi yang disebabkan karena obesitas harus menurunkan berat badannya, sehingga mencapai berat badan ideal, hindari mengonsumsi minuman beralkohol dan makanan berlemak dan mengandung kolesterol tinggi, berolahragalah secara teratur, hindari kebiasaan merokok, dan hindari faktor-faktor yang dapat menyebabkan stres. </p>
<p class="justify"> Berbeda dengan hipertensi, hipotensi terjadi apabila tekanan darah kurang dari 120/80 mm Hg. Hipotensi disebut juga dengan tekanan darah rendah. Orang yang mengalami tekanan darah rendah umumnya akan mengeluhkan keadaan sering pusing, sering menguap,  </p>