<p class="justify no-indent">penglihatan terkadang dirasakan kurang jelas (berkunang-kunang) terutama sehabis duduk lama lalu berjalan, keringat dingin, merasa cepat lelah tak bertenaga, detak/denyut nadi lemah, dan tampak pucat. Nah, bagaimana cara mengatasi hipotensi? Berikut ini ada beberapa cara untuk mengatasi hipotensi. Minum air putih dalam jumlah yang cukup banyak antara 8 hingga 10 gelas per hari, mengonsumsi minuman yang dapat meningkatkan tekanan darah, misalnya kopi, mengonsumsi makanan yang cukup mengandung garam, dan berolahraga dengan teratur. </p>

<div class="box"> 
    <center>
        <h3>Ayo, Kita Renungkan</h3>
    </center>
    <p class="justify">Pernahkah kamu membayangkan bahwa sistem transportasi di dalam tubuh dikatakan mirip dengan sistem transportasi yang sering kita temui di jalan raya? Ada bus penumpang dan ada penumpang yang dibawa. Pada sistem transportasi di dalam tubuh, ada sel darah merah yang ditumpangi oleh sari-sari makanan dan oksigen untuk dihantarkan ke bagian-bagian tubuh yang membutuhkan. Sel darah merah dari jantung akan melalui jalan yang besar, yaitu aorta dan arteri. Semakin jauh dari jantung, sel darah merah akan melalui jalan-jalan kecil, yaitu kapiler darah. Selanjutnya, sel darah merah akan kembali dengan mengangkut zat sisa metabolisme dan karbon dioksida untuk dikeluarkan dari tubuh. Ditambah lagi dengan peran sel darah putih yang siap menjaga kamu dari serangan penyakit atau virus dari luar tubuh, seperti halnya polisi lalu lintas yang senantiasa menjaga ketertiban jalan raya. </p> 
    <p class="justify">Tuhan menciptakan sistem transportasi yang sangat rumit dengan ukuran yang sangat kecil di dalam tubuhmu. Sistem transportasi di tubuhmu bekerja selama 24 jam tanpa henti bahkan saat kamu tidur lelap. Sungguh Tuhan telah menciptakan darah dan sistem peredaran darah dengan sangat kompleks dan sempurna. Oleh karena itu, hendaknya kita selalu bersyukur kepada Tuhan atas anugerah berupa darah dan sistem peredaran darah yang diberikan kepada kita. Salah satu cara mensyukuri anugerah Tuhan adalah dengan selalu menjaga kesehatan sistem peredaran darah. Nah, apakah kamu sudah melakukan upaya-upaya agar sistem peredaran darahmu selalu sehat? Apa yang dapat kamu lakukan  </p>
</div>