<div class="box"> 
    <p class="justify no-indent"> untuk mengatasi gangguan atau kelainan yang terjadi pada sistem peredaran darahmu? Jawablah pertanyaan/pernyataan dengan memberi centang (√) pada Tabel 6.6 di kolom “ya” atau “tidak”. </p>
    <div class="mb-4 text-center"> 
        <b> Tabel 6.6 </b> Pertanyaan untuk Refleksi Terkait Sistem Peredaran Darah Manusia
        <img style="width:80%" src="content/img/page279/1.png">  
    </div>
    
    <p>Coba kamu hitung, berapa total skormu dengan ketentuan: </p>
    <ul type="square">
        <li>Jawaban “ya” mendapat skor 2 (dua)</li>
        <li>Jawaban “tidak” mendapat skor 0 (nol)</li>
    </ul>        
    <p>Bandingkan total skormu dengan kriteria berikut. </p>
    
    <ul type="square">
        <li>Skor 0 - 3 : berarti kamu tidak peduli pada sistem peredaran darahmu.</li>
        <li>Skor 4 - 6 : berarti kamu kurang peduli pada sistem peredaran darahmu.</li>
        <li>Skor 7 - 10 : berarti kamu peduli pada sistem peredaran darahmu.</li>
    </ul>
    <p class="justify"> Untuk kamu yang tidak peduli atau kurang peduli terhadap sistem peredaran darah, sebaiknya kamu terus berusaha untuk meningkatkan kepedulianmu terhadap sistem peredaran darahmu. </p>
</div>
