<h5><span>3.</span> Perkembangan Tulang</h5>
<p>
    Tulang yang ada di tubuh kita merupakan suatu benda yang keras,
    meskipun demikian tulang bukan suatu benda yang memiliki ukuran
    tetap. Beberapa bulan sebelum kamu dilahirkan, tulang kamu tersusun
    dari kartilago (tulang rawan). Secara bertahap, tulang rawan akan
    berkembang menjadi tulang keras. Akan tetapi, pada perkembangannya
    tidak semua tulang rawan pada tubuh manusia menjadi tulang keras.
    Untuk membuktikannya, coba pegang daun telinga kamu kemudian
    lipatlah perlahan-lahan. Dapatkah kamu melipat daun telingamu?
</p>
<p>
    Pernahkah kamu berpikir mengapa tulang pada daun telinga
    dapat dilipat? Tulang pada daun telinga dapat dilipat karena tulang
    yang terdapat pada daun telinga adalah tulang rawan. Dapatkah kamu
    menyebutkan contoh tulang rawan lainnya? Tulang hidung ataupun
    tulang rawan penyusun persendian adalah contoh tulang rawan.
    Tulang-tulang tersebut akan tetap menjadi tulang rawan sampai
    manusia menjadi tua. Pada saat janin (calon bayi yang masih ada di
    dalam kandungan), hampir semua tulang yang terdapat pada tubuhnya
    merupakan tulang rawan. Seiring dengan perkembangan janin dan
    setelah kelahiran, tulang rawan tersebut berkembang menjadi tulang
    keras. Proses pengubahan tulang rawan menjadi tulang keras disebut
    dengan penulangan atau osifikasi. Agar kamu dapat memahami proses
    osifikasi dengan baik, perhatikanlah Gambar 1.24!
</p>
<div class="mb-4 text-center">
    <a data-fancybox="gallery" href="content/img/page28/1.png"><img style="width:80%;" src="content/img/page28/1.png"></a>
    <div>
        <small>Sumber: Reece et al. 2012<br/><b>Gambar 1.24</b> Proses Osifikasi Tulang</small>
    </div>
</div>
<p>
    Bagaimanakah proses osifikasi berlangsung? Proses osifikasi
    berawal dari tulang rawan. Tulang rawan bentuknya mirip dengan
    tulang dewasa. Selain itu, tulang rawan memiliki rongga yang terisi
</p>