<div class="box">
    <center>
        <h3>Rangkuman</h3>
    </center>
    <ol>
    <li>Darah merupakan jaringan pengikat yang berwujud cair dan
    tersusun atas dua komponen utama yaitu plasma dan elemen
    seluler, yaitu sel darah merah (eritrosit), sel darah putih
    (leukosit), dan keping darah (trombosit).</li>
    <li>Plasma darah tersusun atas 91,5% air (H<sub>2</sub>O) dan 8,5% zat-zat
    terlarut. Zat-zat terlarut tersebut tersusun atas protein (albumin,
    fibrinogen, dan globulin) dan zat-zat lain (sari makanan, mineral,
    hormon, antibodi, dan zat sisa metabolisme).</li>
    <li>Hemoglobin dalam eritrosit berfungsi untuk mengangkut
    oksigen dari paru-paru ke sel-sel seluruh tubuh dalam bentuk
    oksihemoglobin dan mengangkut karbon dioksida dari sel-sel
    tubuh ke paru-paru dalam bentuk karbaminohemoglobin.</li>
    <li>Sel darah putih berfungsi untuk melawan kuman/bibit penyakit
    yang masuk ke dalam tubuh, baik melalui fagositosis maupun
    dengan membentuk antibodi.</li>
    <li>Keping darah berfungsi untuk proses pembekuan darah saat
    terjadinya luka.</li> 
    <li>Darah dapat dikelompokkan berdasar sistem ABO, sistem
    Rhesus (Rh), dan sistem MN. Sistem ABO dan Rh merupakan
    sistem penggolongan darah yang sering digunakan.</li> 
    <li>Jantung berfungsi untuk memompa darah. Jantung terdiri atas
    4 ruangan, yaitu serambi (atrium) kiri dan serambi (atrium)
    kanan serta bilik (ventrikel) kiri dan bilik (ventrikel) kanan.</li>
    <li>Pembuluh darah dapat dibedakan menjadi tiga, yaitu pembuluh
    nadi (arteri), pembuluh balik (vena), dan kapiler.</li>
    <li>Peredaran darah kecil dimulai dari jantung (bilik kanan) menuju
    ke paru-paru kemudian kembali lagi ke jantung (serambi kiri).
    Peredaran darah besar dimulai dari jantung (bilik kiri) menuju
    ke seluruh tubuh kemudian kembali ke jantung lagi (serambi
    kanan).</li>
    <li>Faktor yang memengaruhi frekuensi denyut jantung di antaranya
    adalah kegiatan atau aktivitas tubuh, jenis kelamin, suhu tubuh,
    umur, dan komposisi ion.</li>
    <li>Gangguan pada sistem peredaran darah antara lain: jantung
    koroner, stroke, varises, anemia, hipotensi, dan hipertensi.</li>
    </ol>
</div>