<div class="mb-4 text-center">
    <img style="width:90%" src="content/img/page282/1.png">    
</div>
<div class="mb-4 text-center">
    <img style="width:90%" src="content/img/page282/2.png">    
</div>