<h3>Uji Kompetensi</h3>

<div>
    <b>A. Pilihlah satu jawaban yang paling tepat!</b>
</div>

<div class="exercise mt-3" style="display:none;">
    <div class="question"></div>
    <div class="option"></div>
    
    <hr/>
    
    <div class="indicator"></div>
    
    <div class="alert alert-secondary result" style="display:none;"></div>
</div>

<!-- Embed Exercise -->
<input type="hidden" id="chapter" value="bab6">
<script src="assets/js/exercise.js"></script>