<div class="empty text-center">
    <div class="title">
        "Kekayaan terbesar sebuah bangsa adalah manusianya, bukan sumber daya alamnya" 
        <br/><br/>
        ― Anies Baswedan
    </div>
</div>