<p><b>B. Jawablah dengan benar pertanyaan berikut!</b></p>
<ol>
    <li>Salah satu fungsi darah adalah mengangkut oksigen dan karbon
    dioksida. Ternyata, masih ada banyak fungsi darah yang lainnya.
    Sebutkanlah fungsi darah yang lainnya!</li>
    <li>Mengapa jumlah sel darah merah orang yang tinggal di dataran
    tinggi (pegunungan) lebih banyak daripada orang yang tinggal
    di dataran rendah (pantai)? Ingat bahwa pada daerah dataran
    tinggi tekanan udara dan kadar oksigennya lebih rendah apabila
    dibandingkan dengan dataran rendah.</li>
    <li>Jelaskan proses peredaran darah yang terjadi pada tubuh!</li>
    <li>Bu Lani pergi ke dokter untuk melakukan pengecekan tekanan
    darahnya. Setelah dilakukan pengukuran tekanan darah, dokter</li>
</ol>