<ul type="none">
    <li>mengatakan bahwa tekanan darah bu Lani pada saat itu adalah
    110/90. Jelaskan maksud dari hasil pengukuran tekanan darah
    tersebut! Tuliskan jawabanmu dengan mengaitkan tekanan darah
    dengan kondisi pembuluh darah pada saat itu.</li>
</ul>

<ol start="5">
    <li>Mengapa sebaiknya seseorang itu tidak merokok? Hubungkan
    dengan gangguan pada sistem peredaran darah!
    </li>
</ol>

<div class="box">
    <center>
        <h3>Ayo, Kita Kerjakan Proyek</h3>
        <h6>Membuat Model Sistem Peredaran Darah</h6>
    </center>
    <ul type="square">
        <li><b>Permasalahan</b></li>
    </ul> 
    <p class="justify">Pada kegiatan ini, kamu akan membuat model sistem peredaran
    darah. Kamu dapat menentukan sendiri alat dan bahan yang akan
    kamu gunakan untuk membuat model serta langkah kerja untuk
    membuat model tersebut.</p>
    <ul type="square">
        <li><b>Perencanaan</b></li>
    </ul> 
    <p class="justify">Buatlah rancangan untuk membuat model sistem peredaran
    darah. Hal yang harus tercantum dalam rancanganmu antara lain
    alat dan bahan yang kamu perlukan, langkah kerja untuk membuat
    model ini dan jadwal kegiatan</p>
    <p class="justify">Lakukan kegiatan ini bersama dengan teman satu kelompokmu.
    Satu kelompok dapat terdiri atas 5-6 orang. Setelah selesai membuat
    perencanaan, konsultasikan perencanaan yang telah kamu rancang
    kepada guru atau orangtuamu.</p>

    <ul type="square">
        <li><b>Pelaksanaan</b></li>
    </ul> 
    <p class="justify">Siapkan alat dan bahan yang kamu butuhkan untuk membuat
    model sistem peredaran darah. Buatlah model sistem peredaran
    darah sesuai dengan rancangan kegiatan yang telah kamu susun.</p>
    <p class="justify">Lakukan kegiatan ini dengan teliti dan kritis. Jangan lupa bekerja
    samalah dengan teman satu kelompokmu selama menyelesaikan
    tugas ini. Apabila kamu mengalami kesulitan, kamu dapat meminta
    bantuan kepada guru atau orangtuamu.</p>

    <ul type="square">
        <li><b>Penilaian</b></li>
    </ul>
    <p class="justify">Penilaian dilakukan berdasarkan:</p>
    <ol>
        <li>Produk berupa model sistem peredaran darah.</li>
        <li>Presentasi model sistem peredaran darah.</li>
    </ol>

</div>