<div class="text-center">
    <h2>Informasi Pelaku Penerbitan</h2>
</div>

<h6 class="mt-4 mb-4">Penulis 1</h6>

<table class="table table-bordered">
    <tr>
        <th>Nama Lengkap</th>
        <td>Prof. Dr. Siti Zubaidah, M.Pd.</td>
    </tr>
    <tr>
        <th>Telp Kantor/HP</th>
        <td>0341-588077/081334435234</td>
    </tr>
    <tr>
        <th>E-mail</th>
        <td><a href="mailto:siti.zubaidah.fmipa@um.ac.id">siti.zubaidah.fmipa@um.ac.id</a></td>
    </tr>
    <tr>
        <th>Alamat Kantor</th>
        <td>Jl. Semarang 5 Malang 65145</td>
    </tr>
    <tr>
        <th>Bidang Keahlian</th>
        <td>Biologi/Pendidikan Biologi</td>
    </tr>
</table>

<ul>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pekerjaan/Profesi:</b>
        </div>
        <ol>
            <li>2015–sekarang: Koordinator Program Studi S2-S3 Pendidikan Biologi Program Pascasarjana Universitas Negeri Malang.</li>
            <li>2012–2015: Kepala Pusat Penelitian dan Pengabdian Bidang Pendidikan (LP2M) Universitas Negeri Malang.</li>
            <li>2004–Sekarang: Dosen Program Studi Pendidikan Biologi Pascasarjana Universitas Negeri Malang.</li>
            <li>1993–Sekarang: Dosen Jurusan Biologi FMIPA Universitas Negeri Malang.</li>
        </ol>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pendidikan Tinggi dan Tahun Belajar:</b>
        </div>
        <ol>
            <li>S3: Hama dan Penyakit Tanaman-Universitas Brawijaya Malang (2001-2004).</li>
            <li>S2: Pendidikan Biologi-IKIP Malang (1995-1998).</li>
            <li>S1: Pendidikan Biologi-IKIP Malang (1987-1992).</li>
        </ol>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Judul Buku dan Tahun Terbit:</b>
        </div>
        <ol>
            <li>Buku Siswa dan Buku Guru Ilmu Pengetahuan Alam Kelas IX (2015).</li>
            <li>Buku Siswa dan Buku Guru Ilmu Pengetahuan Alam Kelas VIII (2014).</li>
            <li>Ragam Model dan Metode Pembelajaran IPA SD (cetakan ke-4) (2014).</li>
            <li>Ragam Model Pembelajaran IPA SMP (cetakan ke-2) (2014).</li>
            <li>Ragam Model dan Metode Pembelajaran IPA SD (cetakan ke-3) (2013).</li>
            <li>Ragam Model Pembelajaran IPA SMP (cetakan ke-1) (2013).</li>
            <li>Ragam Model dan Metode Pembelajaran IPA SD (cetakan ke-2) (2012).</li>
            <li>Ragam Model dan Metode Pembelajaran IPA SD (cetakan ke-1) (2011).</li>
            <li>Model-Model Pembelajaran Inovatif. (Pemberdayaan Berpikir Melalui Pertanyaan) (2007).</li>
        </ol>
    </li>
</ul>