<h6 class="mt-4 mb-4">Penulis 2</h6>

<table class="table table-bordered">
    <tr>
        <th>Nama Lengkap</th>
        <td>Dr. Susriyati Mahanal, M.Pd</td>
    </tr>
    <tr>
        <th>Telp Kantor/HP</th>
        <td>0341-512312/082143303052</td>
    </tr>
    <tr>
        <th>E-mail</th>
        <td><a href="mailto:mahanals@yahoo.com">mahanals@yahoo.com</a></td>
    </tr>
    <tr>
        <th>Alamat Kantor</th>
        <td>Jl. Semarang No 5 Malang 65145</td>
    </tr>
    <tr>
        <th>Bidang Keahlian</th>
        <td>Biologi/Pendidikan Biologi</td>
    </tr>
</table>

<ul>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pekerjaan/Profesi:</b>
        </div>
        <ol>
            <li>1984–sekarang:Dosen Jurusan Biologi FMIPA Universitas Negeri Malang.</li>
            <li>2010–sekarang: Dosen Program Studi Pendidikan Biologi Pascasarjana Universitas Negeri Malang.</li>
        </ol>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pendidikan Tinggi dan Tahun Belajar:</b>
        </div>
        <ol>
            <li>S3: Pendidikan Biologi-Universitas Negeri Malang (2007-2009)</li>
            <li>S2: Pendidikan Biologi-IKIP Malang (1995-1998)</li>
            <li>S1: Pendidikan Biologi-IKIP Malang (1980-1981)</li>
            <li>Sarjana Muda: Pendidikan Ilmu Hayat (1975-1978)</li>
        </ol>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Judul Buku dan Tahun Terbit:</b>
        </div>
        <ol>
            <li>Buku Pendidikan Lingkungan Hidup sebagai Matapelajaran Muatan Lokal untuk Sekolah Dasar Kelas 1-6 (2015).</li>
            <li>Pendidikan Lingkungan Hidup untuk SMA Kelas X, Jilid 1-3 (2014).</li>
            <li>Buku Siswa dan Buku Guru Ilmu Pengetahuan Alam Kelas IX (2014).</li>
            <li>Model dan Metode Pembelajaran SMP IPA (Kerjasama PT Pertamina Persero dengan Universitas Negeri Malang) (2013).</li>
            <li>Ragam Model Pembelajaran IPA Sekolah Dasar (Kerjasama PT Pertamina Persero dengan Universitas Negeri Malang) (2010).</li>
            <li>Model-Model Pembelajaran Inovatif (Portofolio Sebagai Assessment Otentik) (2007).</li>
            <li>Botani Tumbuhan Bertalus (2004).</li>
        </ol>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Judul Penelitian dan Tahun Terbit:</b>
        </div>
        <ol>
            <li>Pengembangan Buku Ajar Pendidikan Lingkungan Hidup (PLH) Sebagai Mata Pelajaran Muatan Lokal Pada Jenjang Pendidikan Sekolah
            Dasar (2013).</li>
            <li>Strategi Pengembangan Pendidikan Karakter (Caharacter Building) dalam Lembaga Sekolah di Provinsi Jawa Timur (2012).</li>
            <li>Pemetaan dan Pengembangan Mutu Pendidikan di Kota Kediri, Kabupaten Kediri, dan Kabupaten Ngawi (2011).</li>
        </ol>
    </li>
</ul>