<ul style="list-style: none;">
    <li>
        <ol start="4">
            <li>Pemetaan dan Pengembangan Mutu Pendidikan di Kota Madiun, Kabupaten Madiun, dan Kabupaten Magetan (2011).</li>
            <li>Pengaruh Strategi Pembelajaran dan Gender terhadap Metakognisi dan Kemampuan Berpikir Kritis Siswa SMA di Malang (2010).</li>
            <li>Pengembangan Perangkat Pembelajaran Berbasis Proyek Pada Mata Pelajaran Biologi untuk Memberdayakan Kemampuan Berpikir Kritis
            dan Sikap Terhadap Lingkungan Hidup Siswa SMA di Malang (2009).</li>
            <li>Pengembangan perangkat Pembelajaran Deteksi Kualitas Sungai dengan Indikator Biologi untuk Memberdayakan Sikap Siswa SMA
            di Malang (2007).</li>
            <li>Penerapan Pembelajaran Berdasarkan Masalah dengan Kooperatif STAD pada Mata Pelajaran IPA untuk Meningkatkan Kemampuan Berpikir
            Siswa MIJS Malang (2006).</li>
            <li>Penerapan Pembelajaran Berdasarkan Masalah dengan Kooperatif STAD pada Mata Pelajaran IPA Biologi untuk Meningkatkan Keterampilan
            Proses dan Berpikir Siswa SMA SMP dengan Setting Wilayah Pertanian Malang (2006).</li>
        </ol>
    </li>
</ul>
<ul>
    <li>
        <div class="mb-3 mt-3">
            <b>Informasi Lain:</b>
        </div>
        <p class="no-indent">
            Susriyati Mahanal, lahir 10 Agustus 1956. Menikah dan dikarunia 2 orang puteri dan 1 orang putera. Saat ini menetap di Kota
            Malang sebagai pengajar di Jurusan Biologi dan Pascasarjana Universitas Negeri Malang (UM). Dalam banyak kegiatan terlibat
            sebagai narasumber dalam workshop peningkatan kualitas guru sebagai instruktur. Materi yang dikembangkan sesuai kompetensinya
            dalam bidang pendidikan biologi dan pembelajarannya yaitu: pengembangan bahan ajar dan asesmen, penelitian tindakan kelas,
            pemilihan strategi pembelajaran aktif yang mendorong kemampuan berpikir siswa. Sampai saat ini masih aktif melakukan penelitian-penelitian
            dalam bidang pembelajaran biologi.
        </p>
    </li>
</ul>

<h6 class="mt-4 mb-4">Penulis 3</h6>

<table class="table table-bordered">
    <tr>
        <th>Nama Lengkap</th>
        <td>Dr. Lia Yuliati, M.Pd</td>
    </tr>
    <tr>
        <th>Telp Kantor/HP</th>
        <td>0341 552125/08156257913</td>
    </tr>
    <tr>
        <th>E-mail</th>
        <td><a href="mailto:lia.yuliati.fmipa@um.ac.id">lia.yuliati.fmipa@um.ac.id</a></td>
    </tr>
    <tr>
        <th>Alamat Kantor</th>
        <td>Jl. Semarang No 5 Malang 65145</td>
    </tr>
    <tr>
        <th>Bidang Keahlian</th>
        <td>Pendidikan IPA/Fisika</td>
    </tr>
</table>

<ul>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pekerjaan/Profesi:</b>
        </div>
        <ol>
            <li>1990–1999: Dosen di Program Studi Pendidikan Fisika Jurusan Fisika FPMIPA IKIP Medan.</li>
            <li>1999–Sekarang: Dosen Program Studi Pendidikan Fisika Pascasarjana Universitas Negeri Malang.</li>
        </ol>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pendidikan Tinggi dan Tahun Belajar:</b>
        </div>
        <ol>
            <li>S3: Pendidikan IPA-Universitas Pendidikan Indonesia (2002-2006).</li>
            <li>S2: Pendidikan IPA-IKIP Bandung (1992-1995).</li>
            <li>S1: Pendidikan Fisika-IKIP Bandung (1986-1990).</li>
        </ol>
    </li>
</ul>