<h6 class="mt-4 mb-4">Penulis 4</h6>

<table class="table table-bordered">
    <tr>
        <th>Nama Lengkap</th>
        <td>Drs. I Wayan Dasna, M.Si., M.Ed., Ph.D</td>
    </tr>
    <tr>
        <th>Telp Kantor/HP</th>
        <td>0341 587582 / 081 233 69325</td>
    </tr>
    <tr>
        <th>E-mail</th>
        <td><a href="mailto:idasna@um.ac.id">idasna@um.ac.id</a></td>
    </tr>
    <tr>
        <th>Akun Facebook</th>
        <td>wdasna@gmail.com</td>
    </tr>
    <tr>
        <th>Alamat Kantor</th>
        <td>Jl. Semarang 5 Malang-Jawa Timur</td>
    </tr>
    <tr>
        <th>Bidang Keahlian</th>
        <td>Kimia dan Pembelajaran Sains</td>
    </tr>
</table>

<ul>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pekerjaan/Profesi:</b>
        </div>
        <ol>
            <li>1988–Sekarang: Dosen Jurusan Kimia FMIPA Universitas Negeri Malang.</li>
            <li>2008–2012: Kepala Pusat Pengembangan Kurikulum, Pembelajaran dan Evaluasi, LP3, Universitas Negeri Malang.</li>
        </ol>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pendidikan Tinggi dan Tahun Belajar:</b>
        </div>
        <ol>
            <li>S3: Chimie Inorganique–Universite de Rennes 1–Rennes France (1998 - 2001).</li>
            <li>S2: Science Education–University of Houston – Texas USA (1995 – 1996).</li>
            <li>S2: Kimia-–ITB Bandung (1990 – 1993).</li>
            <li>S1: Pendidikan Kimia–IKIP MALANG (1983 -1988).</li>
        </ol>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Judul Buku dan Tahun Terbit:</b>
        </div>
        <ol>
            <li>Inovasi Pembelajaran (2015).</li>
            <li>Buku Siswa dan Buku Guru Ilmu Pengetahuan Alam Kelas IX (2015).</li>
            <li>Penelitian Tindakan Kelas (2012).</li>
        </ol>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Judul Penelitian dan Tahun Terbit:</b>
        </div>
        <ol>
            <li>Peningkatan kualitas hasil dan proses belajar matakuliah Kimia anorganik I dengan model pembelajaran Jigsaw termodifikasi
            (2011).</li>
            <li>Pengembangan bahan ajar IPA terpadu untuk meningkatkan kemampuan berpikir tingkat tinggi siswa SMP (2010).</li>
            <li>Penggunaan Model Siklus Belajar-Group Investigation untuk Meningkatkan Kompetesi Siswa Dalam Mempelajari Kimia di SMA Laboratorium
            Malang (2008).</li>
            <li>Penggunaan model pembelajaran learning cycle-peta konsep untuk Meningkatkan kualitas proses dan hasil belajar kimia Siswa
            SMAN 1 Tumpang (2007).</li>
            <li>Dampak instruksional penggunaan model Siklus Belajar Tipe Hipotetikal- Abduktif terhadap kemampuan berpikir kritis dan hasil
            belajar kimia siswa SMA (2007).</li>
            <li>Penggunaan model pembelajaran learning cycle-cooperatif learning untuk Meningkatkan kualitas proses dan hasil belajar kimia
            Siswa SMAN 1 Tumpang (2006).</li>
        </ol>
    </li>
</ul>