<ul>
    <li>
        <div class="mb-3 mt-3">
            <b>Informasi Lain:</b>
        </div>
        <p class="no-indent">
            I Wayan Dasna, lahir di Desa Abiansemal-Badung Bali tahun 1963. Menikah dan dikarunia 1 orang putra. Saat ini menetap di
            Kota Malang sebagai pengajar di Jurusan Kimia dan pascasarjana Universitas Negeri Malang (UM). Dalam banyak kegiatan terlibat
            sebagai narasumber dalam workshop peningkatan kualitas guru (Pengembangan Karier berkelanjutan) sebagai instruktur. Materi
            yang dikembangkan sesuai kompetensinya dalam bidang Kimia dan pembelajarannya yaitu: pengembangan bahan ajar, penelitian
            tindakan kelas, pemilihan strategi pembelajaran aktif yang mendorong kemampuan berpikir siswa. Sampai saat ini masih aktif
            melakukan penelitian-penelitian dalam bidang pembelajaran dan kimia anorganik.
        </p>
    </li>
</ul>

<h6 class="mt-4 mb-4">Penulis 5</h6>

<table class="table table-bordered">
    <tr>
        <th>Nama Lengkap</th>
        <td>Ardian Anjar Pangestuti, S.Pd., M.Pd.</td>
    </tr>
    <tr>
        <th>Telp Kantor/HP</th>
        <td>085730081716</td>
    </tr>
    <tr>
        <th>E-mail</th>
        <td><a href="mailto:d_an_mgt@yahoo.com">d_an_mgt@yahoo.com</a></td>
    </tr>
    <tr>
        <th>Akun Facebook</th>
        <td>Ardian Anjar Pangestuti</td>
    </tr>
    <tr>
        <th>Alamat Kantor</th>
        <td>Jl. Citandui No. 46 Malang</td>
    </tr>
    <tr>
        <th>Bidang Keahlian</th>
        <td>Pendidikan Biologi</td>
    </tr>
</table>

<ul>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pekerjaan/Profesi:</b>
        </div>
        <ol>
            <li>Dosen IKIP Budi Utomo Malang (2015-sekarang).</li>
            <li>Guru SMP Ar-Rahmah “Boarding School” Dau, Malang (2012-2014).</li>
        </ol>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pendidikan Tinggi dan Tahun Belajar:</b>
        </div>
        <ol>
            <li>S2: Pendidikan Bologi-Universitas Negeri Malang (2012-2014).</li>
            <li>S1: Pendidikan Biologi-Universitas Negeri Malang (2007-2011)</li>
        </ol>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Judul Buku dan Tahun Terbit:</b>
        </div>
        <p class="no-indent">Buku Siswa dan Buku Guru IPA Kelas IX (2015).</p>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Judul Penelitian dan Tahun Terbit:</b>
        </div>
        <ol>
            <li>Penerapan Model Pembelajaran Biologi berbasis Reading-Concept Map- Teams Games Tournaments untuk Meningkatkan Minat Baca,
            Kemampuan Berpikir Kritis, Metakognitif dan Hasil Belajar Kognitif Siswa Kelas X IPA 4 SMA Laboratorium UM (2014).</li>
            <li>Pengaruh Ukuran Butir terhadap Sifat dielektrik Pasir Gali dari Srono Kabupaten Banyuwangi (2011).</li>
            <li>Penerapan Paduan Metode Numbered Heads Together dan Student Teams Achievement Divisions untuk Meningkatkan Kemampuan Berpikir
            Kritis dan Hasil Belajar Kognitif Siswa Kelas VIII A SMP Negeri 13 Malang (2011).</li>
        </ol>
    </li>
</ul>