<h6 class="mt-4 mb-4">Penulis 6</h6>

<table class="table table-bordered">
    <tr>
        <th>Nama Lengkap</th>
        <td>Dyne Rizki Puspitasari</td>
    </tr>
    <tr>
        <th>Telp Kantor/HP</th>
        <td>-</td>
    </tr>
    <tr>
        <th>E-mail</th>
        <td><a href="mailto:dyne_pasundan@yahoo.com">dyne_pasundan@yahoo.com</a></td>
    </tr>
    <tr>
        <th>Akun Facebook</th>
        <td>-</td>
    </tr>
    <tr>
        <th>Alamat Kantor</th>
        <td>Jl. Simpang Bogor T7</td>
    </tr>
    <tr>
        <th>Bidang Keahlian</th>
        <td>Pendidikan Fisika</td>
    </tr>
</table>

<ul>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pekerjaan/Profesi:</b>
        </div>
        <ol>
            <li>Guru Fisika di SMAN 1 Malang (2011-2012).</li>
            <li>Guru IPA di SMP Laboratorium UM (2011-sekarang).</li>
        </ol>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pendidikan Tinggi dan Tahun Belajar:</b>
        </div>
        <ol>
            <li>S2: Pendidikan Fisika-Universitas Negeri Malang (2012–2014)</li>
            <li>S1: Pendidikan Fisika-Universitas Negeri Malang (2007–2011)</li>
        </ol>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Judul Buku dan Tahun Terbit:</b>
        </div>
        <p class="no-indent">Buku Siswa dan Buku Guru IPA Kelas IX (2015)</p>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Judul Penelitian dan Tahun Terbit:</b>
        </div>
        <ol>
            <li>Penerapan authentic assessment dengan feedback untuk meningkatkan keterampilan proses sains siswa pada pembelajaran IPA kelas
            8 di SMP Lab UM (2015)</li>
            <li>Pola keterampilan berpikir dan penguasaan konsep siswa pada strategi pembelajaran metakognisi berbantuan thinking map (2014)</li>
            <li>Peningkatan kemampuan berpikir siswa melalui pembelajaran berbasis inkuiri dengan model pencapaian konsep di kelas VIIA SMP
            Negeri 4 Malang (2011)</li>
        </ol>
    </li>
</ul>

<h6 class="mt-4 mb-4">Penulis 7</h6>

<table class="table table-bordered">
    <tr>
        <th>Nama Lengkap</th>
        <td>Hamim Thohari Mahfudhillah</td>
    </tr>
    <tr>
        <th>Telp Kantor/HP</th>
        <td>085646738422</td>
    </tr>
    <tr>
        <th>E-mail</th>
        <td><a href="mailto:hamimtm@gmail.com">hamimtm@gmail.com</a></td>
    </tr>
    <tr>
        <th>Akun Facebook</th>
        <td>www.facebook.com/hamim.vls</td>
    </tr>
    <tr>
        <th>Alamat Kantor</th>
        <td>-</td>
    </tr>
    <tr>
        <th>Bidang Keahlian</th>
        <td>Pendidikan Biologi</td>
    </tr>
</table>

<ul>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pekerjaan/Profesi:</b>
        </div>
        <ol>
            <li>Tentor Biologi di BMB Air-Langga (2013-2015)</li>
            <li>Guru Biologi SMAN 1 Kepanjen (2013)</li>
            <li>Guru Biologi SMA Islam Kepanjen (2015)</li>
        </ol>
    </li>
</ul>