<ul>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pendidikan Tinggi dan Tahun Belajar:</b>
        </div>
        <ol>
            <li>S2: Pendidikan Biologi-Universitas Negeri Malang (2014–2017).</li>
            <li>S1: Pendidikan Biologi-Universitas Negeri Malang (2010–2014).</li>
        </ol>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Judul Buku dan Tahun Terbit:</b>
        </div>
        <ol>
            <li>Pedoman Pengembangan Model Kampung Organik (2016).</li>
            <li>Buku Siswa dan Buku Guru IPA Kelas IX (2015).</li>
            <li>Pengelolaan Sampah Berbasis 6M Modul Pendukung untuk Sekolah Adiwiyata (2013).</li>
        </ol>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Judul Buku dan Tahun Terbit:</b>
        </div>
        <ol>
            <li>Pedoman Pengembangan Model Kampung Organik (2016).</li>
            <li>Buku Siswa dan Buku Guru IPA Kelas IX (2015).</li>
            <li>Pengelolaan Sampah Berbasis 6M Modul Pendukung untuk Sekolah Adiwiyata (2013).</li>
        </ol>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Judul Penelitian dan Tahun Terbit:</b>
        </div>
        <ol>
            <li>Pengembangan modul Program Kawasan Rumah Pangan Lestari (KRPL) berbasis projek dan pengaruhnya terhadap sikap peduli lingkungan,
            keterampilan memecahkan masalah, dan keterampilan berkolaborasi siswa SMAN 1 Kepanjen (2016).</li>
            <li>Pengembangan modul sebagai solusi mengoptimalkan Program Kawasan Rumah Pangan Lestari, meningkatkan sikap peduli lingkungan,
            dan keterampilan memecahkan masalah siswa (2016).</li>
            <li>Implementasi model pembelajaran remap coople teams games tournament pada matakuliah pengantar pendidikan untuk meningkatkan
            kemampuan kognitif, motivasi, dan keterampilan komunikasi mahasiswa s1 pendidikan biologi (2015).</li>
            <li>Pengembangan media genetic box pada materi genetika kelas XII (2014).</li>
        </ol>
    </li>
</ul>

<h6 class="mt-4 mb-4">Penulis 8</h6>

<table class="table table-bordered">
    <tr>
        <th>Nama Lengkap</th>
        <td>Alifa Robitah</td>
    </tr>
    <tr>
        <th>Telp Kantor/HP</th>
        <td>085736017813</td>
    </tr>
    <tr>
        <th>E-mail</th>
        <td><a href="mailto:alifarobitah@gmail.com">alifarobitah@gmail.com</a></td>
    </tr>
    <tr>
        <th>Akun Facebook</th>
        <td>Alifa Robitah</td>
    </tr>
    <tr>
        <th>Alamat Kantor</th>
        <td>Jl. Argopuro Gg.VII Situbondo</td>
    </tr>
    <tr>
        <th>Bidang Keahlian</th>
        <td>Pendidikan Biologi</td>
    </tr>
</table>

<ul>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pekerjaan/Profesi:</b>
        </div>
        <ol>
            <li>Dosen STKIP PGRI Situbondo (2015-sekarang)</li>
            <li>Guru SMA Ar-Rahmah “Boarding School” Dau, Malang (2011-2014).</li>
        </ol>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pendidikan Tinggi dan Tahun Belajar:</b>
        </div>
        <ol>
            <li>S2: Pendidikan Bologi-Universitas Negeri Malang (2012-2014).</li>
            <li>S1: Pendidikan Biologi-Universitas Negeri Malang (2007-2011).</li>
        </ol>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Judul Buku dan Tahun Terbit:</b>
        </div>
        <p class="no-indent">Buku Siswa dan Buku Guru IPA Kelas IX (2015)</p>
    </li>
</ul>