<ul>
    <li>
        <div class="mb-3 mt-3">
            <b>Judul Penelitian dan Tahun Terbit:</b>
        </div>
        <ol>
            <li>Pengaruh Model Pembelajaran Biologi berbasis Inkuiri dan Creative Problem Solving (CPS) terhadap Kemampuan Berpikir Kreatif,
            Keterampilan Proses Ilmiah dan Hasil Belajar Kognitif Siswa Kelas X (2014).</li>
            <li>Pengembangan Perangkat Penilaian Kinerja Laboratorium (Laboratory Performance Assesment) Matapelajaran Biologi Kelas VIII
            SMP Negeri 13 Malang (2011).</li>
        </ol>
    </li>
</ul>

<h6 class="mt-4 mb-4">Penulis 9</h6>

<table class="table table-bordered">
    <tr>
        <th>Nama Lengkap</th>
        <td>Zenia Lutfi Kurniawati</td>
    </tr>
    <tr>
        <th>Telp Kantor/HP</th>
        <td>081217708485/085785757183</td>
    </tr>
    <tr>
        <th>E-mail</th>
        <td><a href="mailto:zeniakurniawati2211@gmail.com">zeniakurniawati2211@gmail.com</a></td>
    </tr>
    <tr>
        <th>Akun Facebook</th>
        <td>Jeje Zenia</td>
    </tr>
    <tr>
        <th>Alamat Kantor</th>
        <td>-</td>
    </tr>
    <tr>
        <th>Bidang Keahlian</th>
        <td>Pendidikan Biologi</td>
    </tr>
</table>

<ul>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pendidikan Tinggi dan Tahun Belajar:</b>
        </div>
        <ol>
            <li>S2: Pendidikan Biologi-Universitas Negeri Malang (2014-2016).</li>
            <li>S1: Pendidikan Biologi-Universitas Negeri Malang (2009-2013).</li>
        </ol>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Judul Buku dan Tahun Terbit:</b>
        </div>
        <p class="no-indent">Buku Siswa dan Buku Guru IPA Kelas IX (2015).</p>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pendidikan Tinggi dan Tahun Belajar:</b>
        </div>
        <p class="no-indent">Pengembangan Media “Nefron” pada Materi Sistem Ekskresi sebagai Media Pembelajaran Kelas XI SMA (2013).</p>
    </li>
</ul>

<h6 class="mt-4 mb-4">Penulis 10</h6>

<table class="table table-bordered">
    <tr>
        <th>Nama Lengkap</th>
        <td>Fatia Rosyida, M.Pd</td>
    </tr>
    <tr>
        <th>Telp Kantor/HP</th>
        <td>0356329121/085730710364</td>
    </tr>
    <tr>
        <th>E-mail</th>
        <td><a href="mailto:fatiarosyida9392@gmail.com">fatiarosyida9392@gmail.com</a></td>
    </tr>
    <tr>
        <th>Alamat Kantor</th>
        <td>Jl. Mondokan No 1 Tuban</td>
    </tr>
    <tr>
        <th>Bidang Keahlian</th>
        <td>Pendidikan Biologi</td>
    </tr>
</table>

<ul>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pekerjaan/Profesi:</b>
        </div>
        <p class="no-indent">Guru di SMAN 4 Tuban (2017-sekarang)</p>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pendidikan Tinggi dan Tahun Belajar:</b>
        </div>
        <ol>
            <li>S2: Pendidikan Bologi-Universitas Negeri Malang (2014-2016).</li>
            <li>S1: Pendidikan Biologi-Universitas Negeri Malang (2010-2014).</li>
        </ol>
    </li>
</ul>