<ul>
    <li>
        <div class="mb-3 mt-3">
            <b>Judul Penelitian dan Tahun Terbit:</b>
        </div>
        <ol>
            <li>Pengaruh Pembelajaran Biologi Berbasis Reading Concept Map-Timed Pair Share dan Kemampuan Akademik Berbeda terhadap Keterampilan
            Metakognitif, Keterampilan Berpikir Kritis, dan Hasil Belajar Kognitif Siswa Kelas X MIA SMA Negeri Batu (2016).</li>
            <li>Keterampilan Metakognitif dan Hasil Belajar Kognitif Siswa dengan Pembelajaran Reading Concept Map-Timed Pair Share (Remap-TmPS)
            (2016).</li>
            <li>Memberdayakan Keterampilan Berpikir Kritis dengan Model Pembelajaran Reading Concept Map-Timed Pair Share (Remap-TmPS) (2016).</li>
            <li>Kemampuan Bertanya dan Berpendapat Siswa SMA Negeri Batu Pada Mata Pelajaran Biologi (2015).</li>
            <li>Pengaruh Pembelajaran Search Solve Create and Share (SSCS) terhadap Motivasi, Hasil Belajar, dan Retensi Siswa Kelas X SMA
            (2014).</li>
        </ol>
    </li>
</ul>

<h6 class="mt-4 mb-4">Penulis 11</h6>

<table class="table table-bordered">
    <tr>
        <th>Nama Lengkap</th>
        <td>Mar’atus Sholihah, S.Pd, M.Pd</td>
    </tr>
    <tr>
        <th>Telp Kantor/HP</th>
        <td>0342-441597/085755473825</td>
    </tr>
    <tr>
        <th>E-mail</th>
        <td><a href="mailto:maratussholihah11292@gmail.com">maratussholihah11292@gmail.com</a></td>
    </tr>
    <tr>
        <th>Alamat Kantor</th>
        <td>Jl. Nyiur Bcem Sutojayan Blitar</td>
    </tr>
    <tr>
        <th>Bidang Keahlian</th>
        <td>Pendidikan Biologi</td>
    </tr>
</table>

<ul>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pekerjaan/Profesi:</b>
        </div>
        <p class="no-indent">Guru di MTs-MA Sirojut Tholibin Bacem Sutojayan Blitar (2016-sekarang)</p>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pendidikan Tinggi dan Tahun Belajar:</b>
        </div>
        <ol>
            <li>S2: Pendidikan Bologi-Universitas Negeri Malang (2014-2016).</li>
            <li>S1: Pendidikan Biologi-Universitas Negeri Malang (2010-2014).</li>
        </ol>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Judul Penelitian dan Tahun Terbit:</b>
        </div>
        <ol>
            <li>Pengaruh Model Pembelajaran Biologi Berbasis Reading Concept Map Reciprocal Teaching terhadap Keterampilan Metakognitif,
            Keterampilan Berpikir Kritis, dan Hasil Belajar Kognitif Siswa Kelas X di SMA Negeri Kota Batu (2016)</li>
            <li>Memberdayakan Keterampilan Metakognitif dan Hasil Belajar Kognitif Siswa dengan Model Pembelajaran Reading Concept Map Reciprocal
            Teaching (Remap RT) (2016).</li>
            <li>Reading Concept Map Reciprocal Teaching (Remap RT) untuk Meningkatkan Keterampilan Berpikir Kritis Siswa (2016).</li>
            <li>Keterampilan Metakognitif Siswa SMA Negeri Batu pada Mata Pelajaran Biologi (2015). 5. Penerapan Mod</li>
            <li>Penerapan Model Pembelajaran Quantum Teaching dipadu dengan Mind Mapping untuk Meningkatkan Motivasi dan Hasil Belajar Siswa
            Kelas XI IPA di SMAN 8 Malang (2014).</li>
        </ol>
    </li>
</ul>
