<div class="box">
    <center>
        <h3>Ayo, Kita Lakukan</h3>
        <h6>Aktivitas 1.1 Percobaan Gerak Lurus (GLB)</h6>
    </center>
    <p>
        <b>Apa yang kamu perlukan? Mobil mainan Mistar Ticker timer Pita kertas</b>
        <ol>
            <li>Mobil mainan</li>
            <li>Mistar</li>
            <li>Ticker timer</li>
            <li>Pita kertas</li>
        </ol>
    </p>

    <p>
        <b>Apa yang harus kamu lakukan?</b>
        <ol>
            <li>Rangkailah peralatan seperti pada Gambar 1.1!</li>
            <li>Operasikan ticker timer!</li>
            <li>Nyalakan mesin mobil mainan kemudian lepaskan hingga menarik pita!</li>
            <li>Ukurlah jarak antartitik yang terbentuk kemudian catat data tersebut pada tabel pengamatan yang kamu buat!</li>
        </ol>
    </p>
    <p>
        <b>Apa yang perlu kamu diskusikan</b>
        <ol>
            <li>Pada percobaan yang kamu lakukan, bagaimana prinsip kerja rangkaian percobaan tersebut? Apa fungsi ticker timer dalam percobaan tentang GLB tersebut?</li>
            <li>Buatlah grafik hubungan antara jarak (sebagai sumbu-y) dengan waktu (sebagai sumbu-x)!</li>
            <li>Buatlah grafik hubungan antara kecepatan (sebagai sumbu-y)dengan waktu (sebagai sumbu-x)!</li>
            <li>Berdasarkan grafik yang telah kamu buat, a) bagaimanakah hubungan antara jarak dan waktu? b) bagaimana hubungan antara kecepatan gerak mobil dengan waktu?</li>
        </ol>
    </p>
    <p><b>Apa yang dapat kamu simpulkan?</b></p>
    <p>Berdasarkan percobaan dan diskusi yang telah kamu lakukan, apa yang dapat kamu simpulkan?</p>
</div>

<button class="btn btn-success btn-simulation" data-url="content/simulations/game1"><span class="fa fa-gamepad"></span>&nbsp;&nbsp;Mainkan Simulasi</button>