<h5><span>a.</span>Sendi Peluru</h5>

<div class="row">
    <div class="col">
        <p>
            Sendi peluru menghubungkan
            antara satu tulang yang mempunyai
            satu ujung bulat yang masuk ke
            ujung tulang lain yang berongga
            seperti mangkok. Sendi ini dapat
            membentuk gerakan sangat bebas.
            Contoh sendi peluru adalah sendi
            antara tulang lengan atas dan tulang
            belikat, serta antara tulang pinggul
            dan tulang paha. Adanya sendi
            ini memungkinkan tulang-tulang
            tersebut dapat diayunkan ke arah
            manapun. Perhatikan Gambar 1.26!
        </p>
    </div>
    <div class="col">
        <div class="text-center">
            <a data-fancybox="gallery" href="content/img/page30/1.png"><img style="width:65%;" class="mb-3" src="content/img/page30/1.png"></a>
            <div>
                <small>Sumber: Reece et al. 2012<br/><b>Gambar 1.26</b> Sendi Peluru</small>
            </div>
        </div>
    </div>
</div>

<div class="box">
    <center>
        <h3>Tahukah kamu?</h3>
    </center>
    <div class="row">
        <div class="col">
            <p>
                Pertemuan antara dua tulang
                diikat oleh ligamen sehingga
                sendi tidak dapat terlepas. Selain
                itu, ligamen juga berfungsi agar sendi kita dapat bergerak dengan
                fleksibel. Ligamen adalah jaringan yang berbentuk pita dan tersusun dari serabut-serabut liat yang mengikat tulang yang satu dengan tulang yang lain pada sendi.
                Perhatikan Gambar 1.27!
            </p>
        </div>
        <div class="col">
            <div class="text-center">
                <a data-fancybox="gallery" href="content/img/page30/2.png"><img style="width:60%;" class="mb-3" src="content/img/page30/2.png"></a>
                <div>
                    <small>Sumber: Berwald Et al 2007<br/><b>Gambar 1.27</b> Komponen Penyusun Sendi Diartrosis</small>
                </div>
            </div>
        </div>
    </div>
    <p class="mt-3">
        Pada sendi diartrosis, bagian
        ujung tulang penyusun sendi
        dilapisi oleh kartilago. Fungsi kartilago ini adalah menjaga agar idak terjadi benturan atau gesekan
        antara tulang yang satu dengan tulang yang lain yang menyusun
        persendian. Di dalam sendi tersebut juga terdapat cairan sinovial.
        Cairan ini berfungsi sebagai pelumas sendi.
    </p>
</div>