<h6 class="mt-4 mb-4">Penelaah 6</h6>

<table class="table table-bordered">
    <tr>
        <th>Nama Lengkap</th>
        <td>Ahmad Mudzakir</td>
    </tr>
    <tr>
        <th>Telp Kantor/HP</th>
        <td>Universitas Pendidikan Indonesia</td>
    </tr>
    <tr>
        <th>Bidang Keahlian</th>
        <td>Kimia</td>
    </tr>
    <tr>
        <th>Telp Kantor</th>
        <td>022-2000579/ 085221068479</td>
    </tr>
    <tr>
        <th>E-mail</th>
        <td>
            <a href="mailto:zakir66@upi.edu">zakir66@upi.edu</a>
        </td>
    </tr>
    <tr>
        <th>Alamat Kantor</th>
        <td>Jl. Setiabudhi No. 229, Kec. Sukasari, Kota Bandung</td>
    </tr>
</table>

<ul>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pendidikan Tinggi dan Tahun Belajar:</b>
        </div>
        <ol>
            <li>S3: Otto-von-Guericke Universität Magdeburg Germany Dr. 2004</li>
            <li>S2: Universitas Gadjah Mada Jogyakarta M.Si. 1997</li>
            <li>S1: IKIP Bandung S.Pd.</li>
        </ol>
    </li>
</ul>

<h6 class="mt-4 mb-4">Editor</h6>

<table class="table table-bordered">
    <tr>
        <th>Nama Lengkap</th>
        <td>Renni Diastuti, M.Si</td>
    </tr>
    <tr>
        <th>Telp Kantor/HP</th>
        <td>3804228/081399423047</td>
    </tr>
    <tr>
        <th>Bidang Keahlian</th>
        <td>Biologi</td>
    </tr>
    <tr>
        <th>E-mail</th>
        <td>
            <a href="mailto:rennie_dt@yahoo.com">rennie_dt@yahoo.com</a>
        </td>
    </tr>
    <tr>
        <th>Alamat Kantor</th>
        <td>: Jl. Gunung Sahari Raya No. 4</td>
    </tr>
</table>

<ul>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pekerjaan/Profesi</b>
        </div>
        <ol>
            <li>2006 - 2011 : Staf Bidang Pendidikan Khusus, Pusat Kurikulum, Balitbang, Kemdikbud</li>
            <li>2011- 2015 : Staf Bidang Kurikulum dan Perbukuan Pendidikan Dasar di Pusat Kurikulum dan Perbukuan, Balitbang, Kemdikbud</li>
            <li>2016 - sekarang: Staf Bidang Kurikulum di Pusat Kurikulum dan Perbukuan, Balitbang, Kemdikbud</li>
        </ol>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pendidikan Tinggi dan Tahun Belajar:</b>
        </div>
        <ol>
            <li>S2: Pascasarjana/Ilmu Lingkungan, Universitas Indonesia (2004 -2007)</li>
            <li>S1: FMIPA1995) /Biologi/Mikrobiologi/IPB (1988-1995)</li>
        </ol>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Judul Buku yang Pernah Diedit (10 Tahun Terakhir):</b>
        </div>
        <ol>
            <li>Ilmu Pengetahuan Alam Buku Siswa Kelas VII, Cetakan Ke-1, 2013</li>
            <li>Ilmu Pengetahuan Alam Buku Guru Kelas VII, Cetakan Ke-1, 2013</li>
            <li>Ilmu Pengetahuan Alam Buku Siswa Kelas VIII, Cetakan Ke-1, 2014</li>
            <li>Ilmu Pengetahuan Alam Buku Guru Kelas VIII, Cetakan Ke-1, 2014</li>
            <li>Ilmu Pengetahuan Alam Buku Siswa Kelas IX, Cetakan Ke-1, 2015</li>
            <li>Ilmu Pengetahuan Alam Buku Siswa Kelas IX, Cetakan Ke-1, 2015</li>
            <li>Ilmu Pengetahuan Alam Buku Guru Kelas IX, Cetakan Ke-1, 2015</li>
        </ol>
    </li>
</ul>