<h5><span>b.</span> Sendi Engsel</h5>
<div class="row">
    <div class="col">
        <p>
            Tipe sendi ini mempunyai gerakan satu arah, ada yang ke depan dan ada yang ke belakang
            seperti engsel pintu. Contoh sendi
            engsel antara lain sendi-sendi pada
            siku dan lutut. Perhatikan Gambar
            1.28! Sendi ini memiliki ruang gerak yang lebih sempit dibandingkan sendi peluru.
        </p>
    </div>
    <div class="col">
        
        <div class="mb-4 text-center">
            <a data-fancybox="gallery" href="content/img/page31/1.png"><img style="width:80%;" src="content/img/page31/1.png"></a>
            <div>
                <small>Sumber: Reece et al. 2012
                <br/>
                <b>Gambar 1.28</b> Sendi Engsel</small>
            </div>
        </div>
        
    </div>
</div>
<h5><span>c.</span> Sendi Putar</h5>
<div class="row">
    <div class="col">
        <p>
            Pertemuan antara dua tulang
            yang berbentuk seperti pelana
            disebut dengan sendi pelana. Sendi
            ini dapat menggerakkan tulang
            ke dua arah, yaitu muka-belakang dan ke samping. Contoh sendi ini adalah pada pangkal ibu jarimu. Perhatikan Gambar 1.30!
        </p>
    </div>
    <div class="col">
        
        <div class="mb-4 text-center">
            <a data-fancybox="gallery" href="content/img/page31/2.png"><img style="width:80%;" src="content/img/page31/2.png"></a>
            <div>
                <small>Sumber: Reece et al. 2012
                    <br/>
                    <b>Gambar 1.29</b> Sendi Putar</small>
            </div>
        </div>
        
    </div>
</div>
<h5><span>d.</span> Sendi Pelana</h5>
<div class="row">
    <div class="col">
        <p>
            Sendi geser menghubungkan antara dua tulang yang memiliki
            permukaan yang datar. Prinsip kerja sendi ini adalah satu bagian tulang
            bergerak menggeser di atas tulang lain. Perhatikan Gambar 1.31! Sendi
        </p>
    </div>
    <div class="col">
        
        <div class="mb-4 text-center">
            <a data-fancybox="gallery" href="content/img/page31/3.png"><img style="width:70%;" src="content/img/page31/3.png"></a>
            <div>
                <small>Sumber: Reece et al. 2012
                    <br/>
                    <b>Gambar 1.28</b> Sendi Pelana</small>
            </div>
        </div>
        
    </div>
</div>
<h5><span>e.</span> Sendi Geser</h5>
<p>
    Sendi geser menghubungkan antara dua tulang yang memiliki
    permukaan yang datar. Prinsip kerja sendi ini adalah satu bagian tulang
    bergerak menggeser di atas tulang lain. Perhatikan Gambar 1.31! Sendi
</p>