<div class="row">
    <div class="col">
        <p class="no-indent">
            geser juga memungkinkan tulang
            bergerak ke depan dan ke belakang.
            Contoh sendi geser berada pada
            tulang-tulang pergelangan tangan
            dan pergelangan kaki dan di antara
            tulang belakang. Sendi ini merupakan
            sendi yang paling sering digunakan
        </p>
    </div>
    <div class="col">
        <div class="row">
            <a data-fancybox="gallery" href="content/img/page32/1.png"><img style="width:65%;" class="mb-3" src="content/img/page32/1.png"></a>
            <div><small>Sumber: Reece et al. 2012<br/>
            <b>Gambar 1.31</b> Sendi Geser</small></div>
        </div>
    </div>
</div>
<div class="box">
    <center>
        <h3>Ayo, Kita Lakukan</h3>
        <h6>Aktivitas 1.4 Mengidentifikasi Sendi-sendi yang Bekerja pada Aktivitas Sehari-hari</h6>
    </center>
    
    <p><b>Apa yang harus kamu lakukan?</b></p>
    <ol>
        <li>
            Mintalah salah satu anggota kelompokmu untuk melakukan
            beberapa aktivitas di bawah ini!
            <ol type="a">
                <li>Menggelengkan serta menganggukkan kepala.</li>
                <li>Memutar pergelangan tangan.</li>
                <li>Memegang pensil dan menulis.</li>
                <li>Berlari.</li>
                <li>Meluruskan tangan lalu membengkokkan tangan ke atas.</li>
            </ol>
        </li>
        <li>
            Bersama dengan teman satu kelompokmu, identifikasilah
            sendi-sendi yang berperan dalam setiap aktivitas tersebut!
            Dalam menyelesaikan tugas ini berbagilah tugas dengan teman
            satu kelompokmu. Selain itu, perhatikan setiap gerakan yang
            dilakukan oleh temanmu dengan cermat agar kamu dapat
            mengidentifikasi sendi-sendi yang bekerja pada setiap aktivitas
            dengan tepat. Tuliskan hasilnya pada Tabel 1.7.
            <div class="text-center mt-3">
                <small>Sumber: Dok. Kemdikbud<br/>
                <b>Tabel 1.7</b> Sendi yang Bekerja pada Aktivitas Sehari-hari</small>
                <img style="width:90%;" class="mb-3" src="content/img/page32/2.png">
            </div>
        </li>
    </ol>
</div>