<h4><span>3</span> Otot</h4>
<p>
    Sebelumnya kamu telah mempelajari tentang struktur dan macam-
    macam tulang penyusun rangka manusia. Coba sekarang kamu
    pikirkan, apakah tulang-tulang penyusun rangka tubuh manusia dapat
    digerakkan tanpa adanya bagian lainnya? Agar kamu dapat menjawab
    pertanyaan tersebut simaklah pembahasan berikut ini!
</p>
<h5><span>a.</span> Fungsi Otot</h5>
<p>
    Tanpa otot, tulang dan sendi yang terdapat di tubuhmu tidak
    memiliki kekuatan untuk bergerak. Otot adalah penggerak bagian-
    bagian tubuh, sehingga otot disebut alat gerak aktif. Hampir 35 hingga
    40 persen massa tubuh adalah jaringan otot seperti yang ditunjukkan
    pada Gambar 1.32. Cobalah perhatikan, setiap saat selalu ada gerakan
    yang terjadi di tubuhmu, gerakan tersebut terjadi karena adanya kerja
    dari otot. Otot adalah jaringan yang dapat berkontraksi menjadi lebih
    pendek. Proses kontraksi ini mengakibatkan bagian-bagian tubuhmu
    bergerak. Pada kontraksi ini diperlukan energi. 
    <div class="mb-4 text-center">
        <a data-fancybox="gallery" href="content/img/page33/1.png"><img style="width:60%;" src="content/img/page33/1.png"></a>
        <div>
            <small>Sumber: Marieb et al. 2012
            <br/>
            <b>Gambar 1.32</b> Otot pada Manusia</small>
        </div>
    </div>
</p>