<div class="box">
    <center>
        <h3>Ayo, Kita Lakukan</h3>
        <h6>Aktivitas 1.5 Mengamati Diameter Otot</h6>
    </center>

    <p><b>Apa yang harus kamu perlukan?</b></p>
    <ol>
        <li>
            Meteran (yang biasa digunakan oleh penjahit), jika kamu tidak
            memilikinya, boleh menggunakan tali rafia, tali pita, atau benang
            dengan panjang 50 cm
        </li>
        <li>Alat tulis</li>
        <li>Buku tulis</li>
    </ol>
    <p><b>Apa yang harus kamu lakukan?</b></p>
    <ol>
        <li>Duduklah bersama dengan teman satu kelompokmu!</li>
        <li>
            Luruskan tanganmu di atas meja dengan santai! Mintalah
            temanmu melingkarkan pita meteran pada lengan atasmu untuk
            mengukur besarnya lengan atasmu!
        </li>
        <li>
            Catatlah hasilnya pada tabel! Lakukan pengukuran dengan
            cermat dan teliti agar kamu memperoleh hasil yang tepat.
        </li>
        <li>
            Kepalkan tanganmu selanjutnya bengkokkan tanganmu ke atas!
            Ukurlah kembali besar lengan atasmu! Lakukan pengukuran
            di tempat yang sama dengan langkah 2. Catatlah hasilnya pada
            tabel! Lakukan pengukuran dengan cermat dan teliti agar kamu
            memperoleh hasil yang tepat.
        </li>
    </ol>
    <p>
        <b>Apa yang perlu kamu diskusikan?</b>
    </p>
    <ol>
        <li>Adakah perubahan diameter otot lengan atas saat diluruskan dan dibengkokkan? Jelaskan!</li>
        <li>
        Jika terjadi perubahan diameter, bagaimanakah perubahannya serta apakah yang sebenarnya terjadi pada ototmu?</li>
    </ol>
    <p>
        <b>Apa yang dapat kamu simpulkan?</b>
    </p>
    <p>
        Berdasarkan percobaan dan diskusi yang telah kamu lakukan, apa yang dapat kamu simpulkan? 
    </p>
</div>