<p>
Setelah melakukan Aktivitas 1.5 kamu dapat mengetahui bahwa
diameter otot lengan kamu dapat membesar dan mengecil ketika
meluruskan atau membengkokkan tangan. Diameter lengan kamu
membesar karena otot lengan kamu dalam keadaan kontraksi. Pada
saat melakukan kontraksi otot akan memadat dan memendek, sehingga
pada saat diukur diameter otot akan membesar. Sebaliknya, pada saat
otot dalam keadaan relaksasi, otot akan memanjang, sehingga pada
saat diukur diameter otot akan mengecil. Perhatikan Gambar 1.33!
</p>
<div class="mb-4 text-center">
    <a data-fancybox="gallery" href="content/img/page35/1.png"><img style="width:40%;" src="content/img/page35/1.png"></a>
    <a data-fancybox="gallery" href="content/img/page35/2.png"><img style="width:30%;" src="content/img/page35/2.png"></a>
    <div>
        <small>Sumber: Reece et al. 2012
        <br/>
        <b>Gambar 1.33</b> Kondisi Otot pada saat Berkontraksi dan Relaksasi</small>
    </div>
</div>
<div class="box">
    <center>
        <h3>Ayo, Kita Pikirkan!</h3>
    </center>
    <p>
        Percobaan yang telah kamu lakukan sebelumnya adalah salah
        satu kegiatan yang melibatkan otot yang bekerja di bawah kesadaran.
        Coba pikirkan gerakan apa yang dapat dilakukan oleh tubuhmu yang
        melibatkan otot tersebut!
    </p>
</div>
<p>
Otot yang bekerja di bawah kesadaran adalah otot yang kerjanya
dapat kamu kendalikan. Prinsip kerja otot ini adalah dapat dikendalikan,
artinya kamu dapat mengendalikan apakah harus menggerakkan atau
tidak menggerakkan otot-otot tersebut. Sebagai contohnya, kerja otot-
otot pada saat kamu makan, menulis, berlari serta aktivitas-aktivitas
lainnya yang kamu lakukan secara sadar. Selain otot yang bekerja di
bawah kesadaran, ada juga otot yang bekerja di luar kesadaran. Otot
yang bekerja di luar kesadaran adalah otot yang tidak dapat kamu
</p>