<p class="no-indent">
    kendalikan secara sadar. Prinsip kerja otot ini adalah tidak dapat
    dikendalikan, artinya kamu tidak dapat mengendalikan apakah harus
    menggerakkan atau tidak menggerakkan otot-otot tersebut. Otot-otot
    tersebut bekerja sepanjang hari, sepanjang hidup di luar kesadaran
    kamu. Contoh dari aktivitas otot ini antara lain aktivitas jantung untuk
    selalu memompa darah ke seluruh tubuh, aktivitas otot-otot lambung
    untuk mencerna makanan secara mekanik.
</p>
<p>
    Sekarang kamu telah mengetahui prinsip kerja dari otot.
    Kamu harus banyak bersyukur kepada Tuhan karena Tuhan telah
    menciptakan otot-otot tersebut sehingga seluruh aktivitas tubuh dapat
    bekerja terus tanpa harus kamu kendalikan. Bayangkan jika Tuhan
    tidak menciptakan otot-otot tersebut, maka kamu tidak akan dapat
    tidur dengan pulas karena kamu harus mengontrol otot jantung agar
    tetap dapat memompa darah ke seluruh tubuh selama kamu tidur.
</p>

<div class="box">
    <center>
        <h3>Ayo, Kita Lakukan</h3>
        <h6>Aktivitas 1.6 Mengamati Jaringan Otot</h6>
    </center>
    <p><b>Apa yang kamu perlukan?</b></p>
    <ol>
        <li>Preparat awetan otot jantung, otot rangka, dan otot polos</li>
        <li>Mikroskop</li>
        <li>
            Buku dan alat tulis
            Jika di sekolah kamu tidak tersedia preparat awetan otot jantung,
            otot rangka, otot polos, dan mikroskop mintalah kepada gurumu
            untuk menyediakan gambar otot jantung, otot rangka, dan otot
            polos.
        </li>
    </ol>
    <p>
        <b>Apa yang harus kamu lakukan?</b>
    </p>
    <ol>
        <li>
            Lakukan pengamatan pada preparat awetan atau gambar yang
            telah disediakan. Hal yang perlu kamu amati adalah bentuk sel
            dari masing-masing jenis otot. Lakukan kegiatan pengamatan
            ini dengan cermat dan teliti, agar kamu dapat mengidentifikasi
            perbedaan dari ketiga jenis otot ini.
        </li>
        <li>
            Gambarlah hasil pengamatanmu kemudian berikan keterangan
            pada bagian-bagian otot yang tampak.
        </li>
    </ol>
</div>