<div class="box">
    <p><b>Apa yang perlu kamu diskusikan?</b></p>
    <p>Sebutkan perbedaan dari ketiga jenis otot yang telah kamu amati!</p>
    <p>
        <b>Apa yang dapat kamu simpulkan?</b>
    </p>
    <p>Berdasarkan percobaan dan diskusi yang telah kamu lakukan, apa yang dapat kamu simpulkan?</p>
</div>
<h5><span>b.</span> Tiga Jenis Jaringan Otot</h5>
<p>
    Setelah kamu melakukan Aktivitas 1.6, kamu dapat mengetahui
    bahwa jaringan otot dapat dibedakan menjadi tiga jenis. Agar kamu
    mengetahuinya, simaklah penjelasan berikut ini!
</p>
<h5><span>1.</span> Otot Rangka</h5>
<p>
    Otot Rangka adalah otot yang paling banyak terdapat di dalam
    tubuh. Jika diamati di bawah mikroskop, sel-sel otot rangka terlihat
    bergaris-garis melintang, sehingga otot ini juga disebut dengan otot
    lurik. Otot rangka melekat pada tulang dengan perantaraan tendon.
    Tendon adalah pita tebal, berserabut, dan liat yang melekatkan otot
    pada tulang. Otot rangka tergolong otot sadar. Kamu dapat mengontrol
    penggunaan otot ini. Kamu dapat menentukan kapan berjalan dan
    kapan tidak. Otot rangka cenderung cepat berkontraksi dan cepat
    lelah. Agar kamu mengetahui posisi otot rangka yang melekat pada
    tendon, perhatikan Gambar 1.34!
</p>
<div class="mb-4 text-center">
    <a data-fancybox="gallery" href="content/img/page37/1.png"><img style="width:80%;" src="content/img/page37/1.png"></a>
    <div>
        <small>Sumber: Reece et al. 2012
        <br/>
        <b>Gambar 1.34</b> Tiga Jenis Otot pada Tubuh Manusia</small>
    </div>
</div>