<div class="mb-4 text-center">
    <a data-fancybox="gallery" href="content/img/page39/1.png"><img style="width:40%;" src="content/img/page39/1.png"></a>
    <a data-fancybox="gallery" href="content/img/page39/2.png"><img style="width:30%;" src="content/img/page39/2.png"></a>
    <div>
        <small>Sumber: Reece et al. 2012
        <br/>
        <b>Gambar 1.35</b> Mekanisme Kerja dari Otot Bisep dan Otot Trisep</small>
    </div>
</div>
<h4><span>4</span>Gangguan dan Kelainan pada Sistem Gerak</h4>
<p>
    Pernahkah kamu melihat orang yang memakai kursi roda? Salah
    satu penyebab orang memakai kursi roda karena orang tersebut
    mengalami fraktura (patah tulang) pada bagian kakinya sehingga
    orang tersebut tidak dapat berjalan dengan normal. Fraktura adalah
    salah satu jenis kelainan yang terjadi pada sistem gerak manusia. Mari
    kita pelajari beberapa gangguan dan kelainan yang sering terjadi pada
    sistem gerak berikut ini.
</p>
<h5><span>a.</span> Riketsia</h5>
<video class="mb-4 d-print-none" style="width:100%;" controls controlsList="nodownload">
    <source src="assets/videos/patah tulang.mp4" type="video/mp4">
</video>
<div class="row">
    <div class="col">
        <p>
            Riketsia terjadi karena kekurangan vitamin
            D yang membantu penyerapan kalsium dan
            fosfor sehingga proses pengerasan tulang
            terganggu. Penyakit ini terjadi pada anak-anak.
            Riketsia menyebabkan tulang kaki tumbuh
            membengkok seperti yang ditunjukkan pada
            Gambar 1.36. Penyembuhan dan pencegahan
            dari penyakit ini adalah dengan penambahan
            kalsium, fosfor, dan vitamin D ke dalam
            menu makan. Vitamin D dapat diperoleh dari makanan, suplemen, dan berjemur di panas matahari pagi.
        </p>
    </div>
    <div class="col">
        <div class="mb-4 text-center">
            <!--
            <a style="position:relative;" href="#" class="btn-play-video" data-video="patah tulang.mp4">
                <div style="position:absolute;top:20%;right:35%;">
                    <img src="assets/img/icons8-circled-play-64.png" alt="">
                </div>
                <img style="width:70%;" src="content/img/page39/3.png">
            </a>
            -->
            
            <img style="width:70%;" src="content/img/page39/3.png">
            
            <div>
                <small>Sumber: aleqt.com
                <br/>
                <b>Gambar 1.36</b> Kaki Penderita Riketsia jika Dilihat Menggunakan X-ray</small>
            </div>
        </div>
    </div>
</div>