<h4><span>1</span>Gerak Lurus</h4>

<div class="text-center">
    <video class="mt-3 mb-3 d-print-none" style="width:80%;" height="240" controls controlsList="nodownload">
        <source src="content/videos/video.ogv" type="video/ogg"> Your browser does not support the video tag.
    </video>
</div>

<p>Sebelum kamu mempelajari gerak lurus, perhatikan Gambar 1.2! Coba hitung berapa besar jarak dan perpindahan yang kamu lakukan
saat melakukan perjalanan dari rumah ke sekolah dan dari sekolah kembali ke rumah!</p>

<div class="mb-4 text-center">
    <a data-fancybox="gallery" href="content/img/page4/1.png"><img style="width:80%;" src="content/img/page4/1.png"></a>
    <div>
        <small>
            Sumber: Dok. Kemdikbud
            <br/>
            <b>Gambar 1.2</b> Ilustrasi Jarak Rumah ke Sekolah
        </small>
    </div>
</div>

<p>Setiap hari kamu berangkat dari rumah ke sekolah kemudian kembali lagi ke rumah. Misalnya, jika diukur jarak rumah ke sekolah
2 km, maka jarak tempuh yang kamu lakukan setiap hari adalah 4 km. Namun perpindahan yang kamu lakukan bernilai nol km. Mengapa
demikian? Ada perbedaan makna antara jarak dan perpindahan. Jarak merupakan panjang lintasan yang ditempuh, sedangkan perpindahan
merupakan jumlah lintasan yang ditempuh dengan memperhitungkan posisi awal dan akhir benda, atau dengan kata lain perpindahan
merupakan jarak lurus resultan dari posisi awal sampai posisi akhir.</p>

<div class="text-center">
    <video class="mt-3 mb-3 d-print-none" style="width:80%;" height="240" controls controlsList="nodownload">
        <source src="content/videos/video.ogv" type="video/ogg"> Your browser does not support the video tag.
    </video>
</div>

<p>Sekarang pikirkan perjalanan saat kamu pergi dari rumah ke sekolah. Apakah kendaraan yang kamu tumpangi melaju dengan kecepatan
tetap? Bagaimana kamu dapat mengukur besar kecepatan kendaraan yang kamu tumpangi? Perhatikan Gambar 1.3! Pada tersebut tampak
seorang atlet yang bergerak lurus beraturan mampu</p>