<p>
    Seseorang yang berusia 1-70 tahun membutuhkan vitamin D
    sebanyak 15 μgr/hari. Sedangkan seseorang yang berusia 71 tahun ke
    atas membutuhkan vitamin D sebanyak 20 μgr/hari. Mengapa vitamin D
    dapat diaktifkan dengan bantuan sinar matahari pagi melalui berjemur?
    Melalui paparan sinar matahari pagi selama 10-15 menit, maka sinar
    ultraviolet dari matahari akan dapat membantu tubuh mengaktifkan
    pro vitamin D. Vitamin D aktif akan dapat meningkatkan penyerapan
    kalsium dan fosfor di dalam tubuh, sehingga akan menambah jumlah
    kalsium dan fosfor dalam darah. Dengan demikian bertambahnya
    kadar vitamin D dalam tubuh karena terkena sinar matahari, maka
    akan dapat membantu meningkatkan penyerapan kalsium sehingga
    dapat menolong perbaikan tulang penderita riketsia.
</p>
<h5><span>b.</span>Osteoporosis</h5>
<p>
    Osteoporosis disebabkan karena kekurangan kalsium. Osteoporosis
    umumnya terjadi pada orang dewasa dan orangtua. Orangtua biasanya
    menghasilkan lebih sedikit hormon, sehingga osteoblas sebagai
    pembentuk tulang kurang aktif dan massa tulangpun jadi berkurang.
    Tulang yang kekurangan mineral akan menjadi rapuh dan mudah
    patah. Perhatikan Gambar 1.37!
</p>
<div class="mb-4 text-center">
    <a data-fancybox="gallery" href="content/img/page40/1.png"><img style="width:80%;" src="content/img/page40/1.png"></a>
    <div>
        <small>Sumber: Reece et al. 2012
        <br/>
        <b>Gambar 1.37</b> Matriks Tulang Normal dan Osteoporosis</small>
    </div>
</div>
<h5><span>c.</span> Artritis</h6>
<p>
    Artritis adalah penyakit sendi. Penderita penyakit ini mempunyai
    tulang rawan sendi yang rusak. Kerusakan ini menyebabkan sendi
    menjadi sakit dan bengkok seperti pada Gambar 1.38. Kadang-kadang
</p>