<p class="no-indent">
    sendi yang terkena artritis tidak dapat digerakkan. Rematik adalah
    salah satu bentuk artritis. Beberapa hal yang menyebabkan penyakit
    artritis ini adalah metabolisme asam urat yang terganggu, sehingga
    asam urat tertimbun pada sendi dan menyebabkan sakit terutama
    pada jari-jari tangan maupun kaki, penumpukan kapur di antara dua
    tulang mengakibatkan sendi sulit digerakkan dan kaku. Upaya untuk
    mengurangi terjadinya artritis yaitu dengan mengonsumsi makanan
    yang seimbang.
</p>
<div class="mb-4 text-center">
    <a data-fancybox="gallery" href="content/img/page41/1.png"><img style="width:80%;" src="content/img/page41/1.png"></a>
    <div>
        <small>Sumber: Reece et al. 2012
        <br/>
        <b>Gambar 1.38</b> Kondisi Tangan Penderita Artritis</small>
    </div>
</div>
<h5><span>d.</span> Fraktura (Patah Tulang)</h5>
<p>
    Tulang memiliki struktur kuat dan lentur, namun demikian tulang
    juga dapat patah. Salah satu penyebab terjadinya patah tulang adalah
    karena tulang mengalami benturan yang keras, misalnya pada saat
    kecelakaan atau jatuh dari tempat yang tinggi. Patahnya tulang disebut
    fraktura. Perhatikan Gambar 1.39!
</p>
<div class="mb-4 text-center">
    <a data-fancybox="gallery" href="content/img/page41/2.png"><img style="width:80%;" src="content/img/page41/2.png"></a>
    <div>
        <small>Sumber: Reece et al. 2012
        <br/>
        <b>Gambar 1.39</b> Jenis-jenis Patah Tulang</small>
    </div>
</div>