<p>
    Ada beberapa jenis fraktura, secara umum dapat dikelompokkan
    menjadi fraktura tertutup dan fraktura terbuka. Jika tulang yang
    patah tidak sampai menembus kulit disebut dengan faktura tertutup.
    Fraktura terbuka terjadi jika tulang yang patah keluar menembus kulit.
    Fraktura juga dapat dibedakan berdasarkan kondisi tulang yang patah,
    yaitu miring, kominuta (terpecah-pecah menjadi bagian-bagian kecil),
    dan spiral. Agar kamu tidak mengalami fraktura akibat kecelakaan,
    berhati-hatilah saat berolahraga.
</p>
<h5><span>d.</span>Kifosis, Lordosis, dan Skoliosis</h5>
<p>
    Tulang belakang manusia yang normal tidaklah lurus, tetapi
    melengkung. Agar kamu mengetahuinya, perhatikan Gambar 1.40a!
    Bentuk tulang belakang memengaruhi bentuk tubuh kita. Cobalah
    amati bentuk badan teman laki-lakimu saat berdiri dan dilihat dari
    samping! Bagaimana bentuknya? Tulang belakang dapat mengalami
    kelainan. Tiga kelainan tulang belakang yang umum terjadi adalah
    lordosis, kifosis, dan skoliosis. Perhatikan Gambar 1.40!
    <div class="mb-4 text-center">
        <a data-fancybox="gallery" href="content/img/page42/1.png"><img style="width:80%;" src="content/img/page42/1.png"></a>
        <div>
            <small>Sumber: Reece et al. 2012
            <br/>
            <b>Gambar 1.40</b> Struktur Tulang Penderita Kifosis, Lordosis, dan Skoliosis</small>
        </div>
    </div>
</p>
<h5>1. Kifosis</h5>
<p>
    Kifosis merupakan kelainan dengan melengkungnya tulang
    belakang yang berlebihan di bagian dada ke arah belakang, seperti
    ditunjukkan Gambar 1.40b. Penderita kifosis tubuhnya terlihat
    bungkuk. Kifosis dapat disebabkan karena penyakit (misalnya TBC
    dan riketsia) atau kebiasaan duduk yang salah.
</p>