<h5>2. Lordosis</h5>
<p>
    Lordosis merupakan kelainan dengan melengkungnya tulang
    belakang yang berlebihan ke arah depan di bagian pinggang, seperti
    ditunjukkan Gambar 1.40c. Orang yang mengalami kelainan ini
    pinggangnya terlihat lebih menonjol ke depan. Lordosis dapat
    disebabkan karena perut penderita yang terlalu besar (misalnya karena
    hamil atau kegemukan), riketsia, atau karena kebiasaan duduk yang
    salah.
</p>
<h5>3. Skoliosis</h5>
<p>
    Skoliosis adalah melengkungnya tulang belakang ke arah samping,
    seperti ditunjukkan Gambar 1.40d. Skoliosis dapat disebabkan oleh
    polio atau kebiasaan duduk atau berposisi yang salah.
</p>
<h4><span>5.</span> Upaya Menjaga Kesehatan Sistem Gerak Manusia</h4>
<p>
    Setelah mengetahui beberapa gangguan atau kelainan yang terjadi
    pada sistem gerak, maka kita harus dapat mengantisipasi agar tidak
    mengalami gangguan-gangguan tersebut. Beberapa cara yang dapat
    kita lakukan untuk menjaga kesehatan sistem gerak kita adalah sebagai
    berikut.
    <ol type="a">
        <li>
            Meningkatkan kandungan kalsium dalam asupan makanan.
            Makanan yang banyak mengandung kalsium di antaranya susu,
            kangkung, kedelai dan olahannya, ikan salmon, kacang almond,
            dan brokoli.
        </li>
        <li>
            Berjemur pada sinar matahari pagi karena sinarnya sangat baik
            untuk membantu pembentukan vitamin D yang sangat penting
            dalam membantu penyerapan kalsium dalam makanan.
        </li>
        <li>
            Memerhatikan asupan vitamin D dengan makan makanan yang
            mengandung vitamin D. Makanan yang mengandung vitamin D
            di antaranya telur, produk olahan dari kedelai, minyak ikan, ikan
            berlemak, hati sapi, dan udang.
        </li>
        <li>
            Memerhatikan aktivitas fisik yang cukup setiap harinya. Aktivitas
            fisik seperti jalan kaki, jogging, tenis, menaiki tangga dapat
            membantu terbentuknya tulang yang kuat dan memperlambat
            proses kerapuhan tulang pada tubuh.
        </li>
        <li>
            Menghindari kebiasaan sikap tubuh yang salah, misalnya dengan
            cara duduk yang benar yaitu tulang belakang harus dalam posisi
            tegak (tidak membungkuk), saat tidur sebaiknya memakai alas
            yang datar dan padat agar posisi tulang belakang tetap lurus.
        </li>
    </ol>
</p>