<h3><span>c.</span> Sistem Gerak pada Hewan</h3>
<div class="mb-4 text-center">
    <img style="width:100%;" src="content/img/page44/1.png">
</div>
<p>
    Salah satu sifat makhluk hidup adalah bergerak. Hewan bergerak
    dengan berbagai macam cara misalnya ada hewan yang berjalan,
    berlari, terbang, berenang, merayap, dan lain sebagainya. Coba
    kamu perhatikan gerak hewan darat dan gerak hewan yang hidup di
    air, berbeda bukan? Hewan darat bergerak menggunakan otot dan
    rangkanya terutama kaki, ikan bergerak menggunakan sirip, dan
    burung terbang dengan menggunakan sayap. Tahukah kamu bahwa
    kecepatan gerak hewan berbeda-beda? Mengapa demikian? Untuk
    menjawab pertanyaan tersebut, ayo lakukan aktivitas berikut!
</p>
<div class="box">
    <center>
        <h3>Ayo, Kita Diskusikan</h3>
    </center>
    <ol>
        <li>
            Cermati data tentang kecepatan gerak hewan di bawah ini!
            <div class="row">
                <div class="col">
                    <a data-fancybox="gallery" href="content/img/page44/2.png"><img style="width:70%;" class="mb-3" src="content/img/page44/2.png" alt="" /></a>
                    <br>Gajah, kecepatan geraknya 25 km/jam
                </div>
                <div class="col">
                    <a data-fancybox="gallery" href="content/img/page44/3.png"><img style="width:70%;" class="mb-3" src="content/img/page44/3.png" alt="" /></a>
                    <br>Jerapah, kecepatan geraknya 60 km/jam
                </div>
            </div>
        </li>
    </ol>
</div>