<div class="box">
    <div class="text-center">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <a data-fancybox="gallery" href="content/img/page45/1.png"><img style="width:60%;" class="mb-3" src="content/img/page45/1.png" alt="" /></a>
                    <br/>Kerbau, kecepatan geraknya 50 km/jam
                </div>
                <div class="mb-3">
                    <a data-fancybox="gallery" href="content/img/page45/3.png"><img style="width:60%;" class="mb-3" src="content/img/page45/3.png" alt="" /></a>
                    <br/>Kuda, kecepatan geraknya 76 km/jam
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <a data-fancybox="gallery" href="content/img/page45/2.png"><img style="width:60%;" class="mb-3" src="content/img/page45/2.png" alt="" /></a>
                    <br/>Kijang, kecepatan geraknya 97 km/jam
                </div>
                <div class="mb-3">
                    <a data-fancybox="gallery" href="content/img/page45/4.png"><img style="width:60%;" class="mb-3" src="content/img/page45/4.png" alt="" /></a>
                    <br/>Harimau, kecepatan geraknya 112 km/jam
                </div>
            </div>
        </div>
        <div class="text-center mt-3 mb-3">
            <small>Sumber: en.wikipedia.org <br>
                <b>Gambar 1.41</b> Kecepatan Gerak Berbagai Jenis Hewan
            </small>
        </div>
    </div>
    <ol>
        <li>
            Berdasarkan data di atas, hewan manakah yang mempunyai
            kecepatan gerak paling tinggi?
        </li>
        <li>
            Mengapa hewan-hewan tersebut memiliki kecepatan gerak yang berbeda-beda?
        </li>
        <li>
            Kesimpulan apa yang dapat kamu ambil dari analisis data di atas?
        </li>
    </ol>
</div>
<p>
    Hewan bergerak ke berbagai tujuan antara lain untuk melindungi
    diri dari predator atau untuk mencari mangsa. Perhatikan Gambar
    1.42!
    <div class="mb-4 text-center">
        <a data-fancybox="gallery" href="content/img/page45/5.png"><img style="width:80%;" src="content/img/page45/5.png"></a>
        <div>
            <small>Sumber: flyandsea.com, wallpaperup.com
                <br/>
                <b>Gambar 1.42</b> (a) Ikan Berenang Menghindari Serangan Anjing Laut, (b) Burung Elang Terbang untuk Menangkap Ikan di Danau
            </small>
        </div>
    </div>
</p>