<h4><span>1</span> Gerak Hewan dalam Air</h4>
<p>
    Air memiliki kerapatan yang lebih besar dibandingkan udara,
    sehingga hewan lebih sulit bergerak di air daripada di udara. Air
    memiliki gaya angkat yang lebih besar dibandingkan dengan udara
    dan tubuh hewan yang hidup di air memiliki massa jenis yang lebih
    kecil daripada lingkungannya. Kedua hal tersebut mengakibatkan
    hewan yang hidup di air dapat melayang-layang di dalam air dengan
    mengeluarkan sedikit energi karena adanya gaya angkat oleh air.
</p>
<p>
    Salah satu bentuk tubuh yang paling banyak dimiliki oleh hewan air
    adalah bentuk torpedo (streamline). Bentuk tubuh ini memungkinkan
    tubuh meliuk dari sisi ke sisi dan mengurangi hambatan ketika bergerak
    di dalam air. Tubuh ikan dilengkapi otot dan tulang belakang yang
    fleksibel untuk mendorong ekor dan sirip ikan di dalam air. Ikan juga
    memiliki sirip tambahan yang berfungsi untuk menjaga keseimbangan.
    Untuk mengatur gerakan naik turun, ikan memiliki gelembung renang
    yang dapat mengeluarkan gas (biasanya berupa oksigen).
</p>
<p>
    Sebagian besar ikan menggunakan gerakan lateral pada tubuh dan
    sirip ekornya untuk menghasilkan gaya dorong ke depan. Ada juga yang
    bergerak menggunakan sirip pasangan dan sirip tengahnya. Ikan yang
    bergerak dengan sirip pasangan dan sirip tengah cocok untuk hidup di
    terumbu karang. Tapi jenis ikan ini tidak dapat berenang secepat ikan
    yang bergerak dengan menggunakan tubuh dan sirip ekornya.
</p>
<div class="box">
    <center>
        <h3>Ayo, Kita Pahami</h3>
    </center>
    <p>
        Berbeda dengan ikan dan hewan yang hidup di dalam air, bebek
        dapat terapung di atas air karena memanfaatkan prinsip tegangan
        permukaan air. Tegangan permukaan merupakan peristiwa yang
        diakibatkan adanya gaya kohesi antarmolekul-molekul air. Selain
        nyamuk, anggang-anggang juga memanfaatkan gaya tegangan
        permukaan untuk dapat bergerak di permukaan air. Perhatikan
        Gambar 1.43!
    </p>
</div>