<div class="box">
    <div class="mb-4 text-center">
        <a data-fancybox="gallery" href="content/img/page47/1.png"><img style="width: 40% " src="content/img/page47/1.png"></a>
        <a data-fancybox="gallery" href="content/img/page47/2.png"><img style="width: 40% " src="content/img/page47/2.png"></a>
    </div>
    <div class="mb-4 text-center">
        <small>Sumber: ninnescahlife.wichita.edu<br/><b>Gambar 1.43</b> Hewan yang Memanfaatkan Sifat Tegangan Permukaan Air, (a) Nyamuk yang Sedang Bertelur, (b) Anggang-anggang</small>
    </div>
</div>
<h4><span>2</span> Gerak Hewan di Udara</h4>
<p>
    Pernahkah kamu melihat burung yang sedang terbang bebas di
    udara? Bagaimana burung tersebut dapat terbang dengan stabil di
    udara? Apa yang memengaruhi gerakan burung tersebut? Tahukah
    kamu, bagaimana cara burung dapat terbang dan melawan gravitasi
    bumi? Gravitasi adalah masalah utama yang dihadapi oleh hewan-
    hewan yang terbang di udara. Tubuh hewan-hewan tersebut harus
    memiliki gaya angkat yang besar untuk mengimbangi gaya gravitasi
    karena tidak mungkin tubuh hewan memiliki massa jenis yang
    mendekati massa jenis udara. Salah satu upaya untuk memperbesar
    gaya angkat adalah dengan menggunakan sayap. Prinsip yang sama
    diterapkan pada pesawat terbang. Perhatikan Gambar 1.44!
</p>
<div class="mb-4 text-center">
    <a data-fancybox="gallery" href="content/img/page47/3.png"><img style="width:80%;" src="content/img/page47/3.png"></a>
    <div>
        <small>
        <br/>Sumber: Dok. Kemdikbud <br>
        <b>Gambar 1.44</b> Sayap Pesawat dibuat dengan Prinsip Menyerupai Sayap Burung</small>
    </div>
</div>