<p>
    Sayap burung tersusun atas kerangka yang kuat dan ringan, serta
    otot yang kuat. Sayap burung memiliki bentuk melengkung sehingga
    udara yang mengalir pada bagian atas sayap lebih cepat daripada
    bagian bawahnya. Hal ini akan menghasilkan gaya angkat dan gaya
    dorong yang efektif untuk pergerakan burung. Struktur sayap yang
    demikian disebut airfoil. Saat sayap dikepakkan, sayap memberikan
    gaya aksi terhadap udara di bawah sayap, sehingga udara akan
    mengalir ke bawah. Sesuai dengan Hukum III Newton, ketika benda
    pertama memberikan gaya F aksi pada benda kedua, maka benda kedua
    akan memberikan gaya F reaksi pada benda pertama. Hal inilah yang
    membuat burung dapat terangkat ke atas. Agar lebih jelasnya, coba
    lihatlah kembali Gambar 1.18!
</p>
<h4><span>3</span> Gerak Hewan di Darat</h4>
<p>
    Hewan yang hidup di darat memiliki otot dan tulang yang kuat. Hal
    tersebut diperlukan untuk mengatasi inersia (kecenderungan tubuh
    untuk diam) dan untuk menyimpan energi pegas (elastisitas) untuk
    melakukan berbagai aktivitas. Bayangkan bagaimana bila kita berjalan.
    Seseorang mulai berjalan dengan menginjak lantai dengan kakinya,
    lantai kemudian memberikan gaya balik yang sama dan berlawanan
    arah pada orang tersebut dan gaya inilah yang menggerakkan orang
    tersebut ke depan. Dengan cara yang sama, seekor burung yang terbang
    ke depan memberikan gaya pada udara dengan cara mengepakkan
    sayapnya ke belakang, tetapi udara tersebut mendorong balik sayap
    burung itu ke depan.
</p>
<p>
    Gajah dan kerbau memiliki massa tubuh yang sangat besar,
    akibatnya untuk bergerak, gajah dan kerbau harus melawan inersia
    yang nilainya juga sangat besar. Namun perbedaan sruktur tulang serta
    kekuatan otot gajah dan kerbau membuat gajah mampu melakukan
    gerakan yang lebih lincah daripada kerbau. Lain halnya dengan kuda,
    harimau, dan kijang, ketiga hewan tersebut memiliki struktur rangka
    dan otot yang sangat kuat. Kijang dan harimau memiliki bentuk kaki
    yang lebih ramping sehingga kijang dan harimau mampu menyimpan
    elastisitas yang tinggi. Hal tersebut mengakibatkan pada saat berlari,
    kijang dan harimau lebih banyak melompat ke udara dan meluncur
    di udara. Gaya gesek udara yang jauh lebih kecil daripada gaya gesek
    permukaan tanah membuat kijang dapat berlari dengan kecepatan
    yang lebih tinggi daripada kuda.
</p>