<h3><span>C</span> Sistem Gerak pada Tumbuhan</h3>
<div class="mb-4 text-center">
    <img style="width:90%;" src="content/img/page49/1.png">
</div>
<p>
    Menurutmu apakah tumbuhan juga bergerak? Bagaimana gerakan
    pada tumbuhan? Bagian apa saja dari tumbuhan yang dapat bergerak?
    Ayo kita pelajari sistem gerak pada tumbuhan dengan penuh semangat!
</p>
<div class="row">
    <div class="col">
        <p>
            Perhatikanlah Gambar 1.45!
            Pernahkah kamu menyentuh daun
            putri malu (Mimosa pudica)? Apa
            yang terjadi jika daunnya disentuh?
            Bagaimana jika daun putri malu
            tersebut diberi rangsangan panas
            atau dingin? Apakah ada perbedaan
            kecepatan menutupnya daun putri
            malu tersebut? Untuk menjawab semua pertanyaan tersebut, ayo lakukan aktivitas berikut!
        </p>
    </div>
    <div class="col">
        <div class="text-center">
            <a data-fancybox="gallery" href="content/img/page49/2.png"><img src="content/img/page49/2.png"></a>
            <small>Sumber: Dok. Kemdikbud
            <br/>
            <b>Gambar 1.45</b> Tumbuhan Putri Malu <br>(Mimosa pudica)</small>
        </div>
    </div>
</div>
<div class="box">
    <center>
        <h3>Ayo, Kita Lakukan</h3>
        <h6>Aktivitas 1.7 Pengaruh Rangsang terhadap Gerak Menutup dan Membukanya Daun Putri Malu</h6>
    </center>
    <p>
    Pada percobaan ini kamu akan menyelidiki pengaruh rangsang terhadap gerak daun putri malu.
    </p>
    <p><b>Apa yang kamu duga?</b></p>
    <p>
    Cobalah untuk melakukan pendugaan atau membuat perkiraan berdasarkan informasi yang kamu ketahui atau pengalaman
    </p>
</div>