<p class="no-indent">menempuh jarak 30 meter dalam waktu 6 sekon. Dengan kata lain, atlet tersebut mampu menempuh jarak 5 meter setiap sekonnya.
Kemampuan atlet dalam menempuh jarak (s) tertentu setiap sekonnya (t) disebut sebagai kelajuan atau secara matematis dapat
ditulis: v = s .</p>
    
<div class="mb-4 text-center">
    <a data-fancybox="gallery" href="content/img/page5/1.png"><img style="width:80%;" src="content/img/page5/1.png"></a>
    <div>
        <small>
            Sumber: Dok. Kemdikbud
            <br/>
            <b>Gambar 1.3</b> Jarak dan Waktu Tempuh Seorang Atlet yang Sedang Berlari
        </small>
    </div>
</div>

<p>Tahukah kamu bagaimana cara mengukur kelajuan kendaraan bermotor? Apakah benar dengan menggunakan speedometer? Ternyata,
speedometer yang ada di kendaraan tidak mengukur kecepatan gerak, tetapi mengukur kelajuan. Perhatikan Gambar 1.4!</p>
<div class="mb-4 text-center">
    <a data-fancybox="gallery" href="content/img/page5/2.png"><img style="width:80%;" src="content/img/page5/2.png"></a>
    <div>
        <small>
            Sumber: Dok. Kemdikbud
            <br/>
            <b>Gambar 1.4</b> Perubahan Kelajuan pada Mobil yang Sedang Melaju
        </small>
    </div>
</div>

<p>Angka yang ditunjukkan pada speedometer selalu berubah-ubah. Hal ini menunjukkan kelajuan sesaat mobil yang sedang bergerak.
Berdasarkan pernyataan tersebut, dapatkah kamu mendefinisikan</p>