<div class="box">
    <p>yang kamu alami terhadap gerak daun putri malu ketika mendapatkan rangsangan.</p>
    <ol>
        <li>Daun putri malu bila disentuh ....</li>
        <li>Daun putri malu bila diberi rangsang suhu dingin ....</li>
        <li>Daun putri malu bila diberi rangsang suhu panas ....</li>
    </ol>
    <p><b>Apa yang kamu perlukan?</b></p>
    <ol>
        <li>Tumbuhan putri malu (Mimosa pudica)</li>
        <li>Es yang dibungkus plastik</li>
        <li>Korek api atau lilin</li>
        <li>Jam tangan atau stopwatch</li>
    </ol>
    <p><b>Apa yang harus kamu lakukan?</b></p>
    <ol>
        <li>Berilah perlakuan pada putri malu sebagai berikut.
            <ol type="a">
                <li>
                    Sentuhlah menggunakan ujung jari tangan pada bagian bawah
                    permukaan daun dan pada tangkai daun! Hitunglah kecepatan
                    respons tumbuhan terhadap rangsang menggunakan
                    stopwatch!
                </li>
                <li>
                    Berilah hawa dingin di bagian bawah permukaan daun dengan
                    meletakkan sebungkus es batu! Hitunglah kecepatan respons
                    tumbuhan terhadap rangsang menggunakan stopwatch!
                </li>
                <li>
                    Berilah hawa panas di bagian bawah permukaan daun dengan
                    menyalakan korek api atau lilin yang menyala! Berhati-hatilah
                    saat menggunakan korek api! Hitunglah kecepatan respons
                    tumbuhan terhadap rangsang menggunakan stopwatch!
                </li>
            </li>
        </ol>
    </li>
    <li>Amatilah gerak daun dan batang putri malu!</li>
    <li>Ulangi langkah 1 dan 2 sebanyak 3 kali.</li>
    <li>Catatlah hasil pengamatan dan penghitunganmu pada Tabel 1.8!</li>
</ol>
<div class="text-center">
    <b>Tabel 1.8</b><small> Pengamatan Tumbuhan Putri Malu</small>
    <img style="width: 80%" src="content/img/page50/1.png">
</div>