<p>Berdasarkan asal datangnya rangsangan, gerak pada tumbuhan dibedakan menjadi tiga, yaitu gerak endonom, gerak higroskopis, dan gerak esionom.</p>
<h4><span>1</span> Gerak Endonom</h4>

<video style="width:100%;" controls class="mb-4 d-print-none" controlsList="nodownload">
    <source src="assets/videos/Endonom.ogv" type="video/ogv">
</video>

<p>
    Apakah kamu pernah mengamati tumbuhan Hydrilla verticillata? Pernahkah kamu mengamati daun tumbuhan tersebut melalui mikroskop? Perhatikan Gambar 1.46!
</p>
<div class="mb-4 text-center">
    <img style="width:80%;" src="content/img/page51/1.png">
    <div>
        <small>Sumber: Dok. Kemdikbud
        <br/>
        <b>Gambar 1.46</b> (a) Tumbuhan Hydrilla verticillata, (b) Gerak Siklosis pada Daun Hydrilla verticillata</small>
    </div>
</div>
<p>
    Jika kamu mengamati daun tumbuhan Hydrilla verticillata kamu
    akan melihat struktur seperti dinding tembok yang di dalamnya
    terdapat butiran bulat berwarna hijau. Struktur seperti tembok
    tersebut merupakan sel daun. Di dalam sel daun tersebut terdapat
    cairan yang disebut sitoplasma. Dalam sitoplasma terdapat butiran
    bulat berwarna hijau yang disebut kloroplas. Jika kamu mengamati
    kloroplas tersebut secara cermat, kamu akan melihat kloroplas tersebut
    bergerak berkeliling (rotasi) di dalam sel yang disebut gerak siklosis.
    Pergerakan tersebut sebenarnya akibat dari pergerakan atau aliran
    sitoplasma dalam sel. Gerak ini terjadi secara spontan dan berasal dari
    dalam sel tumbuhan tersebut. Gerak yang terjadi akibat rangsangan
    yang berasal dari dalam sel atau tubuh tumbuhan disebut dengan
    <b>gerak endonom</b>.
</p>