<div class="box">
    <center>
        <h3>Ayo, Kita Cari Tahu</h3>
    </center>
    <p>Selain gerak siklosis pada sitoplasma suatu sel, carilah contohvgerak endonom yang lain bersama kelompokmu!</p>
</div>

<h4><span>2</span>Gerak Higroskopis</h4>

<p>Pernahkah kamu melihat buah polong-polongan, seperti kacang
kedelai (Glycine max), buah cangkring (Erythrina variegata), dan
buah biduri (Asclepias gigantea) yang masih muda dan yang sudah
tua? Perhatikan Gambar 1.47! Bagaimana kondisi buah-buah tersebut
ketika sudah tua?</p>

<video style="width:100%;" controls class="mb-4 d-print-none" controlsList="nodownload">
    <source src="assets/videos/Higroskopis-1.ogv" type="video/ogv">
</video>

<div class="mb-4 text-center">
    <img style="width:80%;" src="content/img/page 53/1.png">
    <div>
        <small>Sumber: Dok. Kemdikbud
        <br/>
        <b>Gambar 1.47</b> Contoh Buah Polong yang Membuka, (a) Kacang Kedelai
        (Glycine max), (b) Buah Cangkring (Erythrina variegata), (c) Buah biduri
        (Asclepias gigantea)</small>
    </div>
</div>

<p>Apabila kamu melihat buah polong-polongan yang sudah tua, kamu
akan melihat buah polong-polongan dapat membuka. Bagaimana
buah polong-polongan tersebut dapat membuka? Ketika buah polong-
polongan sudah tua, terjadi perubahan kadar air di dalam sel secara
tidak merata. Akibatnya terjadi pengerutan bagian buah yang tidak
merata. Pengerutan ini membuat buah polong menjadi terbuka.
Membukanya buah polong tersebut merupakan salah satu contoh
gerak higroskopis. Selain membukanya buah polong-polongan, contoh
gerak higroskopis yaitu membukanya dinding sporangium (kotak
spora) tumbuhan paku.</p>