<h4><span>3.</span>Gerak Esionom</h4>

<p>Gerak esionom adalah gerak tumbuhan yang disebabkan oleh
adanya rangsangan dari luar tubuh tumbuhan (lingkungan sekitar).
Berdasarkan respons gerak yang dilakukan tumbuhan, gerak esionom
dapat dibedakan menjadi gerak tropisme, gerak taksis, dan gerak nasti.</p>

<h5><span>a.</span>Gerak Tropisme</h5>

<p>Perhatikan Gambar 1.48, ke arah manakah pertumbuhan ujung
batang tumbuhan pada gambar tersebut? Apakah bergerak menuju
jendela (arah datangnya cahaya) ataukah bergerak menjauhi cahaya?
Apakah arah pertumbuhan tumbuhan tersebut tidak dipengaruhi arah
datangnya cahaya? Apakah tumbuhan tersebut juga berpindah tempat?</p>

<div class="mb-4 text-center">
    <a data-fancybox="gallery" href="content/img/page 54/1.png"><img style="width:80%;" src="content/img/page 54/1.png"></a>
    <div>
        <small>Sumber: Dok. Kemdikbud
        <br/>
        <b>Gambar 1.48</b> Pertumbuhan Tanaman Menuju Arah Datangnya Cahaya</small>
    </div>
</div>

<p>Tumbuhan tidak dapat berpindah tempat seperti halnya hewan.
Melalui Gambar 1.48, kamu dapat mengetahui bahwa setiap ujung
batang tumbuhan akan tumbuh menuju arah datangnya cahaya.
Berbeda halnya dengan arah gerak pertumbuhan akar. Akar tumbuhan
akan bergerak tumbuh menjauhi arah datangnya cahaya dan akan
cenderung bergerak tumbuh menuju pusat bumi. Kedua gejala tersebut
menunjukkan bahwa ada gerak tumbuhan yang arah pergerakannya
dipengaruhi oleh arah datangnya rangsangan. Gerak tumbuhan yang
arah geraknya dipengaruhi oleh arah datangnya rangsang dari luar
disebut <b>gerak tropisme</b>. Arah gerak tumbuhan yang mendekati arah
datangnya rangsang disebut gerak <b>tropisme positif</b>, tetapi jika arah
gerak tumbuhan menjauhi rangsang disebut gerak <b>tropisme negatif</b>.
Tahukah kamu apa saja jenis rangsang yang dapat menyebabkan</p>