<div class="mb-4 text-center">
    <a data-fancybox="gallery" href="content/img/page57/1.png"><img style="width:80%;" src="content/img/page57/1.png"></a>
    <div>
        <small>Sumber: Raven et al. 2008
        <br/>
        <b>Gambar 1.51</b> Serbuk Sari Menempel di Kepala Putik Selanjutnya Berkecambah Membentuk Buluh Serbuk dan Bergerak Menuju Sel Telur</small>
    </div>
</div>
<h5><span>b.</span> Gerak Taksis</h5>
<p><b>Gerak taksis</b> adalah gerak pindah tempat seluruh bagian
tumbuhan yang arahnya dipengaruhi oleh sumber rangsangan.
Dapatkah kamu menyebutkan contoh gerak taksis? Gerak taksis
biasanya dilakukan oleh organisme bersel satu, misalnya pada Euglena
viridis. Perhatikan Gambar 1.52!
</p>

<div class="mb-4 text-center">
    <a data-fancybox="gallery" href="content/img/page57/2.png"><img style="width:80%;" src="content/img/page57/2.png"></a>
    <div>
        <small>Sumber: protist.i.hosei.ac.jp
        <br/>
        <b>Gambar 1.52</b> Gerak Fototaksis pada Euglena viridis</small>
    </div>
</div>
<p>
    Euglena viridis merupakan organisme yang dapat dikelompokkan
    ke dalam Algae (Protista mirip tumbuhan) karena memiliki klorofil dan
    mampu melakukan fotosintesis. Dalam hidupnya organisme tersebut
    membutuhkan cahaya, oleh karena itu Euglena viridis akan bergerak
    mendekati sumber cahaya. Namun, jika intensitas cahaya terlalu
    tinggi, Euglena viridis akan berusaha menghindar. Kemampuan
    berpindahnya Euglena viridis disebabkan karena organisme tersebut
    memiliki alat gerak berupa flagela dan reseptor cahaya. Pergerakan
    Euglena viridis ini disebut dengan gerak <b>fototaksis.</b>
</p>