<p>
    Contoh gerak taksis lainnya adalah gerakan spermatozoa
    tumbuhan lumut dan paku. Tumbuhan lumut dan paku bereproduksi
    secara seksual, akan menghasilkan sel kelamin jantan yang disebut
    spermatozoid. Spermatozoid mampu bergerak menuju sel kelamin
    betina yang terdapat pada arkegonium akibat tertarik oleh zat gula
    dan protein tertentu yang dihasilkan oleh arkegonium. Pergerakan
    spermatozoid tersebut merupakan contoh gerak kemotaksis. Gerak
    kemotaksis adalah gerak taksis tumbuhan yang dipengaruhi oleh
    rangsangan berupa zat kimia.
</p>
<h5><span>c.</span> Gerak Nasti</h5>
<p>
    Pada bagian awal pembahasan mengenai gerak pada tumbuhan,
    kamu telah melakukan percobaan dengan memberikan sentuhan pada
    tumbuhan putri malu. Apakah kamu masih ingat hasil percobaanmu?
    Darimana pun arah datangnya sentuhan, arah gerakan yang dilakukan
    daun putri malu selalu tetap, yaitu menutup dengan arah yang sama.
    Artinya gerakan yang dilakukan oleh tumbuhan tidak dipengaruhi oleh
    arah datangnya rangsang. Gerak tumbuhan yang demikian disebut
    dengan gerak nasti. Berdasarkan jenis rangsangannya gerak nasti
    dapat dibedakan menjadi beberapa jenis. Apa sajakah rangsangan yang
    dapat menyebabkan tumbuhan melakukan gerak nasti? Ayo, pelajari
    materi berikut ini dengan semangat!
</p>
<h5>1. Gerak Seismonasti</h5>
<p>
Gerak pada daun putri malu akibat diberi getaran atau sentuhan
disebut dengan seismonasti. <b>Seismonasti</b> adalah gerak nasti
tumbuhan yang dipengaruhi oleh getaran atau sentuhan.
</p>
<div class="row">
    <div class="col">
        <h5>2. Gerak Niktinasti</h5>
        <p>
        Apakah kamu pernah mengamati
        daun tumbuhan bunga merak
        (Caesalpinia pulcherrima) atau
        daun tumbuhan lamtoro (Leucaena
        Leucocephala)? Perhatikan Gambar
        1.53! Tahukah kamu bahwa saat
        malam hari, daun tumbuhan bunga
        merak dan daun tumbuhan lamtoro
        akan menutup atau “tidur” dan akan
        </p>
    </div>
    <div class="col">
        <div class="text-center">
            <a data-fancybox="gallery" href="content/img/page58/1.png"><img style="width:80%;" src="content/img/page58/1.png"></a>
            <small>Sumber:Dok. Kemdikbud
            <br/>
            <b>Gambar 1.53</b> Gerak pada Daun Bunga Merak (Caesalpinia pulcherrima)</small>
        </div>
    </div>
</div>