<p class="no-indent">membuka saat siang hari. Pergerakan daun tumbuhan tersebut akibat
adanya rangsangan berupa kondisi siang hari dan malam hari. Gerak
yang demikian disebut dengan <b>gerak niktinasti.</b>
</p>
<h5>3. Gerak Fotonasti</h5>
<div class="row">
    <div class="col">
        <p>
            Apakah kamu mengetahui bunga
            pukul empat (Mirabilis jalapa)?
            Perhatikan Gambar 1.54! Pada sore
            hari, umumnya bunga pukul empat
            akan mekar. Mekarnya bunga pukul
            empat disebabkan oleh adanya
            rangsangan cahaya sore hari. Gerak
            membukanya bunga pukul empat
            tersebut disebut gerak fotonasti.
            <b>Fotonasti</b> adalah gerak nasti pada Fotonasti adalah gerak nasti pada tumbuhan yang disebabkan adanya
            rangsangan berupa cahaya.
        </p>
    </div>
    <div class="col">
        <div class="text-center">
            <a data-fancybox="gallery" href="content/img/page59/1.png"><img style="width:80%;" src="content/img/page59/1.png"></a>
            <small>Sumber:Dok. Kemdikbud
            <br/>
            <b>Gambar 1.54</b> Bunga Pukul Empat (Mirabilis jalapa)</small>
        </div>
    </div>
</div>
<h5>4. Gerak Termonasti</h5>
<p>
Bunga yang hidup di daerah yang memiliki empat musim, seperti
bunga tulip yang banyak ditanam di benua Eropa, hanya dapat
mekar di musim semi. Tahukah kamu mengapa demikian? Mekarnya
bunga di musim semi disebabkan oleh suhu udara pada musim semi
terasa lebih hangat. Gerak mekarnya bunga tulip pada musim semi
disebut gerak termonasti. <b>Termonasti</b> adalah gerak nasti tumbuhan
dipengaruhi oleh rangsangan yang berupa suhu.
</p>
<div class="box">
    <center><h3>Tahukah Kamu?</h3></center>
    <p>
    Tahukah kamu stomata? Perhatikan Gambar 3.26 pada halaman
    135! Stomata adalah lubang kecil yang terdapat pada permukaan
    daun yang berfungsi untuk mengatur keluar masuknya gas kabon
    dioksida dan uap air. Stomata dapat membuka dan menutup akibat
    beberapa rangsangan, yaitu kadar air, cahaya, dan suhu. Gerak
    membuka dan menutupnya stomata tersebut merupakan contoh
    gerak nasti kompleks. Nasti kompleks adalah gerakan tumbuhan
    yang dapat diakibatkan oleh beberapa jenis rangsangan.
    </p>
</div>  