<div class="box">
    <p class="no-indent">
        dengan menggunakan konsep gerak pada burung. Oleh karena itu,
        hendaklah kamu senantiasa bersyukur atas segala ciptaan Tuhan.
        Apa yang terjadi jika kamu tidak dapat bergerak? Tentunya kamu
        akan mengalami berbagai kesulitan dalam melakukan segala
        aktivitas. Sebagai salah satu bentuk ungkapan rasa syukur kita
        kepada Tuhan, maka kita harus selalu aktif dan bersemangat dalam
        beraktivitas, yaitu belajar dan bekerja, sehingga cita–cita kita akan
        tercapai. Bentuk rasa syukur kita yang lainnya adalah senantiasa
        menjaga kesehatan sistem gerak.
    </p>
    <div class="mb-4 text-center">
        <small><b>Tabel 1.10</b> Pernyataan untuk Refleksi Terkait Gerak pada Makhluk Hidup dan Benda</small>
        <div><img style="width:90%;" src="content/img/page61/1.png"></div>
    </div>
    <p>Coba kamu hitung, berapa total skormu dengan ketentuan:</p>
    <ul>
        <li>Jawaban “ya” mendapat skor 2 (dua)</li>
        <li>
            Jawaban “tidak” mendapat skor 0 (nol) Bandingkan total skormu dengan kriteria berikut.
        </li>
        <li>Skor 0 - 3 : berarti kamu tidak peduli pada organ penyusun sistem gerakmu.</li>
        <li>Skor 4 - 6 : berarti kamu kurang peduli pada organ penyusun sistem gerakmu.</li>
        <li>Skor 7 - 10 : berarti kamu peduli pada organ penyusun sistem gerakmu.</li>
    </ul>

    <p>
        Untuk kamu yang tidak peduli atau kurang peduli, sebaiknya
        kamu terus berusaha untuk meningkatkan kepedulianmu pada
        organ penyusun sistem gerakmu.
    </p>
</div>
          