<div class="box">
    <center>
        <h3>Rangkuman</h3>
    </center>

    <ol>
        <li>
            Jarak merupakan panjang lintasan yang ditempuh, sedangkan
            perpindahan merupakan jumlah lintasan yang ditempuh dengan
            memperhitungkan posisi awal dan akhir benda.
        </li>
        <li>
            Gerak Lurus dibedakan menjadi dua, yaitu Gerak Lurus Beraturan
            (GLB) dan Gerak Lurus Berubah Beraturan (GLBB).
        </li>
        <li>
            Gerak Lurus Beraturan (GLB) terjadi apabila kecepatan gerak
            suatu benda konstan.
        </li>
        <li>
            Gerak Lurus Berubah Beraturan (GLBB) terjadi apabila suatu
            benda bergerak dengan percepatan yang konstan.
        </li>
        <li>
            Gaya adalah tarikan atau dorongan. Gaya dapat mengubah
            bentuk, arah, dan kecepatan benda.
        </li>
        <li>
            Gaya dapat dibedakan menjadi gaya sentuh dan gaya tak sentuh.
            Gaya sentuh contohnya adalah gaya otot dan gaya gesek. Gaya
            otot adalah gaya yang ditimbulkan oleh koordinasi otot dengan
            rangka tubuh. Gaya gesek adalah gaya yang diakibatkan oleh
            adanya dua buah benda yang saling bergesekan. Gaya tak sentuh
            adalah gaya yang tidak membutuhkan kontak langsung dengan
            benda yang dikenai.
        </li>
        <li>
            Hukum I Newton menyatakan bahwa benda yang tidak
            mengalami resultan gaya (ΣF=0) akan tetap diam atau bergerak
            lurus beraturan.
        </li>
        <li>
            Hukum II Newton menyatakan bahwa percepatan gerak sebuah
            benda berbanding lurus dengan gaya yang diberikan, namun
            berbanding terbalik dengan massanya.
        </li>
        <li>
            Hukum III Newton menyatakan bahwa ketika benda pertama
            mengerjakan gaya (F aksi) pada benda kedua, maka benda kedua
            tersebut akan memberikan gaya (F reaksi ) yang sama besar ke benda
            pertama namun berlawanan arah atau F aksi =−F reaksi .
        </li>
        <li>
            Fungsi rangka yaitu memberikan bentuk pada tubuh dan menopang
            tubuh kita; melindungi organ dalam, misalnya tulang rusuk
            melindungi jantung dan paru-paru, tulang tengkorak melindungi
            otak; tempat menempelnya otot yang merupakan alat gerak aktif
            sehingga dapat menggerakkan tulang; sebagai tempat pembentukan
            sel darah (pada jenis tulang tertentu, seperti tulang paha).
        </li>
    </ol>
</div>