<div class="box">
    <ol start="11">
        <li>
            Berdasarkan bentuknya, tulang dapat dibedakan menjadi empat
            jenis tulang, yaitu tulang panjang (misalnya tulang lengan atas
            atau humerus), tulang pipih (misalnya tulang dada atau sternum),
            tulang pendek (misalnya tulang ruas jari atau falang), dan tulang
            tidak beraturan (misalnya tulang punggung atau vertebra).
        </li>
        <li>
            Sendi adalah tempat bertemunya dua tulang atau lebih. Sendi
            dapat dikelompokkan berdasarkan banyak sedikitnya gerakan
            yang mungkin dilakukan. Sendi yang tidak dapat digerakkan
            disebut dengan sinartrosis, misalnya sendi yang terdapat pada
            tulang tengkorak. Sendi yang dapat digerakkan namun terbatas
            disebut dengan amfiartrosis, misalnya sendi antarruas tulang
            belakang. Sendi yang dapat digerakkan dengan bebas disebut
            dengan diartrosis. Sendi diartrosis dibagi menjadi sendi peluru,
            sendi engsel, sendi putar, sendi pelana, dan sendi geser.
        </li>
        <li>
            Ada tiga jenis jaringan otot yang menyusun tubuh manusia, yaitu
            otot rangka, otot jantung, dan otot polos.
        </li>
        <li>
            Ada beberapa macam gangguan dan kelainan yang terjadi pada
            sistem gerak antara lain, riketsia, osteoporosis, fraktura (patah
            tulang), artritis, lordosis, kifosis, dan skoliosis.
        </li>
        <li>
            Hewan yang hidup di air dapat melayang-layang di dalam air dengan
            mengeluarkan sedikit energi karena adanya gaya angkat oleh air.
        </li>
        <li>
            Kecenderungan hewan yang hidup di darat adalah memiliki otot
            dan tulang yang kuat. Hal tersebut diperlukan untuk mengatasi
            inersia (kecenderungan tubuh untuk diam) dan untuk menyimpan
            energi pegas (elastisitas) untuk melakukan berbagai aktivitas.
        </li>
        <li>
            Berdasarkan asal datangnya rangsangan, gerak pada tumbuhan
            dibedakan menjadi tiga, yaitu gerak endonom, gerak higroskopis,
            dan gerak esionom.
        </li>
        <li>
            Gerak endonom adalah gerak yang terjadi akibat rangsangan
            yang berasal dari dalam sel atau tubuh tumbuhan.
        </li>
        <li>
            Gerak higroskopis adalah gerak yang terjadi karena adanya
            perubahan kadar air di dalam sel secara tidak merata. Contohnya
            membukanya buah polong-polongan dan membukanya dinding
            sporangium tumbuhan paku.
        </li>
        <li>
            Gerak esionom adalah gerak tumbuhan yang disebabkan oleh
            adanya rangsangan dari luar tubuh tumbuhan (lingkungan
            sekitar). Berdasarkan arah respons gerak yang dilakukan
            tumbuhan, gerak esionom dapat dibedakan menjadi gerak
            tropisme, gerak taksis, dan gerak nasti.
        </li>
    </ol>
</div>