<div class="box">
    <center>
        <h3>Ayo, Kita Selesaikan</h3>
    </center>
    
    <ol>
        <li>
            Lengkapi double bubble map tentang perbedaan antara kelajuan dengan kecepatan berikut! 
            <div class="mb-4 text-center"><br>
                <img style="width:90%;" src="content/img/page7/1.png">
            </div>
        </li>
        <li>
            <div class="mb-2">Perhatikan tabel di bawah ini!</div>
            <div class="mb-4 text-center">
                <b>Tabel 1.1</b> Waktu dan Jarak Tempuh Bersepeda
                <img style="width:60%;" src="content/img/page7/3.png">
            </div>
        </li>
    </ol>
    
    <p class="no-indent">Tabel 1.1 tersebut menunjukkan besarnya jarak dan waktu
    yang diperlukan sepeda untuk bergerak. Coba gunakan rumus
    kelajuan dan percepatan untuk menghitung:</p>
    
    <ol type="a">
        <li>Kelajuan sepeda pada sekon ke-2</li>
        <li>Kelajuan sepeda pada sekon ke-4</li>
        <li>Kelajuan sepeda pada sekon ke-5</li>
        <li>Percepatan yang dialami sepeda</li>
    </ol>

    <p class="no-indent">Kesimpulan apakah yang diperoleh dari gerak sepeda tersebut?</p>
</div>