<div class="box">
    <center>
        <h3>Ayo, Kita Kerjakan Proyek</h3>
        <h6>Mengidentifikasi Jenis Gaya yang Bekerja pada Benda yang Bergerak dalam Kehidupan Sehari-hari</h6>
    </center>    
    <ul>
        <li><b>Permasalahan</b>
            <p>Dalam kehidupan sehari-hari kita dapat dengan mudah sekali
            menemukan benda yang bergerak. Benda dapat bergerak karena
            ada gaya yang memengaruhinya. Nah, apa sajakah contoh benda
            bergerak yang dapat kamu temui sehari-hari? Sebutkan pula gaya
            apa yang dapat menyebabkan benda tersebut dapat bergerak</p>
        </li>
        <li>
            <b>Perencanaan</b>
            <ol>
                <li>
                    Buatlah perencanaan untuk mencari contoh-contoh benda
                    bergerak dalam kehidupan sehari-hari yang terdapat di
                    lingkungan sekitarmu. Kamu dapat mencari informasi tersebut
                    dari koran, majalah ataupun media massa yang lainnya
                    baik media massa cetak ataupun elektronik. Pada kegiatan
                    perencanaan tersebut kamu dapat menuliskan waktu dan
                    tempat yang akan kamu kunjungi untuk mencari contoh benda
                    bergerak tersebut.
                </li>
                <li>
                    Lakukan kegiatan ini bersama dengan teman satu kelompokmu.
                    Satu kelompok dapat terdiri dari 3-4 orang.
                </li>
                <li>
                    Setelah selesai membuat perencanaan, konsultasikan hasil
                    perencanaan yang telah kamu rancang kepada guru atau orangtuamu.
                </li>
            </ol>
        </li>
        <li>
            <b>Pelaksanaan</b>
            <ol>
                <li>
                    Lakukan kegiatan yang sudah kamu rancang, yaitu mencari
                    contoh benda bergerak dan mengidentifikasi jenis gaya yang
                    dapat menyebabkan benda tersebut bergerak.
                </li>
                <li>
                    Catatlah hasil pengamatanmu tersebut. Kamu dapat membuat
                    tabel seperti Tabel 1.10 untuk mencatat data hasil pengamatanmu.
                </li>
            </ol>
        </li>
    </ul>
</div>