
<div class="box">
    <center>
        <h3>Ayo, Kita Kerjakan Proyek</h6>
        <h6>Mengidentifikasi Gangguan dan Kelainan pada Sistem Gerak</h6>
    </center>
    <ul>
        <li><b>Permasalahan</b><br>
            <p>Saat ini banyak orang yang menderita kelainan atau penyakit
            pada sistem gerak. Tetapi belum ada kegiatan sosialisasi terkait
            upaya menjaga kesehatan sistem gerak. Sosialisasi dapat dilakukan
            dengan menyebarkan artikel ataupun poster. Melalui kegiatan
            sosialisasi diharapkan masyarakat mengetahui upaya untuk
            menjaga kesehatan sistem gerak.</p>
        </li>
        <li>
            <b>Perencanaan</b><br>
            <ol>
                <li>
                    Buatlah perencanaan untuk mencari satu jenis kelainan atau
                    penyakit yang menyerang sistem gerak yang diderita oleh orang-
                    orang di sekitarmu! Kamu dapat mencari informasi tersebut dari
                    koran, majalah, ataupun media massa yang lainnya baik media
                    massa cetak ataupun elektronik. Pada kegiatan perencanaan
                    tersebut kamu dapat menuliskan waktu dan tempat yang akan
                    kamu kunjungi untuk mencari kelainan atau penyakit yang
                    menyerang sistem gerak.
                </li>
                <li>
                    Lakukan kegiatan ini bersama dengan teman satu kelompokmu. Satu kelompok dapat terdiri dari 3-4 orang.
                </li>
                <li>
                    Setelah selesai membuat perencanaan, konsultasikan hasil perencanaanmu yang telah kamu rancang kepada guru atau orangtua
                </li>
            </ol>
            <li>
                <b>Pelaksanaan</b><br>
                <ol>
                    <li>
                        Lakukan kegiatan yang sudah kamu rancang, yaitu mencari satu
                        jenis kelainan atau penyakit yang menyerang sistem gerak yang
                        diderita oleh orang-orang di sekitarmu. Jangan lupa ambillah
                        gambar atau foto orang yang menderita kelainan atau penyakit
                        tersebut.
                    </li>
                    <li>
                        Carilah informasi tentang penyebab serta upaya untuk mengatasi
                        kelainan atau penyakit yang menyerang sistem gerak yang
                        diderita oleh orang-orang di sekitarmu.
                    </li>
                </ol>
            </li>
        </li>
    </ul>
</div>
