<div class="box">
    <p><div style="padding: 20px; background: #F0E68C; border: 3px dotted red;">
    Lakukan kegiatan ini dengan teliti dan kritis. Apabila selama
    kamu menyelesaikan tugas ini kamu perlu melakukan konsultasi
    atau bertanya kepada seseorang, maka lakukanlah dengan baik
    dan sopan. Apabila kamu mengalami kesulitan, kamu dapat
    meminta bantuan kepada guru atau orangtuamu.</div></p>
    <ul>
        <li><b>Penilaian</b>
            <p>Penilaian dilakukan berdasarkan produk berupa artikel atau
            poster yang telah kamu susun berdasarkan informasi yang telah
            kamu kumpulkan. Pada artikel atau poster yang kamu susun,
            harus memuat informasi tentang ciri-ciri atau gejala kelainan
            atau penyakit, faktor yang menyebabkan kelainan atau penyakit,
            serta upaya untuk mengatasi kelainan atau penyakit. Selama
            menyelesaikan artikel atau poster ini jangan lupa bekerjasamalah
            dengan teman satu kelompokmu dan gunakan pula kreativitasmu
            untuk menyusun artikel atau poster ini! Sebaiknya artikel yang
            kamu susun dilengkapi dengan gambar/foto kegiatan, data hasil
            pengamatan, dan sumber rujukan yang digunakan. Jika kamu
            membuat poster, buat uraian secara ringkas! Apabila kamu telah
            menyelesaikan artikel atau poster tersebut, tempelkan hasilnya di
            mading kelas.</p>
        </li>
    </ul>
</div>