<p>Tuhan telah menciptakan manusia sebagai makhluk yang paling
sempurna. Tuhan menganugerahkan manusia akal pikiran untuk
merenungi segala makhluk yang telah diciptakan Tuhan. Melalui akal
pikiran tersebut manusia  dapat menemukan berbagai alat, misalnya
gunting yang dapat digunakan untuk memotong kertas, membuka
sebuah bingkisan atau membuka bungkus makanan, katrol yang
biasa digunakan untuk mengambil air dari sumur, sekrup untuk
menyatukan  beberapa kayu sehingga kita dapat membuat meja, pinset
untuk mengambil beberapa objek saat kamu melakukan praktikum,
roda untuk mempermudah dalam memindahkan barang, dan lain
sebagainya. Tanpa menggunakan beberapa alat tersebut tentu kamu
akan kesulitan melakukan beberapa aktivitas yang telah disebutkan.
Oleh karena itu, kamu  wajib bersyukur atas anugerah akal pikiran yang
diberikan Tuhan kepadamu. Kemudian bagaimana alat-alat tersebut
dapat mempermudah kamu dalam melakukan berbagai aktivitas? Agar
mengetahuinya, ayo kita pelajari materi ini dengan antusias!</p>
<!-- TUTUP -->

<h3><span>A</span>Usaha</h3>

<div class="text-center mb-2">
    <img style="width:90%;" class="mb-3" src="content/img/page76/1.png" alt="" />
</div>

<p>Pernahkah kamu berusaha mendorong tembok? Apakah tembok
tersebut bergerak? Meskipun kamu merasa lelah dan berkeringat,
namun saat kamu mendorong tembok tersebut, dikatakan bahwa
kamu tidak melakukan usaha sama sekali atau usahanya bernilai nol.
Mengapa demikian?</p>