
<div class="box">
    <center>
        <h3>Ayo Kita Pikirkan</h3>
    </center>
    <p align="justify">
        Perhatikan pernyataan-pernyataan yang terdapat pada Tabel 
        2.1! Analisislah manakah yang termasuk kegiatan melakukan
        usaha! Berapa besar usaha yang dilakukan?
    </p>
    <div class="text-center mb-4">
        <img style="width:80%;" class="mb-3" src="content/img/page77/1.png" alt="" />
    </div>   
</div>
<p>Semakin besar gaya yang digunakan untuk memindahkan benda, 
semakin besar pula usaha yang dilakukan. Semakin besar perpindahan
benda, semakin besar pula usaha yang dilakukan. Berdasarkan
pernyataan tersebut dapat disimpulkan bahwa besarnya usaha (W) 
ditentukan oleh besar gaya yang diberikan pada benda (F) dan besar 
perpindahannya   (Δs).  Secara matematis dapat dituliskan sebagai
berikut. </p>

<center>
    <div>
        W = F   ∙   Δs
    </div> 
</center>

<p>dengan:</p>
<p>W = usaha (joule)</p>
<p>F = gaya (newton)</p>
<p>Δs = perpindahan (meter)</p>