
<div class="box">
    <center>
        <h3>Ayo Kita Pahami</h3>
    </center>
    <p>Apakah kamu sudah mulai mengetahui tentang konsep dan 
    penerapan rumus usaha? Agar kamu lebih memahami konsep dan
    penerapan rumus usaha, ayo pahami pertanyaan berikut!</p>
    <p>Lani mendorong rak dengan gaya sebesar 100 N sehingga rak
    tersebut berpindah sejauh 10 m, sedangkan Siti mendorong rak
    lainnya yang sama massa dan ukurannya dengan gaya sebesar 400 N
    sehingga rak tersebut berpindah sejauh 40 m. Berapakah besar
    usaha yang dilakukan oleh Lani dan Siti?</p>
    
    <div class="text-left mb-4">
        <img style="width:40%;" class="mb-3" src="content/img/page78/1.png" alt="" />
        <p>Jadi, besar usaha yang dilakukan oleh gaya dorong Lani adalah 
        1.000 J dan besar usaha yang dilakukan oleh gaya dorong Siti
        adalah  16.000  J.</p>
    </div>
</div>
<p>Berdasarkan   fitur   “Ayo,   Kita    Pahami”,    bagaimana   dengan  laju   
energi yang dikeluarkan oleh Lani dan Siti, siapakah di antara Lani
dan Siti yang mengeluarkan energi paling banyak untuk memindahkan
rak? Laju energi atau daya (P) adalah besar energi yang dipergunakan
dalam setiap detik, sehingga dapat ditentukan dengan cara membagi
besar usaha (W) dengan selang waktunya (t), atau secara matematis
dapat dituliskan sebagai berikut</p>
<div class="text-center mb-4">
    <img style="width:15%;" class="mb-3" src="content/img/page78/2.png" alt="" />
</div>    
<p>dengan:</p>
<p>P = daya (watt)</p>
<p>W = usaha (joule)</p>
<p>t = waktu (sekon)</p>