<div class="box">
    <center>
        <h3>Ayo Kita Pahami</h3>
    </center>
    <p>Agar kamu dapat lebih memahami tentang energi yang 
    diperlukan oleh Lani dan Siti untuk memindahkan rak, ayo simak
    contoh soal berikut!</p>
    <p>Lani memindahkan rak dengan usaha sebesar 1.000 J dalam
    waktu 10 sekon, sedangkan Siti memindahkan rak tersebut dengan
    usaha    sebesar     16.000  J   dalam   waktu   40  sekon.  Berapakah   daya   
    yang dikeluarkan Lani dan Siti untuk memindahkan rak?</p>
    <div class="text-left mb-4">
        <img style="width:50%;" class="mb-3" src="content/img/page79/1.png" alt="" />
    </div>
    <p>Jadi, daya yang dikeluarkan Lani adalah sebesar 100 watt dan Siti
    adalah sebesar 400 watt.</p>    
</div>
<div class="box">
    <center>
        <h3>Ayo, Kita Selesaikan</h3>
    </center>
    <p>Beny mendorong kereta belanja dengan gaya sebesar 250 N 
    sehingga kereta belanjanya maju ke depan sejauh 50 m. Waktu yang
    diperlukan oleh Beny untuk mendorong kereta belanja tersebut
    adalah 50 sekon. Tentukan:</p>
    <ol type="a">
        <li>besar usaha yang dilakukan oleh Beny untuk mendorong keretabelanja,</li>
        <li>daya yang dilakukan Beny untuk mendorong kereta belanja.</li>          
    </ul>
</div>