<h3><span>B</span>Pesawat Sederhana</h3>
<div class="text-center mb-4">
    <img style="width:80%;" class="mb-3" src="content/img/page80/1.png" alt="" />
</div>  
<p align="justify">Pada saat kita melakukan aktivitas, kita selalu berupaya agar dapat
melakukan usaha dengan mudah. Oleh karena itu, kita menggunakan
alat bantu (pesawat sederhana) untuk membantu melakukan aktivitas.
Agar kamu dapat memahami pentingnya pesawat sederhana bagi
kehidupan sehari-hari, ayo diskusikan beberapa aktivitas berikut.
</p>         
<div class="box">
    <center>
        <h3>Ayo Kita Diskusikan</h3>
    </center>
    <p align="justify">Lakukan  pengamatan  terhadap  berbagai  macam  aktivitas  
    yang  sering dilakukan oleh orang-orang di sekitarmu! Menurut
    pendapatmu, aktivitas-aktivitas tersebut lebih mudah dilakukan
    dengan menggunakan alat bantu atau dengan tangan saja?
    </p>
    <div class="text-center">
        <center><b>Tabel 2.2 </b>Kegiatan Sehari-hari  dan Pesawat Sederhana yang Digunakan sebagai Alat Bantu</center>   
        <div class="text-center mb-4">
            <img style="width:70%;" class="mb-3" src="content/img/page80/2.png" alt="" />
        </div>
    </div>   
</div>