<p align="justify">Katrol bebas berfungsi untuk melipatkan gaya, sehingga gaya pada
kuasa yang diberikan untuk mengangkat benda menjadi lebih kecil
daripada gaya beban. Katrol jenis ini biasanya ditemukan di pelabuhan
yang digunakan untuk mengangkat peti kemas. Keuntungan mekanis
dari katrol bebas lebih besar dari 1. Pada kenyataannya nilai keuntungan
mekanis dari katrol bebas tunggal adalah 2. Hal ini berarti bahwa gaya
kuasa 1 N akan mengangkat beban 2 N.</p>
<div class="row">    
    <div class="col-md-4">
        <div class="mb-4 text-center">
            <a data-fancybox="gallery" href="content/img/page82/1.png"><img style="width:100%;" src="content/img/page82/1.png"></a>
            <div>
            <small>Sumber: Dok. Kemendikbud
                <br/>
                <b>Gambar 2.3 </b> Katrol Majemuk</small>
            </div>
        </div> 
    </div>    
    <div class="col-md-8">
        <p align="justify"> Agar gaya kuasa yang diberikan
        pada benda semakin kecil, maka
        diperlukan katrol majemuk. Katrol
        majemuk merupakan gabungan
        dari katrol tetap  dan  katrol  bebas 
        yang  dirangkai  menjadi satu sistem
        yang terpadu. Katrol majemuk biasa
        digunakan dalam bidang industri
        untuk mengangkat benda-benda 
        yang  berat.  Keuntungan  mekanis
        dari katrol majemuk sama dengan
        jumlah tali yang menyokong berat
        beban. Misalnya seperti pada Gambar
        2.3, gaya kuasa pada katrol majemuk
        tersebut adalah 4, karena jumlah
        tali yang mengangkat beban ada 4
        (tali kuasa tidak diperhitungkan).
        Tahukah kamu, kerugian apakah
        yang terjadi pada penggunaan katrol
        majemuk? Coba diskusikan dengan
        teman-temanmu!</p>
    </div>    
</div>
<div class="box">
    <center>
    <h3>Ayo, Kita Pahami</h3>
    </center>
    <p align="justify">Keuntungan mekanis (KM) adalah bilangan yang menunjukkan 
    berapa kali pesawat sederhana menggandakan gaya. Dapatkah kamu
    menghitungnya? Caranya dengan menghitung besar perbandingan
    gaya beban dengan gaya kuasa yang diberikan pada benda. Berikut
    adalah persamaan matematisnya:</p>
</div>