<div class="box">
    <center>
        <div class="text-center mb-4">
            <a data-fancybox="gallery" href="content/img/page83/1.png"><img style="width:30%;" class="mb-3" src="content/img/page83/1.png" alt="" /></a>
        </div> 
    </center>
    <p align="justify">Tidak semua pesawat sederhana dapat menggandakan gaya.
    Contohnya adalah katrol tetap tunggal. Katrol ini hanya berfungsi 
    untuk mengubah arah gaya. Oleh karena itu, pada katrol tetap
    tunggal hanya memiliki keuntungan mekanis sebesar 1. Hal ini
    disebabkan besarnya gaya kuasa sama dengan gaya beban.</p> 
</div>
<h5><span>b.</span>Roda Berporos</h5>
<div class="row">    
    <div class="col-md-8">
        <p align="justify">Kamu tentunya sudah tidak 
        asing lagi dengan sepeda, bahkan
        sebagian besar di antara kamu
        pasti pernah menggunakannya.
        Roda gigi (gear) dan ban pada
        sepeda adalah salah satu contoh
        pesawat sederhana yang tergolong
        roda berporos. Roda gigi berfungsi
        sebagai pusat pengatur gerak roda
        sepeda yang terhubung langsung
        dengan roda sepeda, sedangkan roda sepeda menerapkan prinsip roda
        berporos untuk mempercepat gaya saat melakukan perjalanan. Gambar
        2.4 menunjukkan roda gigi pada sepeda motor sebagai contoh roda
        berporos.
        Selain roda sepeda, contoh penerapan pesawat sederhana
        jenis roda berporos adalah pada kursi roda, mobil, dan sepatu roda</p>
    </div>
    <div class="col-md-4">
        <div class="mb-4 text-center">
            <a data-fancybox="gallery" href="content/img/page83/2.png"><img style="width:110%;" src="content/img/page83/2.png"></a>
        <div>
            <small>Sumber:  www.billetboard.com
            <br/>
            <b>Gambar 2.4 </b> Contoh Roda Berporos: Roda Gigi pada Sepeda Motor</small>
        </div>
    </div> 
</div> 

<h5><span>c.</span>Bidang Miring</h5>
<div class="row">    
    <div class="col-md-8">
        <p align="justify">Bidang miring merupakan bidang 
        datar yang diletakkan miring atau
        membentuk sudut tertentu sehingga
        dapat memperkecil gaya kuasa.
        Contoh penerapan bidang miring
        adalah tangga, sekrup, dan pisau. </p>
    </div>
    <div class="col-md-4">
        <div class="mb-4 text-center">
            <a data-fancybox="gallery" href="content/img/page83/3.png"><img style="width:110%;" src="content/img/page83/3.png"></a>
            <div>
                <small>Sumber:  www.billetboard.com
                <br/>
                <b>Gambar 2.5 </b> Contoh Bidang Miring:Sekrup</small>
            </div>
        </div> 
    </div>    
</div>