<p align="justify">
    Perhatikan <b> Gambar  2.6!</b> Keuntungan  mekanis     bidang  miring  dapat  
    dihitung sebagai berikut.
</p>
    
<div class="text-center mb-4">
    <a data-fancybox="gallery" href="content/img/page84/1.png"><img style="width:30%;" class="mb-3" src="content/img/page84/1.png" alt="" /></a>
</div> 
    
<div class="mb-4 text-center">
    <a data-fancybox="gallery" href="content/img/page84/2.png"><img style="width:80%;" src="content/img/page84/2.png"></a>
    <div>
        <small>Sumber: Dok. Kemendikbud
        <br/>
        <b>Gambar 2.4 </b> Contoh Benda: Di Bidang Miring</small>
    </div> 
</div> 
        
<p align="justify">Karena segi tiga yang besar sebangun dengan segitga yang kecil, maka </p> 

<div class="text-left mb-4">
    <img style="width:50%;" class="mb-3" src="content/img/page84/3.png" alt="" />
</div>