<div class="box">
    <center>
        <h3>Ayo, Kita Lakukan</h3>
        <h6>Aktivitas 2.1 Membuktikan Bahwa Sekrup adalah Salah Satu Contoh Bidang Miring</h6>
    </center>
    <p><b>Apa yang kamu perlukan?</b></p>
    <ol type="1">
        <li>Paku besar</li>
        <li>Kertas berbentuk segitiga siku-siku</li>
    </ol>
    <p><b>Apa yang harus kamu lakukan?</b></p>
    <ol type="1">
        <li>Meletakkan paku besar di atas kertas segitiga (Perhatikan Gambar 2.7!)</li>
        <li>
            Gulunglah paku tersebut hingga mencapai ujung kertas! Amati bentuk kertas pada bagian sisi gulungan!
            <div class="mb-4 text-center">
                <a data-fancybox="gallery" href="content/img/page85/1.png"><img style="width:100%;" src="content/img/page85/1.png"></a>
                <div>
                    <small>Sumber: Dok. Kemendikbud
                    <br/>
                    <b>Gambar 2.7 </b> (a) Kertas Berbentuk Segitiga, (b) Posisi Kertas dan Paku</small>
                </div>
            </div>
        </li>
        <li>Berdasarkan hasil pengamatanmu, buatlah kesimpulan yang berkaitan dengan penerapan bidang miring!</li>
    </ol>
</div>
<h5><span>b.</span>Pengungkit</h5>
<p align="justify">Pengungkit merupakan salah satu jenis pesawat sederhana yang paling banyak digunakan dalam kehidupan sehari-hari. Contoh
alat- alat yang merupakan pengungkit antara lain gunting, linggis, jungkat- jungkit, pembuka botol, pemecah biji kenari,
sekop, koper, pinset, dan sebagainya. Tabel 2.3 menunjukkan berbagai jenis pengungkit yang dikelompokkan berdasarkan variasi
letak titik tumpu, lengan kuasa, dan lengan beban.</p>