<div class="mb-4 text-center">
    <a data-fancybox="gallery" href="content/img/page86/1.png"><img style="width:80%;" src="content/img/page86/1.png"></a>
    <div>
        <small>
            Sumber: Dok. Kemendikbud
            <br/>
            <b>Gambar 2.8 </b> Posisi Lengan Kuasa dan Lengan Beban
        </small>
    </div>
</div>
<p align="justify">Pengungkit  dapat  memudahkan  usaha  dengan  cara 
menggandakan gaya kuasa dan mengubah arah gaya. Agar kita dapat
mengetahui besar gaya yang dilipatgandakan oleh pengungkit maka
kita harus menghitung keuntungan mekanisnya. Cara menghitung
keuntungan mekanisnya adalah dengan membagi panjang lengan
kuasa dengan panjang lengan beban. Panjang lengan kuasa adalah
jarak dari tumpuan sampai titik bekerjanya gaya kuasa. Panjang lengan
beban adalah jarak dari tumpuan sampai dengan titik bekerjanya gaya
beban. Agar kamu mudah memahaminya, perhatikan Gambar 2.8!</p>
<div class="mb-4 text-left">
    <img style="width:70%;" src="content/img/page86/2.png">
<div>
<div class="mt-4 text-center">
    <small><b>Tabel 2.3</b>Jenis Pengungkit yang Dikelompokkan Berdasarkan Letak Titik Tumpu, Lengan Kuasa, dan Lengan Beban</small>
    <div>
    <img style="width:100%;" src="content/img/page86/3.png">
    </div>
<div>