
<div class="mb-4 text-center">
    <img style="width:80%;" src="content/img/page87/1.png">
    <div>
        <small>Sumber: Dok. Kemendikbud</small>
    </div>
</div> 
<div class="box">
    <center>
        <h3>Ayo, Kita Diskusikan</h3>
    </center>
    <p align="justify">Menurut kamu, apakah pengungkit jenis ketiga dapat membuat 
    gaya kuasa yang digunakan untuk mengangkat beban menjadi lebih
    kecil dari gaya bebannya? Jelaskan!</p>
</div>
<div class="box">
    <center>
        <h3>Ayo, Kita Pikirkan</h3>
    </center>
    <p align="justify">Beni dan ayahnya sedang bermain jungkat-jungkit di taman 
    kota. Ketika tumpuan berada di tengah-tengah jungkat-jungkit,
    Beni tidak dapat mengangkat ayahnya. Bagaimanakah caranya agar
    Beni dan ayahnya dapat berjungkat-jungkit?</p>
</div>