<div class="box">
    <center>
        <h3>Ayo, Kita Lakukan</h3>
        <h6>Aktivitas 2.2 Mengidentifikasi Syarat Keseimbangan Pengungkit</h6>
    </center>
                           
    <p align="justify">Jika terdapat dua orang yang memiliki berat badan berbeda,
    yaitu gemuk dan kurus ingin bermain jungkat-jungkit, di manakah
    posisi yang dapat diduduki orang yang gemuk jika orang yang kurus
    duduk di ujung kiri? Coba jawab pertanyaan ini dengan bantuan
    kegiatan berikut.</p>
    <p><b>Apa yang  kamu perlukan?</b></p>
    <p>Set percobaan pengungkit seperti pada Gambar 2.9.</p>
    <p><b>Apa yang harus kamu lakukan?</b></p>
    <ol>
        <li>
            Susunlah set percobaan seperti pada Gambar 2.9.
            <div class="mb-4 text-center">
                <a data-fancybox="gallery" href="content/img/page88/1.png"><img style="width:70%;" src="content/img/page88/1.png"></a>
                <div>
                    <small>Sumber: Dok. Kemendikbud
                        <br/>
                        <b>Gambar : 2.9 </b>Set Percobaan Kesetimbangan Pengungkit
                    </small>
                </div>
            </div>
        </li>
    </ol>  
</div>