<div class="box">
    <ol start="2">
        <li>Tentukan sisi yang bertindak sebagai kuasa dan bertindaksebagai beban.
        <li>Gantungkan beban gantung pada sisi beban dan beban gantung lain pada sisi kuasa.
        <li>Aturlah jaraknya antara beban dan kuasa hingga posisinya seimbang.
        <li>Lakukan langkah 2-4 sebanyak 5 kali dengan menambah berat beban (FB), tetapi letak beban (LB) dan berat kuasa (F) tetap. Amati dan catat datanya pada Tabel 2.4!</li>
    </ol>
    <center>
        <p><b>Tabel 2.4</b> Data Hasil Pengamatan Syarat Kesetimbangan Pengungkit</p>
    </center>
    <div class="mb-4 text-center">
        <img style="width:70%;" src="content/img/page89/1.png">
    </div>
    <p><b>Apa yang dapat kamu simpulkan?</b></p>
    <p>Berdasarkan percobaan yang kamu lakukan, apa yang dapat kamu simpulkan?</p>
</div>
<div class="box">
    <center>
        <h3>Ayo, Kita Lakukakan</h3>
        <h6>Aktivitas 2.3 Mengidentifikasi Pesawat Sederhana yang Ada di Rumah</h6>
    </center>
    <p><b>Apa yang kamu perlukan?</b></p>
    <p>Buku IPA dan alat tulis.</p>
    <p><b>Apa yang kamu perlukan?</b></p>
    <ol>
        <li>Identifikasilah minimal 10 macam alat-alat yang termasuk pesawat sederhana yang ada di umahmu.
        <li>Catatlah hasilnya di bukumu!
    </ol>
</div>