<div class="box">
    <div class="mb-4 text-center">
        <div><b>Tabel 1.2</b> Waktu dan Jarak Tempuh Mobil</div>
        <div class="mt-3 text-center">
            <a data-fancybox="gallery" href="content/img/page9/1.png"><img style="width:40%;" src="content/img/page9/1.png"></a>
        </div>
    </div>    
    <p>Berapakah perubahan kecepatan mobil dalam setiap sekon? Coba diskusikan dengan teman sebangkumu!</p>
</div>

<p>Setelah melakukan diskusi, apakah kamu telah menemukan
besarnya perubahan kecepatan dalam setiap sekon? Berdasarkan data
yang terdapat pada Tabel 1.2 dapat diketahui besar perlambatan mobil
sebesar 4 m/s 2 . Nilai tersebut diperoleh dari:</p>

<div class="mb-4 mt-4">
    <a data-fancybox="gallery" href="content/img/page9/2.png"><img style="width:35%;" src="content/img/page9/2.png"></a>
</div>

<p>Karena perubahan kecepatan mobil dalam setiap sekon selalu tetap,
maka percepatan gerak mobil adalah tetap sehingga mobil tersebut
bergerak lurus berubah beraturan (GLBB).</p>

<p>Percepatan benda tidak hanya berlaku pada kendaraan yang sedang
bergerak secara horizontal, tetapi juga pada benda yang bergerak
secara vertikal. Semua benda yang ada di permukaan bumi mengalami
gaya gravitasi bumi. Gaya gravitasi yang dimaksud adalah gaya tarik
benda oleh bumi sehingga benda mengalami percepatan konstan yaitu
sebesar 9,8 m/s 2 (percepatan gravitasi). Untuk memudahkan dalam
perhitungan, percepatan gravitasi bumi dibulatkan menjadi 10 m/s 2 .</p>