<h4><span>2</span>Prinsip Kerja Pesawat Sederhana</h4>
<p align="justify">Selain pada peralatan yang biasa kamu gunakan pada kehidupan
sehari-hari tersebut, prinsip pesawat sederhana juga ada yang berlaku
pada struktur otot dan rangka manusia. Pada saat mengangkat barbel
telapak tangan yang menggenggam barbel berperan sebagai gaya beban,
titik tumpu berada pada siku (sendi di antara lengan atas dan lengan
bawah), dan kuasanya adalah lengan bawah. Titik tumpu berada di
antara lengan beban dan kuasa, oleh karena itu lengan disebut sebagai
pesawat sederhana pengungkit jenis ketiga.</p>
        
<div class="mb-4 text-center">
    <a data-fancybox="gallery" href="content/img/page90/1.png"><img style="width:80%;" src="content/img/page90/1.png"></a>
    <div>
        <small>
            Sumber: Dok. Kemendikbud
            <br/> <b>Gambar : 2.10 </b>(a) Seseorang Mengangkat Barbel, (b) Posisi Lengan Kuasa, Lengan
            Beban, dan Penumpu pada Tangan Saat Mengangkat Barbel
        </small>
    </div>
</div>
<div class="box">
    <center>
        <h3>Ayo, Diskusikan</h3>
    </center>
    <p align="justify">Dengan menggunakan prinsip kerja pesawat sederhana, 
    coba kamu tuliskan penjelasan untuk contoh kasus 1 dan kasus
    2 penerapan prinsip pesawat sederhana pada struktur otot dan
    rangka manusia saat melakukan suatu aktivitas!</p>
</div>