<div class="box text-center">
    <div class="row">
        <div class="col">
            <p>Kasus 1 Menengadahkan Kepala</p>
            <div class="mb-4 text-center">
                <a data-fancybox="gallery" href="content/img/page91/1.png"><img style="width:70%;" src="content/img/page91/1.png"></a>
            </div>
        </div>
        <div class="col">
            <p>Kasus 2 Kaki Jinjit</p>
            <div class="mb-4 text-center">
                <a data-fancybox="gallery" href="content/img/page91/2.png"><img style="width:70%;" src="content/img/page91/2.png"></a>
            </div>
        </div>
    </div>
    <div>
        <small>Sumber: Tortora & Derricson, 2008<br/><b>Gambar : 2.11</b> Prinsip Kerja Pesawat Sederhana pada Kegiatan Tubuh Manusia</small>
    </div>
</div>
<p align="justify">Selain pada kegiatan mengangkat barbel, jinjit, berdiri, dan
menunduk, prinsip pengungkit juga dapat digunakan untuk
menganalisis pola gerak tubuh pada saat bermain bulutangkis seperti
pada Gambar 2.12!</p>