<div class="box">
    <center>
        <h3>Ayo, Kita Renungkan</h3>
    </center>
    <p>Konsep usaha, daya, dan pesawat sederhana hanyalah sebagian kecil ilmu Tuhan yang dapat digunakan untuk menjelaskan bagaimana
    sistem kerja benda-benda yang ada. Berkat ilmu tersebut kita juga dapat memahami bagaimana cara kerja anggota gerak manusia
    yang sangat efektif. Tulang sebagai alat gerak aktif bagaikan pengungkit yang digerakkan secara harmonis oleh gaya otot.
    Gerakan-gerakan pengungkit tersebut sangat efisien dengan keuntungan mekanis tertentu sehingga mampu memperkecil energi yang
    harus dikeluarkan oleh tubuh. Tuhan mengatakan bahwa jika air lautan adalah tinta, maka kamu takkan pernah cukup menggunakannya
    untuk menuliskan seluruh ilmu-Nya. Maka teruslah belajar dan tetaplah rendah hati. Pernahkah kamu membayangkan bagaimana
    istimewanya ciptaan Tuhan yang satu ini? Sudahkah kamu mensyukuri segala ciptaan Tuhan termasuk dengan adanya pesawat sederhana?
    Coba jawablah beberapa pertanyaan yang terdapat pada Tabel 2.5!</p>
    
    <center>
        <small>
            <b>Tabel 2.5</b> Pertanyaan untuk Refleksi<br/>
            Terkait Usaha dan Pesawat Sederhana dalam Kehidupan Sehari-hari
        </small>
        
        <div class="text-center mb-4">
            <img style="width:90%;" class="mb-3" src="content/img/page93/1.png" alt="" />
        </div>
    </center>

    <p>Coba kamu hitung, berapa total skormu dengan ketentuan:</p>
    <ul>
        <li>Jawaban “ya” mendapat skor 2 (dua)</li>
        <li>Jawaban “tidak” mendapat skor 0 (nol)</li>
    </ul>

</div>