<div class="box">
    
    <p>Bandingkan total skormu dengan kriteria berikut.</p>
    <ul>
        <li>Skor 0 - 3 : berarti kamu belum memanfaatkan alat-alat yang menerapkan prinsip pesawat sederhana dengan baik</li>
        <li>Skor 4 - 6 : berarti kamu telah memanfaatkan alat-alat yang menerapkan prinsip pesawat sederhana dengan baik</li>
        <li>Skor 7 - 10 : berarti kamu telah memanfaatkan alat-alat yang menerapkan prinsip pesawat sederhana dengan sangat baik</li>
    </ul>

    <p>Untuk kamu yang belum memanfaatkan alat-alat yang menerapkan prinsip pesawat sederhana dengan baik, sebaiknya kamu terus
    berusaha untuk meningkatkan motivasimu dalam belajar terkait konsep usaha dan pesawat sederhana.</p>

</div>