<div class="box">
    <center>
        <h3>Rangkuman</h3>
    </center>
    <ol>
        <li>Usaha adalah besarnya energi yang digunakan gaya untuk memindahkan suatu benda.</li>
        <li>Besarnya usaha (W) ditentukan oleh besar gaya yang diberikan pada benda (F) dan besar perpindahannya (Δs).</li>
        <li>Pesawat sederhana adalah alat yang digunakan untuk mempermudah pekerjaan manusia.</li>
        <li>Keuntungan mekanis (KM) adalah bilangan yang menunjukkan berapa kali pesawat menggandakan gaya.</li>
        <li>Jenis-jenis pesawat sederhana ada empat, yaitu katrol, roda berporos, bidang miring, dan pengungkit.</li>
        <li>Katrol terdiri atas katrol tetap dan katrol bebas. Katrol tetap berfungsi untuk mengubah arah gaya. Pada katrol tetap tunggal,
        gaya kuasa yang digunakan untuk menarik beban sama dengan gaya beban. Keuntungan mekanis katrol tetap sama dengan 1. Katrol
        bebas berfungsi untuk melipatkan gaya, sehingga gaya pada kuasa yang diberikan untuk mengangkat benda menjadi lebih kecil
        daripada gaya beban.</li>
        <li>Katrol majemuk merupakan gabungan dari katrol tetap dan katrol bebas yang dirangkai menjadi satu sistem yang terpadu.</li>
        <li>Keuntungan mekanis dari katrol majemuk sama dengan jumlah tali yang menyokong berat beban.</li>
        <li>Beberapa benda yang menerapkan prinsip roda berporos di antaranya roda sepeda, kursi roda, mobil, dan sepatu roda</li>
        <li>Bidang miring merupakan bidang datar yang diletakkan miring atau membentuk sudut tertentu sehingga dapat memperkecil gaya
        kuasa.</li>
        <li>Beberapa benda yang menerapkan prinsip bidang miring di antaranya tangga, sekrup, dan pisau.</li>
    </ol>
</div>