<div class="box">
    <ol start="12">
        <li>Pengungkit terdiri atas tiga jenis, yaitu jenis pertama yang titik tumpunya terletak di antara beban dan kuasa, jenis kedua
        yang titik bebannya ada di antara kuasa dan tumpu, serta jenis ketiga yang titik kuasanya ada di antara beban dan tumpu.</li>
        <li>Beberapa benda yang menerapkan prinsip pengungkit antara lain gunting, linggis, jungkat-jungkit, pembuka botol, pemecah biji
        kenari, sekop, koper, pinset, dan sebagainya.</li>
        <li>Pengungkit dapat memudahkan usaha dengan cara mengganda- kan gaya kuasa dan mengubah arah gaya.</li>
        <li>Koordinasi otot dan tulang memiliki kesesuaian dengan prinsip pesawat sederhana.</li>
        <li>Lengan merupakan salah satu organ yang menerapkan prinsip pesawat sederhana yaitu merupakan pengungkit jenis ketiga.</li>
        <li>Alat-alat dalam kehidupan yang mengikuti prinsip pesawat sederhana terdiri atas katrol, roda berporos, bidang miring, dan
        pengungkit.</li>
    </ol>
</div>