<div class="identity">

    <p class="mb-5">Hak Cipta © 2019 pada Kementerian Pendidikan dan Kebudayaan
    Dilindungi Undang-Undang</p>

    <p><i><b>Disklaimer:</b> Buku ini merupakan buku siswa yang dipersiapkan Pemerintah dalam rangka implementasi
    Kurikulum 2013. Buku siswa ini disusun dan ditelaah oleh berbagai pihak di bawah koordinasi Kementerian
    Pendidikan dan Kebudayaan. Buku ini merupakan “dokumen hidup” yang senantiasa diperbaiki, diperbarui,
    dan dimutakhirkan sesuai dengan dinamika kebutuhan dan perubahan zaman. Masukan dari berbagai
    kalangan yang dialamatkan kepada penulis dan laman http://buku.kemdikbud.go.id atau melalui email buku@
    kemdikbud.go.id diharapkan dapat meningkatkan kualitas buku ini.</i></p>

    <p><i>Katalog Dalam Terbitan (KDT)</i></p>

    <div class="isbn">Sutrisno, Hari. <br/>Semangat Berolahraga: Pendidikan Jasmani Olahraga dan Kesehatan SD/MI Kelas V/ Hari Sutrisno. Jakarta: Pusat Kurikulum dan Perbukuan Balitbang Kemendikbud, 2019.<br/>
    xii, 192 hlm. : ilus. ; 29,7 cm.<br/><br/>
    Untuk SD/MI Kelas V<br/>
    ISBN 978-602-244-221-9 (jilid lengkap)<br/>
    ISBN 978-602-244-222-6 (jilid 1)<br/><br/>
    1. Pendidikan Jasmani Olahraga dan Kesehatan -- Studi dan Pengajaran<br/>
    2. Nur Sita Utami<br/>
    3. Riky Dwihandaka <br/><br/>
    I. Judul<br/>
    II. Kementerian Pendidikan dan Kebudayaan<br/>
        <div class="text-right">790</div>
    </div>
    
    <p>
        <table>
            <tr><td>Penulis</td><td>&nbsp;&nbsp;&nbsp;&nbsp;:</td></td><td>Hari Sutrisno, Nur Sita Utami, Riky Dwihandaka</td></tr>
            <tr><td>Penelaah</td><td>&nbsp;&nbsp;&nbsp;&nbsp;:</td><td>Erwin Setyo Kriswanto, Slamet Raharjo, Suroto, dan Yusmawati</td></tr>
            <tr><td>Reviewer</td><td>&nbsp;&nbsp;&nbsp;&nbsp;:</td><td>Kokom Komala</td></tr>
            <tr><td>Penerbit</td><td>&nbsp;&nbsp;&nbsp;&nbsp;:</td><td>Pusat Kurikulum dan Perbukuan, Balitbang, Kemendikbud</td></tr>
        </table>
    </p>

    <p class="printing">Cetakan Ke-1, 2019<br/>
    Disusun dengan huruf Baar Metanoia, 12 pt.</p>
    
</div>