<div class="foreword">

    <div class="text-center title">
        Kata Pengantar
    </div>

    <p>Kurikulum 2013 dirancang untuk memperkuat kompetensi peserta didik dari sisi pengetahuan, keterampilan, dan sikap secara
    utuh. Proses pencapaiannya melalui pembelajaran sejumlah mata pelajaran yang dirangkai sebagai suatu kesatuan yang saling
    mendukung pencapaian kompetensi tersebut. Bila pada jenjang SD/MI, beberapa mata pelajaran digabung menjadi satu dan disajikan
    dalam bentuk tema-tema, maka pada jenjang SMP/MTs pembelajaran sudah mulai dipisah-pisah menjadi mata pelajaran.</p>

    <p>Sebagai transisi menuju ke pendidikan menengah, pemisahan ini masih belum dilakukan sepenuhnya bagi peserta didik SMP/ MTs.
    Materi-materi dari bidang-bidang ilmu Fisika, Kimia, Biologi, serta Ilmu Bumi dan Antariksa masih perlu disajikan sebagai
    suatu kesatuan dalam mata pelajaran IPA (Ilmu Pengetahuan Alam). Hal ini dimaksudkan untuk memberikan wawasan yang utuh bagi
    peserta didik SMP/MTs tentang prinsip-prinsip dasar yang mengatur alam semesta beserta segenap isinya.</p>

    <p>Buku IPA Kelas VIII SMP/MTs ini disusun dengan pemikiran di atas. Bidang ilmu Biologi dipakai sebagai landasan (platform)
    pembahasan bidang ilmu yang lain. Makhluk hidup digunakan sebagai objek untuk menjelaskan prinsip-prinsip dasar yang mengatur
    alam seperti objek alam dan interaksinya, energi dan keseimbangannya, dan lain-lain. Melalui pembahasan menggunakan bermacam
    bidang ilmu dalam rumpun ilmu pengetahuan alam, pemahaman utuh tentang alam yang dihuninya beserta benda-benda alam yang
    dijumpai di sekitarnya dapat dikuasai oleh peserta didik SMP/MTs.</p>

    <p>Sebagai salah satu rumpun ilmu yang digunakan untuk mengukur kemajuan pendidikan suatu negara, pemahaman peserta didik suatu
    negara terhadap IPA dibandingkan secara rutin sebagaimana dilakukan melalui TIMSS (The Trends in International Mathematics
    and Science Study) dan PISA (Program for International Student</p>

    <div class="mt-5 author text-right">
        Jakarta, Februari 2019
        <br/>
        <br/>
        <br/>
        <br/>
        Tim Penyusun
    </div>

</div>