<p>Assessment). Melalui penilaian internasional seperti ini kita dapat mengetahui kualitas pembelajaran IPA dibandingkan dengan
negara lain. Materi IPA pada Kurikulum 2013 ini telah disesuaikan dengan tuntutan penguasaan materi IPA menurut TIMSS dan
PISA.</p>

<p>Sesuai dengan konsep Kurikulum 2013, buku ini disusun mengacu pada pembelajaran IPA secara terpadu dan utuh, sehingga setiap
pengetahuan yang diajarkan, pembelajarannya harus dilanjutkan sampai membuat peserta didik terampil dalam menyajikan pengetahuan
yang dikuasainya secara konkret dan abstrak, dan bersikap sebagai makhluk yang mensyukuri anugerah alam semesta yang dikaruniakan
kepadanya melalui pemanfaatan yang bertanggung jawab.</p>

<p>Buku ini menjabarkan usaha minimal yang harus dilakukan peserta didik untuk mencapai kompetensi yang diharapkan. Sesuai dengan
pendekatan yang digunakan dalam Kurikulum 2013, peserta didik diberanikan untuk mencari sumber belajar lain yang tersedia
dan terbentang luas di sekitarnya. Peran guru sangat penting untuk meningkatkan dan menyesuaikan daya serap peserta didik
dengan ketersediaan kegiatan pada buku ini. Guru dapat memperkayanya dengan kreasi dalam bentuk kegiatan-kegiatan lain yang
sesuai dan relevan yang bersumber dari lingkungan sosial dan alam.</p>

<p>Sebagai edisi pertama, buku ini sangat terbuka dan terus dilakukan perbaikan dan penyempurnaan. Untuk itu, kami mengundang
para pembaca memberikan kritik, saran, dan masukan untuk perbaikan dan penyempurnaan pada edisi berikutnya. Atas kontribusi
tersebut, kami ucapkan terima kasih. Mudah-mudahan kita dapat memberikan yang terbaik bagi kemajuan dunia pendidikan dalam
rangka mempersiapkan generasi seratus tahun Indonesia Merdeka (2045).</p>

<div class="mt-5 mb-5">Jakarta, Februari 2017</div>
<div>Tim Penulis</div>

