<a href="#" style="color:#444;font-size:13px" class="btn-table-contents" data-page="iii"><b>Kata Pengantar (iii)</b></a>
<ul>
    <li>
        <a href="#" class="btn-table-contents" data-page="1">
            <h3><b>Bab 1.</b> Belajar Mendeskripsikan (1)</h3>
        </a>
        <ol type="A">
            <li>
                <a href="#" class="btn-table-contents" data-page="3">Menentukan Ciri Isi dan Teks Deksripsi (3)</a>
            </li>
            <li>
                <a href="#" class="btn-table-contents" data-page="12">Menentukan Isi Teks Deksripsi (12)</a>
            </li>
            <li>
                <a href="#" class="btn-table-contents" data-page="18">Menelaah Struktur dan Bahasa Teks Deksripsi (18)</a>
            </li>
            <li>
                <a href="#" class="btn-table-contents" data-page="36">Menyajikan Lisan dan Menulis Teks Deksripsi (36)</a>
            </li>
        </ol>
    </li>
    <li>
        <a href="#" class="btn-table-contents" data-page="43">
            <h3><b>Bab 2.</b> Memahami dan Mencipta Cerita Fantasi (43)</h3>
        </a>
        <ol type="A">
            <li>
                <a href="#" class="btn-table-contents" data-page="45">Mengidentifikasi Unsur Cerita Fantasi (45)</a>
            </li>
            <li>
                <a href="#" class="btn-table-contents" data-page="54">Menceritakan Kembali Isi Cerita Fantasi yang Dibaca/ Didengar (54)</a>
            </li>
            <li>
                <a href="#" class="btn-table-contents" data-page="60">Menelaah Struktur dan Bahasa Cerita Fantasi (60)</a>
            </li>
            <li>
                <a href="#" class="btn-table-contents" data-page="73">Menyajikan Cerita Fantasi (73)</a>
            </li>
        </ol>
    </li>
    <li>
        <a href="#" class="btn-table-contents" data-page="81">
            <h3><b>Bab 3.</b> Mewariskan Budaya Melalui Teks Prosedur (81)</h3>
        </a>
        <ol type="A">
            <li>
                <a href="#" class="btn-table-contents" data-page="82">Mengidentifikasi Ciri Teks Prosedur (82)</a>
            </li>
            <li>
                <a href="#" class="btn-table-contents" data-page="92">Menyimpulkan Isi Teks Prosedur (92)</a>
            </li>
            <li>
                <a href="#" class="btn-table-contents" data-page="98">Menelaah Struktur dan Bahasa pada Teks Prosedur (98)</a>
            </li>
            <li>
                <a href="#" class="btn-table-contents" data-page="115">Menulis dan Memeragakan Teks Prosedur (115)</a>
            </li>
        </ol>
    </li>
    <li>
        <a href="#" class="btn-table-contents" data-page="121">
            <h3><b>Bab 4.</b> Menyibak Ilmu dalam Laporan Hasil Observasi (121)</h3>
        </a>
        <ol type="A">
            <li>
                <a href="#" class="btn-table-contents" data-page="124">Mengidentifikasi Teks Hasil Observasi (124)</a>
            </li>
            <li>
                <a href="#" class="btn-table-contents" data-page="132">Menyimpulkan Isi Teks Laporan Hasil Observasi yang Berupa Buku Pengetahuan yang Dibaca dan Didengar (132)</a>
            </li>
            <li>
                <a href="#" class="btn-table-contents" data-page="139">Menelaah Struktur dan Bahasa Teks Hasil Observasi (139)</a>
            </li>
            <li>
                <a href="#" class="btn-table-contents" data-page="158">Merangkum dan Menyajikan Laporan Hasil Observasi (158)</a>
            </li>
        </ol>
    </li>
    <li>
        <a href="#" class="btn-table-contents" data-page="165">
            <h3><b>Bab 5.</b> Mewarisi Nilai Luhur dan Mengkreasikan Puisi Rakyat (165)</h3>
        </a>
        <ol type="A">
            <li>
                <a href="#" class="btn-table-contents" data-page="166">Mengenal dan Memahami Puisi Rakyat (166)</a>
            </li>
            <li>
                <a href="#" class="btn-table-contents" data-page="174">Menyimpulkan Isi Puisi Rakyat (174)</a>
            </li>
            <li>
                <a href="#" class="btn-table-contents" data-page="179">Menelaah Struktur dan Kebahasaan pada Puisi Rakyat (179)</a>
            </li>
            <li>
                <a href="#" class="btn-table-contents" data-page="186">Menyajikan Puisi Rakyat secara Lisan dan Tulis (186)</a>
            </li>
        </ol>
    </li>
    <li>
        <a href="#" class="btn-table-contents" data-page="193">
            <h3><b>Bab 6.</b> Mengapresiasi dan Mengkreasikan Fabel (193)</h3>
        </a>
        <ol type="A">
            <li>
                <a href="#" class="btn-table-contents" data-page="195">Mengenali Ciri Fabel (195)</a>
            </li>
            <li>
                <a href="#" class="btn-table-contents" data-page="205">Menceritakan Kembali Isi Fabel (205)</a>
            </li>
            <li>
                <a href="#" class="btn-table-contents" data-page="209">Menelaah Struktur dan Bahasa Fabel (209)</a>
            </li>
            <li>
                <a href="#" class="btn-table-contents" data-page="235">Memerankan Isi Fabel (235)</a>
            </li>
        </ol>
    </li>
    <li>
        <a href="#" class="btn-table-contents" data-page="243">
            <h3><b>Bab 7.</b> Berkorespondensi dengan Surat Pribadi dan Surat Dinas (243)</h3>
        </a>
        <ol type="A">
            <li>
                <a href="#" class="btn-table-contents" data-page="246">Mengenal dan Memahami Surat (246)</a>
            </li>
            <li>
                <a href="#" class="btn-table-contents" data-page="251">Menyimpulkan Isi Surat Pribadi dan Surat Dinas (251)</a>
            </li>
            <li>
                <a href="#" class="btn-table-contents" data-page="254">Menelaah Struktur dan Bahasa Surat Pribadi dan Surat Dinas (254)</a>
            </li>
            <li>
                <a href="#" class="btn-table-contents" data-page="268">Menulis Surat Pribadi dan Surat Dinas dalam Bentuk Kertas atau Email  (268)</a>
            </li>
        </ol>
    </li>
    <li>
        <a href="#" class="btn-table-contents" data-page="275">
            <h3><b>Bab 8.</b> Menjadi Pembaca Efektif (275)</h3>
        </a>
        <ol type="A">
            <li>
                <a href="#" class="btn-table-contents" data-page="276">Membaca dan Mengenali  Unsur Pembangun Buku Nonfiksi (276)</a>
            </li>
            <li>
                <a href="#" class="btn-table-contents" data-page="277">Merangkum Buku (277)</a>
            </li>
            <li>
                <a href="#" class="btn-table-contents" data-page="282">Menelaah Unsur Buku dan Membuat Komentar (282)</a>
            </li>
            <li>
                <a href="#" class="btn-table-contents" data-page="284">Mengamati Contoh Komentar Terhadap Buku Fiksi dan Nonfiksi (284)</a>
            </li>
        </ol>
    </li>
</ul>
<a href="#" style="color:#444;font-size:13px" class="btn-table-contents" data-page="296">Daftar Pustaka (296)</a></br>
<a href="#" style="color:#444;font-size:13px" class="btn-table-contents" data-page="298">Glosarium (296)</a></br>
<a href="#" style="color:#444;font-size:13px" class="btn-table-contents" data-page="300">Indeks (300)</a></br>
<a href="#" style="color:#444;font-size:13px" class="btn-table-contents" data-page="301">Profil Penulis (301)</a></br>
<a href="#" style="color:#444;font-size:13px" class="btn-table-contents" data-page="304">Profil Penelaah (304)</a></br>
<a href="#" style="color:#444;font-size:13px" class="btn-table-contents" data-page="306">Profil Editor (306)</a></br>