<div class="box" style="background:#F6FFA6;">
    <center><h3>Motivasi untuk Ananda</h3></center>
    
    <p>Ananda, pendidikan merupakan hal yang penting dalam perkembangan dan peradaban suatu bangsa. Setelah terjadi pengeboman di
    Hiroshima dan Nagasaki pada tahun 1945, tahukah Ananda, apa hal pertama yang dipertanyakan oleh Perdana Menteri Jepang
    pada saat itu? Pertanyaan pertama adalah berapa jumlah guru yang tersisa. Tahukah Ananda, bahwa setelah pengeboman tersebut,
    bangsa Jepang dengan cepat memperbaiki segala kerusakan dan terus berkembang, sehingga saat ini menjadi salah satu negara
    maju dan mampu menciptakan berbagai teknologi yang sudah menyebar ke seluruh penjuru dunia. Menurut Ananda, mengapa Perdana
    Menteri Jepang menanyakan mengenai jumlah guru? Tahukah Ananda, guru memiliki peran penting dalam hal perbaikan bangsa
    melalui pendidikan.</p>
    
    <p>Pendidikan merupakan hal yang sangat penting dalam perkembangan dan kemajuan suatu bangsa. Di masa depan, Anandalah yang
    berperan lebih besar bagi kemajuan bangsa, melalui proses pendidikan saat ini. Ananda merupakan aktor dalam proses pendidikan.
    Oleh karena itu, bersungguh- sungguhlah dalam belajar. Mengapa belajar itu penting? Karena dengan belajar Ananda akan banyak
    mendapatkan pengetahuan dan ilmu, juga menambah keterampilan yang akan memperbanyak pengalaman Ananda. Jika Ananda telah
    memiliki banyak pengetahuan, ilmu, keterampilan, dan pengalaman, bagaimana selanjutnya? Ananda akan lebih mampu mengembangkan
    diri, mampu menciptakan inovasi- inovasi, dan tentunya Ananda akan dapat ikut berjuang dalam membangun bangsa Indonesia yang
    lebih maju dan sejahtera! <b>Selamat Belajar dan Berjuang Ananda!</b></p>
</div>