.wrapper {
  overflow: hidden;
}
.page-wrapper {
  width: 1120px;
  margin: 0 auto;
  position: relative;
  perspective: 4000px;
}
.page {
  width: 560px;
  height: 100%; 
  position: absolute;
  top:0;
  background-color: #ffffff;
  padding: 40px 0;
}
.page-container {
  background-color: #ffffff;
  width: 100%; 
  height: 100%; 
  overflow-x: hidden;
  overflow-y: auto;
}
.page img {
  width: 100%;
}
.page-a {
  left: 0;
  z-index: 0;
}
.page-b {
  z-index: 20;
  left: 560px;
  visibility: hidden;
  transform-origin: left center 0;
  transform: rotateY(-90deg);
}
.page-b.turn-right {
  visibility: visible;
  animation-name: pageB-ToRight;
  animation-duration: .3s;
  animation-timing-function: linear;
  transform: rotateY(0deg);
}
.page-c {
  left: 0;
  z-index: 10;
  transform-origin: right center 0;
}
.page-c.turn-right {
  animation-name: pageC-ToRight;
  animation-duration: .3s;
  animation-timing-function: linear;
  transform: rotateY(90deg);
}
.page-d {
  left: 560px;
  z-index: 10;
  transform-origin: left center 0;
}
.page-d.turn-left {
  animation-name: pageD-ToLeft;
  animation-duration: .3s;
  animation-timing-function: linear;
}
.page-e {
  visibility: hidden;
  transform-origin: right center 0;
  transform: rotateY(90deg);
  z-index: 10;
}
.page-e.turn-left {
  animation-name: pageE-ToLeft;
  animation-duration: .6s;
  animation-timing-function: linear;
}
.page-f {
  left: 560px;
  z-index: -20;
}

@keyframes pageD-ToLeft {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-90deg);
    visibility: hidden;
  }
}
@keyframes pageE-ToLeft {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
    visibility: visible;
  }
}

@keyframes pageB-ToRight {
  0% {
    transform: rotateY(-90deg);
  }
  100% {
    transform: rotateY(0deg);
    visibility: visible;
  }
}
@keyframes pageC-ToRight {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
    visibility: hidden;
  }
}


.page::after {
  position: absolute;
  top: 0;
  right: -1px;
  width: 50px;
  height: 100%;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.05), inset -30px 0 30px -24px rgba(0, 0, 0, 0.17);
  content: '';
  z-index: 1000;
}
.page-b::after,
.page-d::after,
.page-f::after {
    right: unset;
    left: 0;
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.05), inset 25px 0 23px -26px rgba(0, 0, 0, 0.15);
}

.page-a,
.page-c {
  box-shadow: -1px 1px 0 0 #eee, 
  -3px 3px 3px rgba(0,0,0,0.15), 
  -3px 3px 0 0 #eee, 
  -5px 5px 5px rgba(0,0,0,0.15), 
  -5px 5px 0 0 #eee, 
  -7px 7px 7px rgba(0,0,0,0.15), 
  -7px 7px 0 0 #eee, 
  -8px 8px 8px rgba(0,0,0,0.15), 
  -8px 8px 0 0 #eee, 
  -9px 9px 9px rgba(0,0,0,0.15), 
  -10px 10px 0 0 #eee;
}
.page-c.first-page {
  box-shadow: -1px 1px 0 0 #eee, 
  -3px 3px 3px rgba(0,0,0,0.15);
} 

.page-d,
.page-f {
  box-shadow: 1px 1px 0 0 #eee, 
  3px 3px 3px rgba(0,0,0,0.15), 
  3px 3px 0 0 #eee, 
  5px 5px 5px rgba(0,0,0,0.15), 
  5px 5px 0 0 #eee, 
  7px 7px 7px rgba(0,0,0,0.15), 
  7px 7px 0 0 #eee, 
  8px 8px 8px rgba(0,0,0,0.15), 
  8px 8px 0 0 #eee, 
  9px 9px 9px rgba(0,0,0,0.15), 
  10px 10px 0 0 #eee;
}
.page-f.last-page {
  background: #fff;
  box-shadow: 1px 1px 0 0 #eee, 
  3px 3px 3px rgba(0,0,0,0.15);
}