body {overflow: hidden;
background:#020202 url(../img/parallax/sky.png) no-repeat;
background-size: cover;}
.scene > div {
  width: 100%;
  height: 100%;
}
.scene > *:nth-child(1) {
  opacity: 0.8;
  left: -50px !important; 
  top: -50px !important; 
}
.scene > *:nth-child(2) {
  opacity: 0.9; 
}
.scene > *:nth-child(3) {
  opacity: 0.95; 
}
.scene > *:nth-child(4) {
  opacity: 0.9; 
}
.scene > *:nth-child(5) {
  opacity: 0.75; 
}
.scene > *:nth-child(6) {
  opacity: 0.9; 
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.3);
  z-index: 9; 
}

/* Safari and Chrome */
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@-webkit-keyframes rotating-reverse {
  to {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating-reverse {
  to {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  from {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating-slow {
  -webkit-animation: rotating 900s linear infinite;
  -moz-animation: rotating 900s linear infinite;
  -ms-animation: rotating 900s linear infinite;
  -o-animation: rotating 900s linear infinite;
  animation: rotating 900s linear infinite;
}
.rotating {
  -webkit-animation: rotating 450s linear infinite;
  -moz-animation: rotating 450s linear infinite;
  -ms-animation: rotating 450s linear infinite;
  -o-animation: rotating 450s linear infinite;
  animation: rotating 450s linear infinite;
}

.rotating-reverse-slow {
  -webkit-animation: rotating-reverse 900s linear infinite;
  -moz-animation: rotating-reverse 900s linear infinite;
  -ms-animation: rotating-reverse 900s linear infinite;
  -o-animation: rotating-reverse 900s linear infinite;
  animation: rotating-reverse 900s linear infinite;
}
.rotating-reverse {
  -webkit-animation: rotating-reverse 450s linear infinite;
  -moz-animation: rotating-reverse 450s linear infinite;
  -ms-animation: rotating-reverse 450s linear infinite;
  -o-animation: rotating-reverse 450s linear infinite;
  animation: rotating-reverse 450s linear infinite;
}