/* Title */
.book__body h3{
    font-size:20px;
    margin-bottom:30px;
    margin-top:30px;
    font-weight:bold;
    text-align: left;
}

.book__body h3 span{
    padding:11px 15px 11px 15px;
    color:#FFF;
    background:#2ecc71;
    margin-right:10px;
}

.book__body h4{
    font-size:16px;
    margin-bottom:30px;
    margin-top:30px;
    font-weight:bold;
    text-align: left;
}

.book__body h4 span{
    padding:11px 15px 11px 15px;
    color:#FFF;
    background:#e67e22;
    margin-right:10px;
}

.book__body h5{
    font-size:14px;
    margin-bottom:30px;
    margin-top:30px;
    font-weight:bold;
    text-indent: 35px;
    text-align: left;
}

.book__body h5 span{
    margin-right:10px;
}

.book__body h6{
    font-weight: bold;
    text-align: left;
}

/* Layout */
.box{
    padding:20px;
    font-size:13px;
    background:#86d2ff52;
    border:2px solid #7096BA;
    -webkit-border-radius: 10px;
    -moz-border-radius:10px;
    border-radius: 10px;
    margin-top:20px;
    margin-bottom:20px;
}
.box h3{
    padding:0px;
    margin:0px;
    margin-bottom:10px;
    font-weight: bold;
}
.box h6{
    padding:0px;
    margin:0px;
    font-size:16px;
    color:orange;
    font-weight: bold;
    margin-bottom:20px;
}

.image b{
    color:#7888BD;
}
.image div{
    margin-top:10px;
}